Shorthills_Custom_Processor/PutFilesOneDrive/PutFilesOneDrive.json
{"flowContents":{"identifier":"40fafacc-50d7-3626-96c7-2a1cd430f191","instanceIdentifier":"5fc44141-0197-1000-c67c-b6035ab52cc4","name":"PutFilesOneDrive","comments":"","position":{"x":-5608.0,"y":1088.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0bebabc3-8031-306f-ffff-ffff99aeaceb","instanceIdentifier":"70d27667-70b1-35d3-eee9-47dfdd8f31fb","name":"PutFilesOneDrive","comments":"This processor uploads the final document to a OneDrive folder.","position":{"x":-2712.0,"y":1960.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/me/drive/root:/${ODATAString}","Request OAuth2 Access Token Provider":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"PUT","Request Username":null,"Request Content-Type":"application/msword","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["No Retry","Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"30 secs","componentType":"PROCESSOR","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"},{"identifier":"2d9898c8-78cb-3cbf-987f-b1476faa0811","instanceIdentifier":"5fc9f127-0197-1000-7d56-cae67d10308a","name":"GenerateFlowFile","comments":"","position":{"x":-3144.0,"y":1952.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","ODATAString":"<path to folder>","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ODATAString":{"name":"ODATAString","displayName":"ODATAString","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"},{"identifier":"4f2359cc-80ef-3ff7-a5e5-62eee4fc1c85","instanceIdentifier":"5fc48ef9-0197-1000-363b-e6ab87d7bb00","name":"LogMessage","comments":"","position":{"x":-2720.0,"y":1744.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":null,"log-level":"debug","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"},{"identifier":"2926d9e2-a100-3b9d-ffff-ffff99aeaceb","instanceIdentifier":"cde1575a-6c6b-320a-f36f-6267f26b3592","name":"LogMessage","comments":"","position":{"x":-2696.0,"y":2160.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"Files Uploadeed successfully","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"750d78ce-c6b3-3768-9ec6-7a3c279a256a","instanceIdentifier":"5fca0409-0197-1000-4ebb-17eaff045cb2","name":"","source":{"id":"2d9898c8-78cb-3cbf-987f-b1476faa0811","type":"PROCESSOR","groupId":"40fafacc-50d7-3626-96c7-2a1cd430f191","name":"GenerateFlowFile","comments":"","instanceIdentifier":"5fc9f127-0197-1000-7d56-cae67d10308a"},"destination":{"id":"0bebabc3-8031-306f-ffff-ffff99aeaceb","type":"PROCESSOR","groupId":"40fafacc-50d7-3626-96c7-2a1cd430f191","name":"PutFilesOneDrive","comments":"This processor uploads the final document to a OneDrive folder.","instanceIdentifier":"70d27667-70b1-35d3-eee9-47dfdd8f31fb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"},{"identifier":"671055f1-31d4-307c-ffff-ffff99aeaceb","instanceIdentifier":"2c841b38-41f2-32a6-3c0b-3d86ece7ca61","name":"","source":{"id":"0bebabc3-8031-306f-ffff-ffff99aeaceb","type":"PROCESSOR","groupId":"40fafacc-50d7-3626-96c7-2a1cd430f191","name":"PutFilesOneDrive","comments":"This processor uploads the final document to a OneDrive folder.","instanceIdentifier":"70d27667-70b1-35d3-eee9-47dfdd8f31fb"},"destination":{"id":"2926d9e2-a100-3b9d-ffff-ffff99aeaceb","type":"PROCESSOR","groupId":"40fafacc-50d7-3626-96c7-2a1cd430f191","name":"LogMessage","comments":"","instanceIdentifier":"cde1575a-6c6b-320a-f36f-6267f26b3592"},"labelIndex":0,"zIndex":1,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"},{"identifier":"0d58300f-a6e9-36c0-ab89-918078aebae9","instanceIdentifier":"5fc4c483-0197-1000-2073-67066f26c9e4","name":"","source":{"id":"0bebabc3-8031-306f-ffff-ffff99aeaceb","type":"PROCESSOR","groupId":"40fafacc-50d7-3626-96c7-2a1cd430f191","name":"PutFilesOneDrive","comments":"This processor uploads the final document to a OneDrive folder.","instanceIdentifier":"70d27667-70b1-35d3-eee9-47dfdd8f31fb"},"destination":{"id":"4f2359cc-80ef-3ff7-a5e5-62eee4fc1c85","type":"PROCESSOR","groupId":"40fafacc-50d7-3626-96c7-2a1cd430f191","name":"LogMessage","comments":"","instanceIdentifier":"5fc48ef9-0197-1000-363b-e6ab87d7bb00"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"21dd52d3-3410-3833-9c55-9e84b3029229","instanceIdentifier":"9534acc7-e99e-3e55-7228-938c2d446974","name":"RedisConnectionPoolService","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.3.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"127.0.0.1:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Sentinel Username":null,"Pool - Min Idle":"0","Username":null,"Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"0","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Sentinel Username":{"name":"Sentinel Username","displayName":"Sentinel Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Password":{"name":"Sentinel Password","displayName":"Sentinel Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"},{"identifier":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","instanceIdentifier":"e994a265-b409-3409-560e-9cc6ac2780af","name":"StandardOauth2AccessTokenProvider","comments":"","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"2.3.0"},"properties":{"client-authentication-strategy":"REQUEST_BODY","audience":null,"grant-type":"refresh_token","authorization-server-url":"https://login.microsoftonline.com/<tenant_id>/oauth2/v2.0/token","ssl-context-service":null,"resource":null,"scope":"App Permsissions","proxy-configuration-service":null,"refresh-window":"0 s","HTTP Protocols":"H2_HTTP_1_1","client-id":"<client_id>","service-user-name":null},"propertyDescriptors":{"audience":{"name":"audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"grant-type":{"name":"grant-type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"resource":{"name":"resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"refresh-window":{"name":"refresh-window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-password":{"name":"service-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-user-name":{"name":"service-user-name","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication-strategy":{"name":"client-authentication-strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-server-url":{"name":"authorization-server-url","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"refresh-token":{"name":"refresh-token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"client-secret":{"name":"client-secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-id":{"name":"client-id","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40fafacc-50d7-3626-96c7-2a1cd430f191"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}