nifi_pipelines/Sales_Rag_Pipelines/Pipeline_Enhancements/Full_RAG1_service_cluster.json
{"flowContents":{"identifier":"0dc70c39-0198-1000-e470-3a3f417f93b8","instanceIdentifier":"101a06a7-d8be-340a-741f-7d095c0b2417","name":"Full_RAG1_service_cluster","comments":"","position":{"x":2256.0,"y":16.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0dc70c54-0198-1000-e219-144ae7c28a54","instanceIdentifier":"d6c0a124-db92-3862-a8a8-5683519a5d06","name":"InvokeHTTP","comments":"This processor calls the Microsoft Graph API to list files in the specified OneDrive folder.\nThe response will contain file metadata including IDs and download URLs.","position":{"x":-504.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"#{graph_api_base}/drives/#{drive_id}/items/#{folder_id}/children","Request OAuth2 Access Token Provider":"0dc70c3c-0198-1000-dc0b-21ddda1a3d8b","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Accept":"application/json","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":"NiFi-OneDrive-RAG-Pipeline","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":"onedrive.response.body","Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"5 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c53-0198-1000-78e3-ce2b461f1f9e","instanceIdentifier":"1ae06f9a-dc38-3312-fa82-e34c8e3b24fb","name":"UpdateAttribute","comments":"","position":{"x":-352.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${onedrive_filename}","web_url":"${web_url}","Store State":"Do not store state","canonical-value-lookup-cache-size":"500","item_id":"${item_id}","drive_id":"${drive_id}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"web_url":{"name":"web_url","displayName":"web_url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"item_id":{"name":"item_id","displayName":"item_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"drive_id":{"name":"drive_id","displayName":"drive_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c4b-0198-1000-5b28-3103afca3097","instanceIdentifier":"1f7f716f-4406-39f3-c2bd-9cd230a38a26","name":"LogAttribute","comments":"","position":{"x":-936.0,"y":152.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c48-0198-1000-3b6b-888aba6c94a9","instanceIdentifier":"7b52e762-b6fc-38b4-5139-e767204f7c2c","name":"LogAttribute","comments":"","position":{"x":512.0,"y":-992.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c3e-0198-1000-da5e-bd287e9dce6e","instanceIdentifier":"fd438db9-2180-3b0e-2d28-e682ae2036ae","name":"LogAttribute","comments":"","position":{"x":-976.0,"y":-704.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c55-0198-1000-4aa4-cc09be92d26f","instanceIdentifier":"fbcafbc0-7734-353a-b8cd-d9e792693841","name":"PutDistributedMapCache","comments":"","position":{"x":136.0,"y":120.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Cache Entry Identifier":"${item_id}","Cache update strategy":"replace","Distributed Cache Service":"0dc70c3b-0198-1000-311e-ebc3c0e035c2","Max cache entry size":"30 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"5 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c4c-0198-1000-14aa-6c061815b234","instanceIdentifier":"c6f32d3b-c662-364b-1117-2793936342e3","name":"RouteOnAttribute","comments":"","position":{"x":-1376.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"is_processed":"${redis_result:isEmpty():not()}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"is_processed":{"name":"is_processed","displayName":"is_processed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"e1786156-346c-3c41-8e07-ef6aaf6a931b","instanceIdentifier":"0efc8c38-0198-1000-3124-7c8951267d5d","name":"ExecuteStreamCommand","comments":"","position":{"x":24.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"5242880","Output MIME Type":"application/json","Working Directory":null,"Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/shtlp_0149/services/extract_text_service.py;${onedrive_filename};${web_url}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c4e-0198-1000-2a6c-f18af2433733","instanceIdentifier":"9ee5e93e-3f48-3d09-9c71-8604d4dba24e","name":"SplitJson","comments":"This processor splits the array of text chunks into individual flowfiles.\nEach output flowfile will contain a single chunk with its metadata.","position":{"x":-40.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.chunks[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c49-0198-1000-8ff1-32ec891db96e","instanceIdentifier":"97d22ae6-f8cc-3f9f-a476-35bf0053f9ed","name":"InvokeHTTP","comments":"This processor downloads the actual file content from OneDrive using the file ID.\nThe downloaded content will be in the original file format (DOCX/PPTX).","position":{"x":-608.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/drives/${drive_id}/items/${item_id}/content\n","Request OAuth2 Access Token Provider":"0dc70c3c-0198-1000-dc0b-21ddda1a3d8b","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Accept":"*/*","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"URL_PATH","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c51-0198-1000-7f7f-ef3a53b07465","instanceIdentifier":"4c02dafb-9ed3-315b-03fa-bd7787cf38e8","name":"MergeContent","comments":"","position":{"x":224.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":"200 KB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"20","Minimum Group Size":"0 B","Maximum number of Bins":"10","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"60 secs","Demarcator File":",","Correlation Attribute Name":"group","Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c50-0198-1000-01c4-92c3116f69ef","instanceIdentifier":"93b493f9-025c-3062-9ff5-06b5efd7721c","name":"LogAttribute","comments":"","position":{"x":416.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c3d-0198-1000-8fcf-d8919bb1604d","instanceIdentifier":"fb135ca0-c74a-3321-8ed3-cc702a175276","name":"LogAttribute","comments":"","position":{"x":656.0,"y":168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c4a-0198-1000-ccd3-991f79b145ba","instanceIdentifier":"b46ec54c-e2e4-3e7e-87f9-7881f2ea59df","name":"EvaluateJsonPath","comments":"","position":{"x":-536.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","item_id":"$.id","drive_id":"$.parentReference.driveId","Return Type":"auto-detect","parent_folder_path":"$.parentReference.path","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","web_url":"$.webUrl","file_type":"$.file.mimeType","download_url":"$['@microsoft.graph.downloadUrl']","onedrive_filename":"$.name","folder_id":"$.parentReference.id"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"item_id":{"name":"item_id","displayName":"item_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"drive_id":{"name":"drive_id","displayName":"drive_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parent_folder_path":{"name":"parent_folder_path","displayName":"parent_folder_path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"web_url":{"name":"web_url","displayName":"web_url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"file_type":{"name":"file_type","displayName":"file_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"download_url":{"name":"download_url","displayName":"download_url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"onedrive_filename":{"name":"onedrive_filename","displayName":"onedrive_filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"folder_id":{"name":"folder_id","displayName":"folder_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c44-0198-1000-369d-ab3ef9312c07","instanceIdentifier":"38b4712f-5d49-3438-543a-65f16e958ef1","name":"GenerateFlowFile","comments":"This processor generates a trigger flowfile every minute to start the OneDrive file scanning process.\nThe flowfile contains a timestamp of when the scan was initiated.","position":{"x":-616.0,"y":-880.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0f00775d-0198-1000-4251-ab4e31ef9345","instanceIdentifier":"02a47dc7-dc24-39a8-2646-0d02a7af14e9","name":"ExecuteStreamCommand","comments":"","position":{"x":-96.0,"y":-960.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"5242880","Output MIME Type":"application/json","Working Directory":null,"Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/shtlp_0149/services/upload_weaviate_service.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c46-0198-1000-17b7-ef4729bf5dd0","instanceIdentifier":"1a8e3517-5b76-3a73-a8f4-42b11d1e0678","name":"UpdateAttribute","comments":"This processor adds processing status attributes to the flowfile after successful upload to Weaviate.\nIt timestamps the processing completion and marks the status as success for tracking purposes.","position":{"x":-128.0,"y":-1232.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"processed.timestamp":"${now():format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")}","processed.filename":"${filename}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"processed.status":"succcess"},"propertyDescriptors":{"processed.timestamp":{"name":"processed.timestamp","displayName":"processed.timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"processed.filename":{"name":"processed.filename","displayName":"processed.filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"processed.status":{"name":"processed.status","displayName":"processed.status","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c40-0198-1000-d2a8-53a4f57318a0","instanceIdentifier":"0c1f2179-abc7-3fc5-4f4f-b278175f843c","name":"LogAttribute","comments":"","position":{"x":152.0,"y":384.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c3f-0198-1000-116a-3c9406d8a29e","instanceIdentifier":"1b175e55-c72d-3589-4097-71e5ac7968da","name":"SplitJson","comments":"This processor splits the array of files into individual flowfiles.\nEach output flowfile will contain metadata for a single file.","position":{"x":-504.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.value[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c4d-0198-1000-8147-491e9232d0e2","instanceIdentifier":"81d77275-3ce9-3ded-37a1-7ef08538411e","name":"FetchDistributedMapCache","comments":"","position":{"x":-1136.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Cache Entry Identifier":"${item_id}","Put Cache Value In Attribute":"redis_result","Distributed Cache Service":"0dc70c3b-0198-1000-311e-ebc3c0e035c2","Max Length To Put In Attribute":"256376","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c4f-0198-1000-a3f0-4b801befc2e2","instanceIdentifier":"2fef883f-c2ce-36e6-afc2-7f8c716c384d","name":"ReplaceText","comments":"","position":{"x":472.0,"y":-664.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(.*)","Replacement Value":"{ \"chunks\": $1 }","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"5 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c42-0198-1000-4d64-b6461402b1d9","instanceIdentifier":"202a3a31-fd17-332a-7f60-440c249f0b07","name":"LogAttribute","comments":"","position":{"x":-1688.0,"y":144.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c45-0198-1000-8a4b-c75e79d4cbe7","instanceIdentifier":"0ba15ddc-761e-35ea-8853-602c218cc338","name":"LogAttribute","comments":"","position":{"x":520.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c43-0198-1000-5bd9-bcd052636267","instanceIdentifier":"1b6386ec-0a4e-3ae5-5e8a-8a5bef8ca749","name":"LogAttribute","comments":"","position":{"x":-1496.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"3d8bb312-3c3f-3b58-9db1-6aac1401b10d","instanceIdentifier":"0efff16d-0198-1000-b058-2803748ee2a4","name":"ExecuteStreamCommand","comments":"","position":{"x":-88.0,"y":-712.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"5242880","Output MIME Type":"application/json","Working Directory":null,"Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/shtlp_0149/services/generate_embedding_service.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0dc70c5d-0198-1000-73b7-e17abc10a291","instanceIdentifier":"0b0103c4-042b-3594-dd13-0040605d68ce","name":"","source":{"id":"0dc70c55-0198-1000-4aa4-cc09be92d26f","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"fbcafbc0-7734-353a-b8cd-d9e792693841"},"destination":{"id":"0dc70c40-0198-1000-d2a8-53a4f57318a0","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"0c1f2179-abc7-3fc5-4f4f-b278175f843c"},"labelIndex":0,"zIndex":42,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"9cbca218-4f2c-35d3-a8f5-cf64b8012889","instanceIdentifier":"0efee080-0198-1000-c840-8c6d326f42e3","name":"","source":{"id":"e1786156-346c-3c41-8e07-ef6aaf6a931b","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"0efc8c38-0198-1000-3124-7c8951267d5d"},"destination":{"id":"0dc70c4e-0198-1000-2a6c-f18af2433733","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"SplitJson","comments":"This processor splits the array of text chunks into individual flowfiles.\nEach output flowfile will contain a single chunk with its metadata.","instanceIdentifier":"9ee5e93e-3f48-3d09-9c71-8604d4dba24e"},"labelIndex":0,"zIndex":50,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"744fdc96-f97a-3cd9-a4e4-2c50e75df297","instanceIdentifier":"1962cb55-0198-1000-80ec-aa4f88362cb5","name":"","source":{"id":"3d8bb312-3c3f-3b58-9db1-6aac1401b10d","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"0efff16d-0198-1000-b058-2803748ee2a4"},"destination":{"id":"0dc70c50-0198-1000-01c4-92c3116f69ef","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"93b493f9-025c-3062-9ff5-06b5efd7721c"},"labelIndex":0,"zIndex":55,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c56-0198-1000-8c98-71c007076a0c","instanceIdentifier":"8343adb8-489a-3c4e-bb8b-4f7b49597972","name":"","source":{"id":"0dc70c3f-0198-1000-116a-3c9406d8a29e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"SplitJson","comments":"This processor splits the array of files into individual flowfiles.\nEach output flowfile will contain metadata for a single file.","instanceIdentifier":"1b175e55-c72d-3589-4097-71e5ac7968da"},"destination":{"id":"0dc70c4a-0198-1000-ccd3-991f79b145ba","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b46ec54c-e2e4-3e7e-87f9-7881f2ea59df"},"labelIndex":0,"zIndex":24,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c68-0198-1000-da4b-b1d461756e37","instanceIdentifier":"bfdd4f53-99e7-3bb0-a603-28fbbbc2a0a9","name":"","source":{"id":"0dc70c4d-0198-1000-8147-491e9232d0e2","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"81d77275-3ce9-3ded-37a1-7ef08538411e"},"destination":{"id":"0dc70c4c-0198-1000-14aa-6c061815b234","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c6f32d3b-c662-364b-1117-2793936342e3"},"labelIndex":0,"zIndex":39,"selectedRelationships":["not-found","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"ee4520d5-6d39-37cd-87b0-3b527465ed15","instanceIdentifier":"0f00dda5-0198-1000-b93a-20fa1cfe557b","name":"","source":{"id":"3d8bb312-3c3f-3b58-9db1-6aac1401b10d","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"0efff16d-0198-1000-b058-2803748ee2a4"},"destination":{"id":"0f00775d-0198-1000-4251-ab4e31ef9345","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"02a47dc7-dc24-39a8-2646-0d02a7af14e9"},"labelIndex":0,"zIndex":52,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"267ebdde-c9fa-38eb-ab5c-6f72cc954ddb","instanceIdentifier":"1962e4e0-0198-1000-bc26-e177f9b79881","name":"","source":{"id":"0f00775d-0198-1000-4251-ab4e31ef9345","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"02a47dc7-dc24-39a8-2646-0d02a7af14e9"},"destination":{"id":"0dc70c48-0198-1000-3b6b-888aba6c94a9","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"7b52e762-b6fc-38b4-5139-e767204f7c2c"},"labelIndex":0,"zIndex":56,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c5e-0198-1000-3343-68ed07d33db5","instanceIdentifier":"10e6635a-3036-31d4-59f2-5c364face184","name":"","source":{"id":"0dc70c4e-0198-1000-2a6c-f18af2433733","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"SplitJson","comments":"This processor splits the array of text chunks into individual flowfiles.\nEach output flowfile will contain a single chunk with its metadata.","instanceIdentifier":"9ee5e93e-3f48-3d09-9c71-8604d4dba24e"},"destination":{"id":"0dc70c51-0198-1000-7f7f-ef3a53b07465","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"MergeContent","comments":"","instanceIdentifier":"4c02dafb-9ed3-315b-03fa-bd7787cf38e8"},"labelIndex":0,"zIndex":45,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c59-0198-1000-6bad-aa7e81f2ba5f","instanceIdentifier":"d586ef5a-828b-31b4-a018-6109d7aeb3f8","name":"","source":{"id":"0dc70c4c-0198-1000-14aa-6c061815b234","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c6f32d3b-c662-364b-1117-2793936342e3"},"destination":{"id":"0dc70c42-0198-1000-4d64-b6461402b1d9","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"202a3a31-fd17-332a-7f60-440c249f0b07"},"labelIndex":0,"zIndex":35,"selectedRelationships":["is_processed"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"26da197f-4ab9-3eef-a3d6-37373a4928ff","instanceIdentifier":"0f010521-0198-1000-306c-38f2ab37a531","name":"","source":{"id":"0f00775d-0198-1000-4251-ab4e31ef9345","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"02a47dc7-dc24-39a8-2646-0d02a7af14e9"},"destination":{"id":"0dc70c46-0198-1000-17b7-ef4729bf5dd0","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"UpdateAttribute","comments":"This processor adds processing status attributes to the flowfile after successful upload to Weaviate.\nIt timestamps the processing completion and marks the status as success for tracking purposes.","instanceIdentifier":"1a8e3517-5b76-3a73-a8f4-42b11d1e0678"},"labelIndex":0,"zIndex":53,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"92c929d0-cc96-32f7-a327-972592305294","instanceIdentifier":"0f002614-0198-1000-8c79-898c547cecd7","name":"","source":{"id":"0dc70c4f-0198-1000-a3f0-4b801befc2e2","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ReplaceText","comments":"","instanceIdentifier":"2fef883f-c2ce-36e6-afc2-7f8c716c384d"},"destination":{"id":"3d8bb312-3c3f-3b58-9db1-6aac1401b10d","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"0efff16d-0198-1000-b058-2803748ee2a4"},"labelIndex":0,"zIndex":51,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"7e11c0f8-88d6-3657-a2e4-d7f0aa7d0309","instanceIdentifier":"0efec02d-0198-1000-7c50-d3c26fd8400f","name":"","source":{"id":"0dc70c53-0198-1000-78e3-ce2b461f1f9e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"UpdateAttribute","comments":"","instanceIdentifier":"1ae06f9a-dc38-3312-fa82-e34c8e3b24fb"},"destination":{"id":"e1786156-346c-3c41-8e07-ef6aaf6a931b","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"0efc8c38-0198-1000-3124-7c8951267d5d"},"labelIndex":0,"zIndex":49,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c5a-0198-1000-743b-bd97f97fabf7","instanceIdentifier":"c7da9d49-56d2-3ab5-6c2e-5b7e691c3062","name":"","source":{"id":"0dc70c51-0198-1000-7f7f-ef3a53b07465","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"MergeContent","comments":"","instanceIdentifier":"4c02dafb-9ed3-315b-03fa-bd7787cf38e8"},"destination":{"id":"0dc70c4f-0198-1000-a3f0-4b801befc2e2","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ReplaceText","comments":"","instanceIdentifier":"2fef883f-c2ce-36e6-afc2-7f8c716c384d"},"labelIndex":0,"zIndex":30,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c61-0198-1000-c7d4-0c6e3637b5cd","instanceIdentifier":"d1d69c13-3ee4-3c3b-caac-9309eb8ecac4","name":"","source":{"id":"0dc70c55-0198-1000-4aa4-cc09be92d26f","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"fbcafbc0-7734-353a-b8cd-d9e792693841"},"destination":{"id":"0dc70c3d-0198-1000-8fcf-d8919bb1604d","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"fb135ca0-c74a-3321-8ed3-cc702a175276"},"labelIndex":0,"zIndex":41,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c66-0198-1000-f9d3-5cf109f609d4","instanceIdentifier":"76565386-a4fd-3470-f491-c76b63c0fa0e","name":"","source":{"id":"0dc70c54-0198-1000-e219-144ae7c28a54","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"InvokeHTTP","comments":"This processor calls the Microsoft Graph API to list files in the specified OneDrive folder.\nThe response will contain file metadata including IDs and download URLs.","instanceIdentifier":"d6c0a124-db92-3862-a8a8-5683519a5d06"},"destination":{"id":"0dc70c3f-0198-1000-116a-3c9406d8a29e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"SplitJson","comments":"This processor splits the array of files into individual flowfiles.\nEach output flowfile will contain metadata for a single file.","instanceIdentifier":"1b175e55-c72d-3589-4097-71e5ac7968da"},"labelIndex":0,"zIndex":23,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"2ca1e4de-8824-3339-9935-767f3717ef5f","instanceIdentifier":"19665b3a-0198-1000-420f-2bb7ddb61ab0","name":"","source":{"id":"0dc70c4a-0198-1000-ccd3-991f79b145ba","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b46ec54c-e2e4-3e7e-87f9-7881f2ea59df"},"destination":{"id":"0dc70c4d-0198-1000-8147-491e9232d0e2","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"81d77275-3ce9-3ded-37a1-7ef08538411e"},"labelIndex":0,"zIndex":57,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c60-0198-1000-7730-7c9aa64875d5","instanceIdentifier":"4a012b59-8c04-3684-1e41-dd38ad673bd0","name":"","source":{"id":"0dc70c53-0198-1000-78e3-ce2b461f1f9e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"UpdateAttribute","comments":"","instanceIdentifier":"1ae06f9a-dc38-3312-fa82-e34c8e3b24fb"},"destination":{"id":"0dc70c55-0198-1000-4aa4-cc09be92d26f","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"fbcafbc0-7734-353a-b8cd-d9e792693841"},"labelIndex":0,"zIndex":43,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"2f970c0e-3bb7-316c-ba51-3dab4664b76c","instanceIdentifier":"0f1500e9-0198-1000-7bd0-332d2ff159b5","name":"","source":{"id":"e1786156-346c-3c41-8e07-ef6aaf6a931b","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"0efc8c38-0198-1000-3124-7c8951267d5d"},"destination":{"id":"0dc70c45-0198-1000-8a4b-c75e79d4cbe7","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"0ba15ddc-761e-35ea-8853-602c218cc338"},"labelIndex":0,"zIndex":54,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c5f-0198-1000-9448-119d89eca7e0","instanceIdentifier":"2db23ad0-91a4-33e0-69d7-bc822fb028b5","name":"","source":{"id":"0dc70c44-0198-1000-369d-ab3ef9312c07","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"GenerateFlowFile","comments":"This processor generates a trigger flowfile every minute to start the OneDrive file scanning process.\nThe flowfile contains a timestamp of when the scan was initiated.","instanceIdentifier":"38b4712f-5d49-3438-543a-65f16e958ef1"},"destination":{"id":"0dc70c54-0198-1000-e219-144ae7c28a54","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"InvokeHTTP","comments":"This processor calls the Microsoft Graph API to list files in the specified OneDrive folder.\nThe response will contain file metadata including IDs and download URLs.","instanceIdentifier":"d6c0a124-db92-3862-a8a8-5683519a5d06"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"fcb0b81d-ee42-30c7-bba9-d7b5bcde4a75","instanceIdentifier":"19669b91-0198-1000-3337-6e811fab8c4d","name":"","source":{"id":"0dc70c4c-0198-1000-14aa-6c061815b234","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c6f32d3b-c662-364b-1117-2793936342e3"},"destination":{"id":"0dc70c49-0198-1000-8ff1-32ec891db96e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"InvokeHTTP","comments":"This processor downloads the actual file content from OneDrive using the file ID.\nThe downloaded content will be in the original file format (DOCX/PPTX).","instanceIdentifier":"97d22ae6-f8cc-3f9f-a476-35bf0053f9ed"},"labelIndex":0,"zIndex":58,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c6b-0198-1000-2828-751faf831b23","instanceIdentifier":"324d17bd-4eae-3641-0f16-0ba69bbf4a4b","name":"","source":{"id":"0dc70c4d-0198-1000-8147-491e9232d0e2","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"81d77275-3ce9-3ded-37a1-7ef08538411e"},"destination":{"id":"0dc70c43-0198-1000-5bd9-bcd052636267","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"1b6386ec-0a4e-3ae5-5e8a-8a5bef8ca749"},"labelIndex":0,"zIndex":38,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c62-0198-1000-aa9c-a6529e3e5963","instanceIdentifier":"278ba5a8-7a24-3ae8-e642-2e1b8b4388cb","name":"","source":{"id":"0dc70c54-0198-1000-e219-144ae7c28a54","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"InvokeHTTP","comments":"This processor calls the Microsoft Graph API to list files in the specified OneDrive folder.\nThe response will contain file metadata including IDs and download URLs.","instanceIdentifier":"d6c0a124-db92-3862-a8a8-5683519a5d06"},"destination":{"id":"0dc70c3e-0198-1000-da5e-bd287e9dce6e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"fd438db9-2180-3b0e-2d28-e682ae2036ae"},"labelIndex":0,"zIndex":44,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"8ba75cf7-bbc2-353b-b86e-5e99abf9c700","instanceIdentifier":"0efe747c-0198-1000-5448-4d9373c96b58","name":"","source":{"id":"0dc70c49-0198-1000-8ff1-32ec891db96e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"InvokeHTTP","comments":"This processor downloads the actual file content from OneDrive using the file ID.\nThe downloaded content will be in the original file format (DOCX/PPTX).","instanceIdentifier":"97d22ae6-f8cc-3f9f-a476-35bf0053f9ed"},"destination":{"id":"0dc70c53-0198-1000-78e3-ce2b461f1f9e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"UpdateAttribute","comments":"","instanceIdentifier":"1ae06f9a-dc38-3312-fa82-e34c8e3b24fb"},"labelIndex":0,"zIndex":47,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0432225d-cfeb-3117-acf7-d66ae77f2f72","instanceIdentifier":"0efe90eb-0198-1000-1f4a-91bf370daa05","name":"","source":{"id":"0dc70c49-0198-1000-8ff1-32ec891db96e","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"InvokeHTTP","comments":"This processor downloads the actual file content from OneDrive using the file ID.\nThe downloaded content will be in the original file format (DOCX/PPTX).","instanceIdentifier":"97d22ae6-f8cc-3f9f-a476-35bf0053f9ed"},"destination":{"id":"0dc70c4b-0198-1000-5b28-3103afca3097","type":"PROCESSOR","groupId":"0dc70c39-0198-1000-e470-3a3f417f93b8","name":"LogAttribute","comments":"","instanceIdentifier":"1f7f716f-4406-39f3-c2bd-9cd230a38a26"},"labelIndex":0,"zIndex":48,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0dc70c3c-0198-1000-dc0b-21ddda1a3d8b","instanceIdentifier":"f9b3413c-7567-37de-4bfa-c36aac5bb5d3","name":"StandardOauth2AccessTokenProvider","comments":"","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"2.4.0"},"properties":{"Refresh Window":"30 s","SSL Context Service":null,"Authorization Server URL":"https://login.microsoftonline.com/85a77b6c-a790-4bcf-8fd6-c1f891dd360b/oauth2/v2.0/token","Client ID":"b4af8c2b-f217-4a5c-85ac-2438972617e0","Scope":"https://graph.microsoft.com/.default","Username":null,"Audience":null,"proxy-configuration-service":null,"Resource":null,"Grant Type":"refresh_token","HTTP Protocols":"H2_HTTP_1_1","Client Authentication Strategy":"REQUEST_BODY"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Audience":{"name":"Audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource":{"name":"Resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grant Type":{"name":"Grant Type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Refresh Token":{"name":"Refresh Token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Refresh Window":{"name":"Refresh Window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Authorization Server URL":{"name":"Authorization Server URL","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client secret":{"name":"Client secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Scope":{"name":"Scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication Strategy":{"name":"Client Authentication Strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c3a-0198-1000-cd46-1a3f067333ef","instanceIdentifier":"dbae754a-44f8-3416-e911-cd3255c6213a","name":"RedisConnectionPoolService","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.4.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"localhost:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Sentinel Username":null,"Pool - Min Idle":"0","Username":null,"Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"1","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Sentinel Username":{"name":"Sentinel Username","displayName":"Sentinel Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Password":{"name":"Sentinel Password","displayName":"Sentinel Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"},{"identifier":"0dc70c3b-0198-1000-311e-ebc3c0e035c2","instanceIdentifier":"218840f1-dcbe-3aef-4e96-727deda84be7","name":"RedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.4.0"},"properties":{"redis-connection-pool":"0dc70c3a-0198-1000-cd46-1a3f067333ef","redis-cache-ttl":"0 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0dc70c39-0198-1000-e470-3a3f417f93b8"}],"parameterContextName":"Final_RAG_Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Final_RAG_Parameters":{"name":"Final_RAG_Parameters","parameters":[{"name":"access_token","description":"","sensitive":false,"provided":false,"value":""},{"name":"drive_id","description":"","sensitive":false,"provided":false,"value":""},{"name":"graph_api_base","description":"","sensitive":false,"provided":false,"value":""},{"name":"folder_id","description":"","sensitive":false,"provided":false,"value":""},{"name":"extraction_service_url","description":"","sensitive":false,"provided":false,"value":""},{"name":"embedding_service_url","description":"","sensitive":false,"provided":false,"value":""},{"name":"weaviate_service_url","description":"","sensitive":false,"provided":false,"value":""},{"name":"weaviate_api_key","description":"","sensitive":false,"provided":false,"value":""}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}