Shorthills_Custom_Processor/OneDriveCustomProcessor/custom_onedrive_new.json
{"flowContents":{"identifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","instanceIdentifier":"8bb253da-0197-1000-1eba-619c85f4798f","name":"custom_onedrive","comments":"","position":{"x":1504.0,"y":8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3cf79f4b-930f-3006-a2d4-5ae52c811cfd","instanceIdentifier":"965b52a2-0197-1000-97eb-dad7990cab66","name":"UpdateAttribute","comments":"","position":{"x":-592.0,"y":104.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${file_name}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"target":"#{target}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target":{"name":"target","displayName":"target","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"51e10b0e-cced-3a35-b620-7da1fa04aa6a","instanceIdentifier":"93625b37-0197-1000-1118-e0505c0c8192","name":"UpdateAttribute","comments":"","position":{"x":-1128.0,"y":-280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","action":"#{action}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"action":{"name":"action","displayName":"action","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"e78fc147-f91c-3b08-bce5-7d902fa0c8f9","instanceIdentifier":"8be37b8a-0197-1000-e10b-365d05db4ce4","name":"RouteOnAttribute Action Check","comments":"","position":{"x":-1608.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","is_download":"${action_lower:equals('download'):or(${action_lower:equals('both')})}","is_view":"${action_lower:equals('view'):or(${action_lower:equals('both')})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_download":{"name":"is_download","displayName":"is_download","identifiesControllerService":false,"sensitive":false,"dynamic":true},"is_view":{"name":"is_view","displayName":"is_view","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"24e278ab-0e6f-357a-8933-65665bcf6cc6","instanceIdentifier":"8ca3432c-0197-1000-0d4f-dfd05dbb6f86","name":"LogAttribute","comments":"","position":{"x":-136.22314453125,"y":-594.0120849609375},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"0a0889d0-ff3c-3e4b-a2ef-431336e369cf","instanceIdentifier":"8ca076d4-0197-1000-d22c-e24d7d9dbdbb","name":"InvokeHTTP","comments":"","position":{"x":-608.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"15 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer #{access_token}","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/drives/#{source_drive_id}/items/${item_id}/children","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"30 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"5 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"21b29410-25af-3917-9dae-c541ee684122","instanceIdentifier":"936c997d-0197-1000-a221-b0ccfa9037e2","name":"JoltTransformJSON","comments":"","position":{"x":-1728.0,"y":216.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-shift","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n  \"name\": \"name\",\n  \"size\": \"size\",\n  \"file\": {\n    \"mimeType\": \"mimeType\"\n  },\n  \"webUrl\": \"webUrl\"\n}"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"c1746b12-32bd-324e-990b-1af9bc91c616","instanceIdentifier":"8c2d7ea8-0197-1000-9a2b-3448b7f8a9c5","name":"LogAttribute","comments":"","position":{"x":424.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"7a084dc1-46b5-3150-bb31-f9b6bea44bde","instanceIdentifier":"8bdace7d-0197-1000-8f2f-d6e716f42f3b","name":"InvokeHTTP_list_files","comments":"","position":{"x":-744.0,"y":-784.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"15 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer #{access_token}","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/drives/#{source_drive_id}/items/#{source_folder_id}/children","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Accept":"application/json","Socket Write Timeout":"30 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"5 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"1418f68e-18c5-3f56-b06a-0efc2d39c58b","instanceIdentifier":"8c9f11b2-0197-1000-0595-b0d522a8ee9a","name":"RouteOnAttribute","comments":"","position":{"x":-704.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","is_folder":"${fragment.childCount:trim():toNumber():gt(0)}","is_file":"${fragment.childCount:trim():isNull():or(${fragment.childCount:trim():length():equals(0)})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_folder":{"name":"is_folder","displayName":"is_folder","identifiesControllerService":false,"sensitive":false,"dynamic":true},"is_file":{"name":"is_file","displayName":"is_file","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"c9aebeb3-c892-3eba-8a6b-e70dfbf00b56","instanceIdentifier":"8c3ca4e3-0197-1000-a0f2-60a5ca4759f1","name":"ReplaceText","comments":"","position":{"x":112.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(.*)","Replacement Value":"{\n  \"parentReference\": {\n    \"driveId\": \"#{target_drive_id}\",\n    \"id\": \"#{target_folder_id}\"\n  },\n  \"name\": \"${file_name}\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"db456ae6-9b0d-3719-9904-232bf00f54e6","instanceIdentifier":"8c12b079-0197-1000-8ed5-7607b446bd58","name":"InvokeHTTP Download File (Local Save)","comments":"","position":{"x":72.0,"y":168.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"15 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${file_url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"30 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"5 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"8f306f3b-f5e7-39cf-a808-10a1c1c8b153","instanceIdentifier":"937121bf-0197-1000-17e5-e61baf702b3e","name":"MergeContent","comments":"","position":{"x":-1688.0,"y":432.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"b4aff430-9352-395f-961a-b24860bfb788","instanceIdentifier":"8c0fe34b-0197-1000-debf-fc4ca0b3f57c","name":"RouteOnAttribute Target Type","comments":"","position":{"x":26.70123291015625,"y":-68.951904296875},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","to_onedrive":"${download_target_lower:equals(\"onedrive\")}","to_local":"${download_target_lower:equals(\"local\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"to_onedrive":{"name":"to_onedrive","displayName":"to_onedrive","identifiesControllerService":false,"sensitive":false,"dynamic":true},"to_local":{"name":"to_local","displayName":"to_local","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"35c9443f-4ae1-3c29-b202-4c0faa3ad2b6","instanceIdentifier":"8c9b54ba-0197-1000-a0e0-f72436daa58f","name":"SplitJson","comments":"","position":{"x":-1320.0,"y":-720.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"80 MB","Null Value Representation":"empty string","JsonPath Expression":"$.value[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"f291473f-0236-341d-85b8-0038c48faa2e","instanceIdentifier":"b0af252f-0197-1000-096a-1051a59220b1","name":"UpdateAttribute","comments":"","position":{"x":-1568.0,"y":-240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"action_lower":"${action:toLower()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"action_lower":{"name":"action_lower","displayName":"action_lower","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"c465ee71-60c0-39d4-8920-d75dc02aa31e","instanceIdentifier":"8c148e14-0197-1000-3054-7897c017535f","name":"LogAttribute","comments":"","position":{"x":-92.90570068359375,"y":385.8338623046875},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"387d8eff-3fcf-3ac3-bc5b-95f79886140e","instanceIdentifier":"b0ead408-0197-1000-50ac-c58a50597614","name":"PutFile","comments":"","position":{"x":-942.2006225585938,"y":459.7744445800781},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/shtlp_0149/NIFI_RAG/output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"8c12c7f0-0197-1000-bfc5-df002bf3afba","instanceIdentifier":"697f615d-bd72-3ad5-0130-7416d5b13b4d","name":"InvokeHTTP Copy File to Another OneDrive Folder","comments":"","position":{"x":376.0,"y":-448.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"15 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer #{access_token}","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/drives/#{target_drive_id}/items/${file_id}/copy","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"30 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"5 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"4e8c7fec-f0b9-33f3-bcf3-2dbf130297e5","instanceIdentifier":"b0b73fd8-0197-1000-7d96-54c9774fbb64","name":"UpdateAttribute","comments":"","position":{"x":-376.0,"y":-56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","download_target_lower":"${target:toLower()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"download_target_lower":{"name":"download_target_lower","displayName":"download_target_lower","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"7c4494ce-0995-38a0-8152-cc2b35da943b","instanceIdentifier":"8bd8aecd-0197-1000-5fad-40aedd80a90b","name":"GenerateFlowFile","comments":"","position":{"x":-688.0,"y":-1032.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"Trigger","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"8caff49e-bf95-3c1f-ba7e-2455eaaaffbc","instanceIdentifier":"8bdef3ca-0197-1000-fd85-65a40bedf9c7","name":"EvaluateJsonPath_Extract_File_Metadata","comments":"","position":{"x":-1184.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","fragment.childCount":"$.folder.childCount","Max String Length":"20 MB","item_id":"$.id","file_list":"$.value","Return Type":"auto-detect","Null Value Representation":"the string 'null'","item_name":"$.name","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fragment.childCount":{"name":"fragment.childCount","displayName":"fragment.childCount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"item_id":{"name":"item_id","displayName":"item_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"file_list":{"name":"file_list","displayName":"file_list","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"item_name":{"name":"item_name","displayName":"item_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"c901e26a-276c-3472-b4a2-fcde6f59855e","instanceIdentifier":"8c1410a0-0197-1000-fb18-9b59b94390c8","name":"PutFile","comments":"","position":{"x":640.0,"y":336.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/shtlp_0149/NIFI_RAG/output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"bb459cee-404a-3f03-9383-7fbde3307079","instanceIdentifier":"b0ee8487-0197-1000-a62a-c1d54cf72012","name":"UpdateAttribute","comments":"","position":{"x":-1304.0,"y":576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"metadata.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"3a68293f-b30b-3922-ac1f-e15e1f6221c0","instanceIdentifier":"8c2ec5da-0197-1000-3341-d1d6bdb5844c","name":"LogAttribute","comments":"","position":{"x":777.1793823242188,"y":-244.556640625},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"b7ec229b-a7d8-3b0d-a465-93aeff85f6b7","instanceIdentifier":"8c0c6cd2-0197-1000-fc19-7f15022680f6","name":"EvaluateJsonPath Extract File URL and Metadata","comments":"","position":{"x":-1152.0,"y":96.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","file_url":"$['@microsoft.graph.downloadUrl']","Max String Length":"20 MB","file_name":"$.name","Return Type":"auto-detect","file_id":"$.id","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file_url":{"name":"file_url","displayName":"file_url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file_name":{"name":"file_name","displayName":"file_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file_id":{"name":"file_id","displayName":"file_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"41593540-0f90-3b5b-838c-dac9f4c693e2","instanceIdentifier":"8be23678-0197-1000-2592-0f3363586b76","name":"LogAttribute","comments":"","position":{"x":-1152.0,"y":-1008.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"73eca91c-774a-3d2d-b00d-5d93068e7aab","instanceIdentifier":"8ca09a79-0197-1000-9e3c-11b2cb812cc9","name":"","source":{"id":"1418f68e-18c5-3f56-b06a-0efc2d39c58b","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8c9f11b2-0197-1000-0595-b0d522a8ee9a"},"destination":{"id":"0a0889d0-ff3c-3e4b-a2ef-431336e369cf","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP","comments":"","instanceIdentifier":"8ca076d4-0197-1000-d22c-e24d7d9dbdbb"},"labelIndex":0,"zIndex":20,"selectedRelationships":["is_folder"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"fbb9d001-a049-394b-be29-ba793ce5d9ab","instanceIdentifier":"8c9f43be-0197-1000-ba17-9d5f63cf8f59","name":"","source":{"id":"8caff49e-bf95-3c1f-ba7e-2455eaaaffbc","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"EvaluateJsonPath_Extract_File_Metadata","comments":"","instanceIdentifier":"8bdef3ca-0197-1000-fd85-65a40bedf9c7"},"destination":{"id":"1418f68e-18c5-3f56-b06a-0efc2d39c58b","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8c9f11b2-0197-1000-0595-b0d522a8ee9a"},"labelIndex":0,"zIndex":19,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"94b1c753-871a-3d79-a968-54909e4e6d43","instanceIdentifier":"b0b78247-0197-1000-969f-798f61e72493","name":"","source":{"id":"3cf79f4b-930f-3006-a2d4-5ae52c811cfd","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"965b52a2-0197-1000-97eb-dad7990cab66"},"destination":{"id":"4e8c7fec-f0b9-33f3-bcf3-2dbf130297e5","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0b73fd8-0197-1000-7d96-54c9774fbb64"},"labelIndex":0,"zIndex":35,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"5c429c3c-eb5a-3248-8be7-6969f88de25e","instanceIdentifier":"b0f023b5-0197-1000-0591-d4ba525ae198","name":"","source":{"id":"21b29410-25af-3917-9dae-c541ee684122","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"JoltTransformJSON","comments":"","instanceIdentifier":"936c997d-0197-1000-a221-b0ccfa9037e2"},"destination":{"id":"8f306f3b-f5e7-39cf-a808-10a1c1c8b153","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"MergeContent","comments":"","instanceIdentifier":"937121bf-0197-1000-17e5-e61baf702b3e"},"labelIndex":0,"zIndex":37,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"7c80f5c4-c07e-3e61-bc58-4ce30d6873bb","instanceIdentifier":"8c12eb55-0197-1000-cb03-2d162923b087","name":"","source":{"id":"b4aff430-9352-395f-961a-b24860bfb788","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute Target Type","comments":"","instanceIdentifier":"8c0fe34b-0197-1000-debf-fc4ca0b3f57c"},"destination":{"id":"db456ae6-9b0d-3719-9904-232bf00f54e6","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP Download File (Local Save)","comments":"","instanceIdentifier":"8c12b079-0197-1000-8ed5-7607b446bd58"},"labelIndex":0,"zIndex":9,"selectedRelationships":["to_local"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"d2a569c2-d990-3962-9ea2-c2508dabb530","instanceIdentifier":"92d48ca5-0197-1000-cd99-0da12d34a048","name":"","source":{"id":"0a0889d0-ff3c-3e4b-a2ef-431336e369cf","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP","comments":"","instanceIdentifier":"8ca076d4-0197-1000-d22c-e24d7d9dbdbb"},"destination":{"id":"35c9443f-4ae1-3c29-b202-4c0faa3ad2b6","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"SplitJson","comments":"","instanceIdentifier":"8c9b54ba-0197-1000-a0e0-f72436daa58f"},"labelIndex":0,"zIndex":24,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"574f7107-03da-3d9b-8e92-51840a562d4b","instanceIdentifier":"8be266db-0197-1000-1a1d-7e240f402eac","name":"","source":{"id":"7a084dc1-46b5-3150-bb31-f9b6bea44bde","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP_list_files","comments":"","instanceIdentifier":"8bdace7d-0197-1000-8f2f-d6e716f42f3b"},"destination":{"id":"41593540-0f90-3b5b-838c-dac9f4c693e2","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"LogAttribute","comments":"","instanceIdentifier":"8be23678-0197-1000-2592-0f3363586b76"},"labelIndex":0,"zIndex":3,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"2afb8d7d-a79c-345e-99ca-f90fb92ffefe","instanceIdentifier":"8c3cc8af-0197-1000-a412-d126d2d7dded","name":"","source":{"id":"b4aff430-9352-395f-961a-b24860bfb788","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute Target Type","comments":"","instanceIdentifier":"8c0fe34b-0197-1000-debf-fc4ca0b3f57c"},"destination":{"id":"c9aebeb3-c892-3eba-8a6b-e70dfbf00b56","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"ReplaceText","comments":"","instanceIdentifier":"8c3ca4e3-0197-1000-a0f2-60a5ca4759f1"},"labelIndex":0,"zIndex":15,"selectedRelationships":["to_onedrive"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"21b0a3b6-88ed-39e1-8ec8-4b95914127ca","instanceIdentifier":"8c2ee0a8-0197-1000-1807-374a4862be90","name":"","source":{"id":"8c12c7f0-0197-1000-bfc5-df002bf3afba","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP Copy File to Another OneDrive Folder","comments":"","instanceIdentifier":"697f615d-bd72-3ad5-0130-7416d5b13b4d"},"destination":{"id":"3a68293f-b30b-3922-ac1f-e15e1f6221c0","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"LogAttribute","comments":"","instanceIdentifier":"8c2ec5da-0197-1000-3341-d1d6bdb5844c"},"labelIndex":0,"zIndex":14,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"55b25ae3-9246-340a-b4e7-8251ac8b4816","instanceIdentifier":"965b79f1-0197-1000-9006-73c1cb78a186","name":"","source":{"id":"b7ec229b-a7d8-3b0d-a465-93aeff85f6b7","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"EvaluateJsonPath Extract File URL and Metadata","comments":"","instanceIdentifier":"8c0c6cd2-0197-1000-fc19-7f15022680f6"},"destination":{"id":"3cf79f4b-930f-3006-a2d4-5ae52c811cfd","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"965b52a2-0197-1000-97eb-dad7990cab66"},"labelIndex":0,"zIndex":30,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"d880a594-7853-3fc0-a8a5-cb939d7326bc","instanceIdentifier":"b0af46aa-0197-1000-9273-b41355da994f","name":"","source":{"id":"51e10b0e-cced-3a35-b620-7da1fa04aa6a","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"93625b37-0197-1000-1118-e0505c0c8192"},"destination":{"id":"f291473f-0236-341d-85b8-0038c48faa2e","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0af252f-0197-1000-096a-1051a59220b1"},"labelIndex":0,"zIndex":33,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"7328e389-bca6-33ca-832c-0fe05c3aef80","instanceIdentifier":"8c9b8aae-0197-1000-3e60-471b8c8cc087","name":"","source":{"id":"7a084dc1-46b5-3150-bb31-f9b6bea44bde","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP_list_files","comments":"","instanceIdentifier":"8bdace7d-0197-1000-8f2f-d6e716f42f3b"},"destination":{"id":"35c9443f-4ae1-3c29-b202-4c0faa3ad2b6","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"SplitJson","comments":"","instanceIdentifier":"8c9b54ba-0197-1000-a0e0-f72436daa58f"},"labelIndex":0,"zIndex":17,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"7f9c4a4c-2917-34ab-a33e-73b19220e676","instanceIdentifier":"b0af5a94-0197-1000-41b6-7272e43e5ccb","name":"","source":{"id":"f291473f-0236-341d-85b8-0038c48faa2e","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0af252f-0197-1000-096a-1051a59220b1"},"destination":{"id":"e78fc147-f91c-3b08-bce5-7d902fa0c8f9","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute Action Check","comments":"","instanceIdentifier":"8be37b8a-0197-1000-e10b-365d05db4ce4"},"labelIndex":0,"zIndex":34,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"304bdaa8-b5cd-3d9d-bbb2-9ba4b31019e9","instanceIdentifier":"8ca35e9b-0197-1000-45e7-077dfb756a44","name":"","source":{"id":"0a0889d0-ff3c-3e4b-a2ef-431336e369cf","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP","comments":"","instanceIdentifier":"8ca076d4-0197-1000-d22c-e24d7d9dbdbb"},"destination":{"id":"24e278ab-0e6f-357a-8933-65665bcf6cc6","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"LogAttribute","comments":"","instanceIdentifier":"8ca3432c-0197-1000-0d4f-dfd05dbb6f86"},"labelIndex":0,"zIndex":22,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"727cf7cf-7840-3633-b749-af410b704d6b","instanceIdentifier":"8c2e4f61-0197-1000-8b40-b92debe1de82","name":"","source":{"id":"8c12c7f0-0197-1000-bfc5-df002bf3afba","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP Copy File to Another OneDrive Folder","comments":"","instanceIdentifier":"697f615d-bd72-3ad5-0130-7416d5b13b4d"},"destination":{"id":"c1746b12-32bd-324e-990b-1af9bc91c616","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"LogAttribute","comments":"","instanceIdentifier":"8c2d7ea8-0197-1000-9a2b-3448b7f8a9c5"},"labelIndex":0,"zIndex":13,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"5a4a79c9-856b-39e7-967e-867f6270072b","instanceIdentifier":"8c14a774-0197-1000-fb7d-ca7a33a8b7c9","name":"","source":{"id":"db456ae6-9b0d-3719-9904-232bf00f54e6","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP Download File (Local Save)","comments":"","instanceIdentifier":"8c12b079-0197-1000-8ed5-7607b446bd58"},"destination":{"id":"c465ee71-60c0-39d4-8920-d75dc02aa31e","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"LogAttribute","comments":"","instanceIdentifier":"8c148e14-0197-1000-3054-7897c017535f"},"labelIndex":0,"zIndex":12,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"b3252aea-1f89-34d5-8d62-a8d481df3c1b","instanceIdentifier":"93629008-0197-1000-ffd6-5be511fb1b46","name":"","source":{"id":"1418f68e-18c5-3f56-b06a-0efc2d39c58b","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8c9f11b2-0197-1000-0595-b0d522a8ee9a"},"destination":{"id":"51e10b0e-cced-3a35-b620-7da1fa04aa6a","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"93625b37-0197-1000-1118-e0505c0c8192"},"labelIndex":0,"zIndex":25,"selectedRelationships":["is_file"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"29e880ce-e43d-3f8f-a258-9de7856b3fb7","instanceIdentifier":"b0b79828-0197-1000-8fb1-4894dc3ea3b5","name":"","source":{"id":"4e8c7fec-f0b9-33f3-bcf3-2dbf130297e5","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0b73fd8-0197-1000-7d96-54c9774fbb64"},"destination":{"id":"b4aff430-9352-395f-961a-b24860bfb788","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute Target Type","comments":"","instanceIdentifier":"8c0fe34b-0197-1000-debf-fc4ca0b3f57c"},"labelIndex":0,"zIndex":36,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"88e03998-0381-37b8-92c3-25174fecdd46","instanceIdentifier":"b0f05c96-0197-1000-403e-2348be6ae77c","name":"","source":{"id":"bb459cee-404a-3f03-9383-7fbde3307079","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0ee8487-0197-1000-a62a-c1d54cf72012"},"destination":{"id":"387d8eff-3fcf-3ac3-bc5b-95f79886140e","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"PutFile","comments":"","instanceIdentifier":"b0ead408-0197-1000-50ac-c58a50597614"},"labelIndex":0,"zIndex":39,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"1629689a-9480-34f7-9ae0-8305fa8fb92c","instanceIdentifier":"8c144c9b-0197-1000-920b-69babbf1908a","name":"","source":{"id":"db456ae6-9b0d-3719-9904-232bf00f54e6","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP Download File (Local Save)","comments":"","instanceIdentifier":"8c12b079-0197-1000-8ed5-7607b446bd58"},"destination":{"id":"c901e26a-276c-3472-b4a2-fcde6f59855e","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"PutFile","comments":"","instanceIdentifier":"8c1410a0-0197-1000-fb18-9b59b94390c8"},"labelIndex":0,"zIndex":11,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"d4fb4562-e44b-3acf-ad45-391c9b59fabc","instanceIdentifier":"b0f040ee-0197-1000-a36e-ec8df61fc6ca","name":"","source":{"id":"8f306f3b-f5e7-39cf-a808-10a1c1c8b153","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"MergeContent","comments":"","instanceIdentifier":"937121bf-0197-1000-17e5-e61baf702b3e"},"destination":{"id":"bb459cee-404a-3f03-9383-7fbde3307079","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0ee8487-0197-1000-a62a-c1d54cf72012"},"labelIndex":0,"zIndex":38,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"cc47c322-ae7a-3c80-8ebe-b0c84404ca82","instanceIdentifier":"8c3de016-0197-1000-7af4-9814de68f150","name":"","source":{"id":"c9aebeb3-c892-3eba-8a6b-e70dfbf00b56","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"ReplaceText","comments":"","instanceIdentifier":"8c3ca4e3-0197-1000-a0f2-60a5ca4759f1"},"destination":{"id":"8c12c7f0-0197-1000-bfc5-df002bf3afba","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP Copy File to Another OneDrive Folder","comments":"","instanceIdentifier":"697f615d-bd72-3ad5-0130-7416d5b13b4d"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"1162f72e-cda6-3e82-81c6-ddcfd9626712","instanceIdentifier":"8c9ba616-0197-1000-3520-2510b7fcc004","name":"","source":{"id":"35c9443f-4ae1-3c29-b202-4c0faa3ad2b6","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"SplitJson","comments":"","instanceIdentifier":"8c9b54ba-0197-1000-a0e0-f72436daa58f"},"destination":{"id":"8caff49e-bf95-3c1f-ba7e-2455eaaaffbc","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"EvaluateJsonPath_Extract_File_Metadata","comments":"","instanceIdentifier":"8bdef3ca-0197-1000-fd85-65a40bedf9c7"},"labelIndex":0,"zIndex":18,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"ce761cab-d035-3c4f-9d1b-72214a59c667","instanceIdentifier":"9663ec56-0197-1000-aede-d0a0f1423640","name":"","source":{"id":"e78fc147-f91c-3b08-bce5-7d902fa0c8f9","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute Action Check","comments":"","instanceIdentifier":"8be37b8a-0197-1000-e10b-365d05db4ce4"},"destination":{"id":"b7ec229b-a7d8-3b0d-a465-93aeff85f6b7","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"EvaluateJsonPath Extract File URL and Metadata","comments":"","instanceIdentifier":"8c0c6cd2-0197-1000-fc19-7f15022680f6"},"labelIndex":0,"zIndex":32,"selectedRelationships":["is_download"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"8b672df7-75c8-3d1e-9946-d7e4ff0b236e","instanceIdentifier":"8bde9792-0197-1000-e0b6-e9fc9c15f1f3","name":"","source":{"id":"7c4494ce-0995-38a0-8152-cc2b35da943b","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8bd8aecd-0197-1000-5fad-40aedd80a90b"},"destination":{"id":"7a084dc1-46b5-3150-bb31-f9b6bea44bde","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"InvokeHTTP_list_files","comments":"","instanceIdentifier":"8bdace7d-0197-1000-8f2f-d6e716f42f3b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"},{"identifier":"b31997dc-f591-327e-82a6-a3f50083a853","instanceIdentifier":"936cc00a-0197-1000-0a1f-7dfc7cfd6f6e","name":"","source":{"id":"e78fc147-f91c-3b08-bce5-7d902fa0c8f9","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"RouteOnAttribute Action Check","comments":"","instanceIdentifier":"8be37b8a-0197-1000-e10b-365d05db4ce4"},"destination":{"id":"21b29410-25af-3917-9dae-c541ee684122","type":"PROCESSOR","groupId":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5","name":"JoltTransformJSON","comments":"","instanceIdentifier":"936c997d-0197-1000-a221-b0ccfa9037e2"},"labelIndex":0,"zIndex":27,"selectedRelationships":["is_view"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfd5ba8f-3872-3651-bca3-dee7f94ca1f5"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Parameters_custom_onedrive","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Parameters_custom_onedrive":{"name":"Parameters_custom_onedrive","parameters":[{"name":"access_token","description":"","sensitive":true,"provided":false},{"name":"source_folder_id","description":"","sensitive":false,"provided":false,"value":""},{"name":"target_drive_id","description":"","sensitive":false,"provided":false,"value":""},{"name":"action","description":"","sensitive":false,"provided":false,"value":""},{"name":"source_drive_id","description":"","sensitive":false,"provided":false,"value":""},{"name":"target_folder_id","description":"","sensitive":false,"provided":false,"value":""},{"name":"target","description":"","sensitive":false,"provided":false,"value":""}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}