nifi_pipelines/HRBot_MCP/Resume_Retailoring-Kushagra/Resume_Retailoring_part1.json
{"flowContents":{"identifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d","instanceIdentifier":"cf4221a9-0197-1000-15da-c37643cc8c54","name":"Resume Retailoring","comments":"","position":{"x":-549.7310390591206,"y":-19.130289694920407},"processGroups":[{"identifier":"95983d3f-cfc0-389a-85e8-698838be5c4d","instanceIdentifier":"cfa00021-0197-1000-e76b-179aca050641","name":"keyword_extractor","comments":"","position":{"x":-536.0,"y":-24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5169d7a1-04e5-36b9-860e-fd65cba58f37","instanceIdentifier":"ca512a99-c0d6-3672-55a0-32d4d17938ff","name":"ExecuteGroovyScript","comments":"","position":{"x":-256.0,"y":-488.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.4.0"},"properties":{"groovyx-script-body":"import org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef apiKey = \"\"\ndef apiVersion = \"2024-08-01-preview\"\ndef endpoint = \"https://us-tax-law-rag-demo.openai.azure.com/\"\ndef deployment = \"gpt-4o-mini\"\n\nif (!apiKey || !apiVersion || !endpoint || !deployment) {\n    flowFile = session.putAttribute(flowFile, \"extract_keywords.error\", \"Missing Azure OpenAI environment variables\")\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef systemPrompt = \"\"\"You are an AI assistant that extracts ONLY the most relevant and specific keywords from job descriptions. \nFocus on extracting:\n1. Required technical skills and technologies\n2. Programming languages\n3. Tools and frameworks\n4. Key responsibilities that indicate required skills\n\nImportant rules:\n- Extract ONLY keywords that are explicitly mentioned in the job description\n- DO NOT add any keywords that are not directly stated\n- DO NOT infer or assume additional skills\n- Return a JSON object with a single array field named 'keywords'\n- Keep the list focused and specific\n- Avoid generic terms unless explicitly required\n\"\"\"\n\ntry {\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        def jobDescription = inputStream.getText(StandardCharsets.UTF_8.name())\n\n        def userPrompt = \"\"\"Extract ONLY the explicitly mentioned technical keywords from this job description. \nReturn a JSON object with a 'keywords' array.\n\nJob Description:\n${jobDescription}\n\"\"\"\n\n        // Build HTTP request to Azure OpenAI\n        def url = \"${endpoint}/openai/deployments/${deployment}/chat/completions?api-version=${apiVersion}\"\n        def payload = [\n            \"messages\": [\n                [\"role\": \"system\", \"content\": systemPrompt],\n                [\"role\": \"user\", \"content\": userPrompt]\n            ],\n            \"temperature\": 0.1,\n            \"response_format\": [\"type\": \"json_object\"]\n        ]\n        def conn = new URL(url).openConnection()\n        conn.setRequestMethod(\"POST\")\n        conn.setDoOutput(true)\n        conn.setRequestProperty(\"Content-Type\", \"application/json\")\n        conn.setRequestProperty(\"api-key\", apiKey)\n        conn.getOutputStream().write(JsonOutput.toJson(payload).getBytes(StandardCharsets.UTF_8))\n\n        def responseText = conn.inputStream.getText(StandardCharsets.UTF_8.name())\n        def responseJson = new JsonSlurper().parseText(responseText)\n        def keywordsText = responseJson?.choices?.getAt(0)?.message?.content?.trim() ?: \"{}\"\n\n        def result\n        try {\n            def keywordsObj = new JsonSlurper().parseText(keywordsText)\n            def keywords = keywordsObj.keywords ?: []\n            result = [keywords: keywords]\n        } catch (Exception e) {\n            result = [error: e.toString(), keywords: []]\n        }\n\n        outputStream.write(JsonOutput.toJson(result).getBytes(StandardCharsets.UTF_8))\n    } as StreamCallback)\n\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    flowFile = session.putAttribute(flowFile, \"extract_keywords.error\", e.toString())\n    session.transfer(flowFile, REL_FAILURE)\n}\n","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"15f2ce11-8a6c-3330-ae24-1f780832ddb1","instanceIdentifier":"0cf68ce7-8638-3ebb-26ac-f33ec510c5a4","name":"ListenHTTP(Post request Recieve)","comments":"","position":{"x":-728.0,"y":-720.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"Request Header Maximum Size":"8 KB","HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"makeresume","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8081"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"81b7e482-6b1c-34ec-9913-8ff878ec1644","instanceIdentifier":"e3806b64-d6cb-304b-36a1-ba9bfc0db4c7","name":"LogAttribute","comments":"","position":{"x":-392.0,"y":-968.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"19ee549b-2dfc-3cb0-beb6-234f38a894fb","instanceIdentifier":"124bf5f2-6211-3ad0-02ec-5c20558509fe","name":"EvaluateJsonPath","comments":"","position":{"x":-192.0,"y":-704.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","job_description":"$.job_description","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"job_description":{"name":"job_description","displayName":"job_description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"}],"inputPorts":[],"outputPorts":[{"identifier":"cda720d3-a6c2-3a20-8b6e-7da1a7151670","instanceIdentifier":"cfbee527-0197-1000-59f1-8186d70de26d","name":"Keywords Output","position":{"x":-32.0,"y":-248.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"}],"connections":[{"identifier":"cbc2c3dc-b814-36ba-a296-30191202c696","instanceIdentifier":"41b4bbcf-6af4-37da-2438-fb9541b0eeb2","name":"","source":{"id":"15f2ce11-8a6c-3330-ae24-1f780832ddb1","type":"PROCESSOR","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"ListenHTTP(Post request Recieve)","comments":"","instanceIdentifier":"0cf68ce7-8638-3ebb-26ac-f33ec510c5a4"},"destination":{"id":"19ee549b-2dfc-3cb0-beb6-234f38a894fb","type":"PROCESSOR","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"124bf5f2-6211-3ad0-02ec-5c20558509fe"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"6dd3e4b6-f967-36fc-803e-2dd1ac7af1a8","instanceIdentifier":"cfbf2763-0197-1000-baa7-3a059b6d4833","source":{"id":"5169d7a1-04e5-36b9-860e-fd65cba58f37","type":"PROCESSOR","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"ca512a99-c0d6-3672-55a0-32d4d17938ff"},"destination":{"id":"cda720d3-a6c2-3a20-8b6e-7da1a7151670","type":"OUTPUT_PORT","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"Keywords Output","instanceIdentifier":"cfbee527-0197-1000-59f1-8186d70de26d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"d86581d9-c492-32e0-b5df-fc18998ab239","instanceIdentifier":"629048aa-b42a-3bf7-37da-912410dc62ff","name":"","source":{"id":"19ee549b-2dfc-3cb0-beb6-234f38a894fb","type":"PROCESSOR","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"124bf5f2-6211-3ad0-02ec-5c20558509fe"},"destination":{"id":"81b7e482-6b1c-34ec-9913-8ff878ec1644","type":"PROCESSOR","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"LogAttribute","comments":"","instanceIdentifier":"e3806b64-d6cb-304b-36a1-ba9bfc0db4c7"},"labelIndex":0,"zIndex":15,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"342bdad6-c31c-3cd7-9ac4-d33f6e39a69d","instanceIdentifier":"a01fc935-93fa-3826-6ac5-b302ff188d02","name":"","source":{"id":"19ee549b-2dfc-3cb0-beb6-234f38a894fb","type":"PROCESSOR","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"124bf5f2-6211-3ad0-02ec-5c20558509fe"},"destination":{"id":"5169d7a1-04e5-36b9-860e-fd65cba58f37","type":"PROCESSOR","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"ca512a99-c0d6-3672-55a0-32d4d17938ff"},"labelIndex":0,"zIndex":20,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6fabe16a-cad4-3601-9dd2-2f5f798a61fd","instanceIdentifier":"9b208902-20a8-3b6c-a5e1-24ca1502f442","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.4.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb+srv://utkarshsingh:Ns3McTjm3b0kiEsk@clusterforresumes.trfczld.mongodb.net/","Database User":null,"Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"550721ff-0303-3b08-bc39-71725ef0c7ef","instanceIdentifier":"faf3c9f1-03ca-3810-5e64-7a7b38237cc1","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.4.0"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"https://10.99.20.130:9200","el-cs-path-prefix":null,"el-cs-run-as-user":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":"elastic","el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"BASIC","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"5000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":"efc3e5c4-ff9e-3bde-a4db-9f80c8b745de","el-cs-oauth2-token-provider":null},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-run-as-user":{"name":"el-cs-run-as-user","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jwt-shared-secret":{"name":"jwt-shared-secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-oauth2-token-provider":{"name":"el-cs-oauth2-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"91094f71-825b-3639-bb5c-3063f38830be","instanceIdentifier":"3a27a463-3c82-391d-63da-d0c63e5d6430","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Resume\",\n  \"fields\": [\n    { \"name\": \"name\", \"type\": \"string\" },\n    { \"name\": \"email\", \"type\": \"string\" },\n    { \"name\": \"phone\", \"type\": \"string\" },\n    { \"name\": \"location\", \"type\": \"string\" },\n    { \"name\": \"summary\", \"type\": \"string\" },\n    {\n      \"name\": \"education\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"Education\",\n          \"fields\": [\n            { \"name\": \"degree\", \"type\": \"string\" },\n            { \"name\": \"institution\", \"type\": \"string\" },\n            { \"name\": \"year\", \"type\": [\"string\", \"int\"] }\n          ]\n        }\n      }\n    },\n    {\n      \"name\": \"experience\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"Experience\",\n          \"fields\": [\n            { \"name\": \"title\", \"type\": \"string\" },\n            { \"name\": \"company\", \"type\": \"string\" },\n            { \"name\": \"duration\", \"type\": \"string\" },\n            { \"name\": \"location\", \"type\": \"string\" },\n            { \"name\": \"description\", \"type\": \"string\" }\n          ]\n        }\n      }\n    },\n    {\n      \"name\": \"skills\",\n      \"type\": { \"type\": \"array\", \"items\": \"string\" }\n    },\n    {\n      \"name\": \"projects\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"Project\",\n          \"fields\": [\n            { \"name\": \"title\", \"type\": \"string\" },\n            { \"name\": \"description\", \"type\": \"string\" },\n            { \"name\": \"link\", \"type\": \"string\" }\n          ]\n        }\n      }\n    },\n    {\n      \"name\": \"certifications\",\n      \"type\": { \"type\": \"array\", \"items\": \"string\" }\n    },\n    {\n      \"name\": \"languages\",\n      \"type\": { \"type\": \"array\", \"items\": \"string\" }\n    },\n    {\n      \"name\": \"social_profiles\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"SocialProfile\",\n          \"fields\": [\n            { \"name\": \"platform\", \"type\": \"string\" },\n            { \"name\": \"link\", \"type\": \"string\" }\n          ]\n        }\n      }\n    }\n  ]\n}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"},{"identifier":"efc3e5c4-ff9e-3bde-a4db-9f80c8b745de","instanceIdentifier":"3e8f759f-5a55-3b80-849e-1363ec5a911b","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.4.0"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/home/shtlp_0020/elasticsearch-9.0.0/config/certs/nifi-truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"95983d3f-cfc0-389a-85e8-698838be5c4d"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"},{"identifier":"5d24498f-3a6c-3e75-8604-d7b51850de59","instanceIdentifier":"dae5ffdb-0197-1000-6169-d90977b06076","name":"fetch_candidate_retailor_nojd","comments":"","position":{"x":32.0,"y":-360.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0457355b-62bf-37d8-91af-6f50e44b9ed7","instanceIdentifier":"db195e5c-0197-1000-24f8-95280b447a46","name":"Retailor Resume","comments":"","position":{"x":400.0,"y":400.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"retailor_resume_nojd.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5d24498f-3a6c-3e75-8604-d7b51850de59"},{"identifier":"e0d8e2e2-c7b6-362d-b699-0a71c814728c","instanceIdentifier":"dae64d4b-0197-1000-6f28-c28ad38cbc9e","name":"Listen for Resume Request","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"Request Header Maximum Size":"8 KB","HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"searchcandidate","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8082"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5d24498f-3a6c-3e75-8604-d7b51850de59"},{"identifier":"d8337fd7-492e-3400-ae92-a536921d2528","instanceIdentifier":"dae6852e-0197-1000-8c39-c5a0b9230924","name":"Fetch Resume from Elastic","comments":"","position":{"x":0.0,"y":200.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"fetch_resumes.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5d24498f-3a6c-3e75-8604-d7b51850de59"},{"identifier":"6cafaad4-5ab2-33f2-a348-771d67b42e53","instanceIdentifier":"dae6f7d5-0197-1000-971d-f7a55d0a6023","name":"Log Resume Output","comments":"","position":{"x":544.0,"y":192.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5d24498f-3a6c-3e75-8604-d7b51850de59"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a98dd1b8-cc4c-3cee-b599-b3b46aa58946","instanceIdentifier":"dae7bac4-0197-1000-b15d-bf30366e624f","source":{"id":"d8337fd7-492e-3400-ae92-a536921d2528","type":"PROCESSOR","groupId":"5d24498f-3a6c-3e75-8604-d7b51850de59","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"dae6852e-0197-1000-8c39-c5a0b9230924"},"destination":{"id":"6cafaad4-5ab2-33f2-a348-771d67b42e53","type":"PROCESSOR","groupId":"5d24498f-3a6c-3e75-8604-d7b51850de59","name":"Log Resume Output","comments":"","instanceIdentifier":"dae6f7d5-0197-1000-971d-f7a55d0a6023"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5d24498f-3a6c-3e75-8604-d7b51850de59"},{"identifier":"fc5233fc-77c8-3aa6-8230-e85fc3dcc650","instanceIdentifier":"dae6d418-0197-1000-ea9b-50f403eb7c2f","source":{"id":"e0d8e2e2-c7b6-362d-b699-0a71c814728c","type":"PROCESSOR","groupId":"5d24498f-3a6c-3e75-8604-d7b51850de59","name":"Listen for Resume Request","comments":"","instanceIdentifier":"dae64d4b-0197-1000-6f28-c28ad38cbc9e"},"destination":{"id":"d8337fd7-492e-3400-ae92-a536921d2528","type":"PROCESSOR","groupId":"5d24498f-3a6c-3e75-8604-d7b51850de59","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"dae6852e-0197-1000-8c39-c5a0b9230924"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5d24498f-3a6c-3e75-8604-d7b51850de59"},{"identifier":"f36fa07a-5b01-37d9-9934-0dce637a013a","instanceIdentifier":"db19b821-0197-1000-8bb9-8ba43158f509","source":{"id":"d8337fd7-492e-3400-ae92-a536921d2528","type":"PROCESSOR","groupId":"5d24498f-3a6c-3e75-8604-d7b51850de59","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"dae6852e-0197-1000-8c39-c5a0b9230924"},"destination":{"id":"0457355b-62bf-37d8-91af-6f50e44b9ed7","type":"PROCESSOR","groupId":"5d24498f-3a6c-3e75-8604-d7b51850de59","name":"Retailor Resume","comments":"","instanceIdentifier":"db195e5c-0197-1000-24f8-95280b447a46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5d24498f-3a6c-3e75-8604-d7b51850de59"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Azure_OpenAI_Config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"},{"identifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731","instanceIdentifier":"cf43f010-0197-1000-afff-f83c356bd8ec","name":"fetch all resumes","comments":"","position":{"x":64.0,"y":-24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"69b4ca2c-7bec-309f-b0e8-cfef023df509","instanceIdentifier":"d9d6d5ee-0197-1000-ef07-5c23b1ef8711","name":"Prefilter Candidates","comments":"","position":{"x":224.0,"y":128.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.4.0"},"properties":{"groovyx-script-body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\nflowFile = session.get()\nif(!flowFile) return\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def text = inputStream.getText(StandardCharsets.UTF_8.name())\n    def jsonSlurper = new JsonSlurper()\n    def resume = jsonSlurper.parseText(text)\n    \n    def keywords = (resume.keywords ?: []).collect { it.toLowerCase() }\n\n    // Collect text from fields\n    def textParts = []\n    textParts << (resume.summary ?: \"\")\n    textParts.addAll(resume.skills ?: [])\n\n    (resume.projects ?: []).each { proj ->\n        textParts << (proj.title ?: \"\")\n        textParts << (proj.description ?: \"\")\n    }\n\n    (resume.certifications ?: []).each { cert ->\n        textParts << (cert.title ?: \"\")\n        textParts << (cert.issuer ?: \"\")\n    }\n\n    (resume.education ?: []).each { edu ->\n        textParts << (edu.degree ?: \"\")\n        textParts << (edu.institution ?: \"\")\n    }\n\n    textParts.addAll(resume.languages ?: [])\n\n    def combinedText = textParts.join(\" \").toLowerCase()\n\n    def matched = keywords.any { kw -> combinedText.contains(kw) }\n\n    resume.matched = matched\n\n    def outJson = JsonOutput.toJson(resume)\n    outputStream.write(outJson.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"41afc117-d519-3b73-a774-7af69c3dde86","instanceIdentifier":"d06d4d10-0197-1000-3577-fb47e8d4a1a1","name":"ScoringTheCandidate","comments":"","position":{"x":112.0,"y":624.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/shtlp_0020/Documents/MCP_HR_BOT/score.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"96c9646b-5662-3454-a556-1a438a6845b4","instanceIdentifier":"db4034d2-0197-1000-d5c4-cad06e93e89d","name":"Retailor Resume","comments":"","position":{"x":800.0,"y":872.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"retailor_resume_nojd.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"f63d1e8d-3cd9-3840-b2ec-f8defa304a0e","instanceIdentifier":"d9d7b642-0197-1000-28b0-aa0b6b614395","name":"RouteOnAttribute","comments":"","position":{"x":96.0,"y":368.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","matched":"${matchedAttr:equals('true')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"matched":{"name":"matched","displayName":"matched","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"8ec190f6-d3a6-3115-bc50-b8927bdf46da","instanceIdentifier":"db3fa6a2-0197-1000-44f8-44d8c83d0067","name":"Listen for Resume Request","comments":"","position":{"x":296.0,"y":824.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"Request Header Maximum Size":"8 KB","HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"makeresume","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8082"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"1e59c727-3746-3750-aa39-ff3674b9d5f8","instanceIdentifier":"d063703f-0197-1000-2fd5-d986b41b8844","name":"SplitText","comments":"","position":{"x":64.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"2177893f-4e9b-36f4-87c5-6865a72b0510","instanceIdentifier":"d9fe9a1b-0197-1000-da7a-f660aa220e14","name":"EvaluateJsonPath","comments":"","position":{"x":730.274797575715,"y":526.8577284597095},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","matchedAttr":"$.matched","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"matchedAttr":{"name":"matchedAttr","displayName":"matchedAttr","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"8b02476c-c623-3f7e-b2f2-8e9e8b1f0f44","instanceIdentifier":"cf975269-0197-1000-bdca-63db30dc9470","name":"Fetch Resumes with Python","comments":"","position":{"x":-248.0,"y":112.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/shtlp_0020/Documents/MCP_HR_BOT/fetch_resumes_all.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"8bd897b0-59ee-3807-a10a-2d9a84adcc4d","instanceIdentifier":"db3fe5a9-0197-1000-cdb0-7284c054c8f7","name":"Fetch Resume from Elastic","comments":"","position":{"x":328.0,"y":1008.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"fetch_resumes.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"}],"inputPorts":[{"identifier":"dfe270fe-78de-3363-87d0-e71918c04259","instanceIdentifier":"cfb88815-0197-1000-1684-943229ab9976","name":"Keywords Input","position":{"x":-272.0,"y":416.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"}],"outputPorts":[],"connections":[{"identifier":"f8220cbd-6939-3d13-aacf-8be0639f9c3d","instanceIdentifier":"d9ff8e47-0197-1000-febd-6dd7617ee4d8","name":"","source":{"id":"69b4ca2c-7bec-309f-b0e8-cfef023df509","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Prefilter Candidates","comments":"","instanceIdentifier":"d9d6d5ee-0197-1000-ef07-5c23b1ef8711"},"destination":{"id":"2177893f-4e9b-36f4-87c5-6865a72b0510","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d9fe9a1b-0197-1000-da7a-f660aa220e14"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"4aa63342-00e8-3146-b2f3-b7402f604329","instanceIdentifier":"d9d765b3-0197-1000-139b-9dc0c7363b71","name":"","source":{"id":"1e59c727-3746-3750-aa39-ff3674b9d5f8","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"SplitText","comments":"","instanceIdentifier":"d063703f-0197-1000-2fd5-d986b41b8844"},"destination":{"id":"69b4ca2c-7bec-309f-b0e8-cfef023df509","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Prefilter Candidates","comments":"","instanceIdentifier":"d9d6d5ee-0197-1000-ef07-5c23b1ef8711"},"labelIndex":0,"zIndex":9,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"9294ce3c-667e-386b-b138-f79e407b2cc1","instanceIdentifier":"da001ea7-0197-1000-516c-cc586784ffb4","name":"","source":{"id":"2177893f-4e9b-36f4-87c5-6865a72b0510","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d9fe9a1b-0197-1000-da7a-f660aa220e14"},"destination":{"id":"f63d1e8d-3cd9-3840-b2ec-f8defa304a0e","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d9d7b642-0197-1000-28b0-aa0b6b614395"},"labelIndex":0,"zIndex":13,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"cfd66f2c-8621-3e5e-bdd4-4f5876b703ae","instanceIdentifier":"db48f4bd-0197-1000-6c77-d933f15b647b","source":{"id":"8bd897b0-59ee-3807-a10a-2d9a84adcc4d","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"db3fe5a9-0197-1000-cdb0-7284c054c8f7"},"destination":{"id":"96c9646b-5662-3454-a556-1a438a6845b4","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Retailor Resume","comments":"","instanceIdentifier":"db4034d2-0197-1000-d5c4-cad06e93e89d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"7ac69673-c862-3ffc-9451-8db6df7915ae","instanceIdentifier":"db48cf57-0197-1000-cc4c-57a65fab8fca","source":{"id":"8ec190f6-d3a6-3115-bc50-b8927bdf46da","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Listen for Resume Request","comments":"","instanceIdentifier":"db3fa6a2-0197-1000-44f8-44d8c83d0067"},"destination":{"id":"8bd897b0-59ee-3807-a10a-2d9a84adcc4d","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"db3fe5a9-0197-1000-cdb0-7284c054c8f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"3d46e53e-baeb-3d84-a327-67de8332a265","instanceIdentifier":"cfdb2654-0197-1000-96b0-53521d4a098e","name":"","source":{"id":"dfe270fe-78de-3363-87d0-e71918c04259","type":"INPUT_PORT","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Keywords Input","instanceIdentifier":"cfb88815-0197-1000-1684-943229ab9976"},"destination":{"id":"8b02476c-c623-3f7e-b2f2-8e9e8b1f0f44","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Fetch Resumes with Python","comments":"","instanceIdentifier":"cf975269-0197-1000-bdca-63db30dc9470"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"812efae1-8202-33cc-8f50-c15538aae399","instanceIdentifier":"d06386ef-0197-1000-5b10-15a37943db5a","name":"","source":{"id":"8b02476c-c623-3f7e-b2f2-8e9e8b1f0f44","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Fetch Resumes with Python","comments":"","instanceIdentifier":"cf975269-0197-1000-bdca-63db30dc9470"},"destination":{"id":"1e59c727-3746-3750-aa39-ff3674b9d5f8","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"SplitText","comments":"","instanceIdentifier":"d063703f-0197-1000-2fd5-d986b41b8844"},"labelIndex":0,"zIndex":4,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"},{"identifier":"159289c4-fa27-3e90-a90a-1a763ad1f123","instanceIdentifier":"d9fd8a5c-0197-1000-5515-cc4112d0045d","name":"","source":{"id":"f63d1e8d-3cd9-3840-b2ec-f8defa304a0e","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d9d7b642-0197-1000-28b0-aa0b6b614395"},"destination":{"id":"41afc117-d519-3b73-a774-7af69c3dde86","type":"PROCESSOR","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"ScoringTheCandidate","comments":"","instanceIdentifier":"d06d4d10-0197-1000-3577-fb47e8d4a1a1"},"labelIndex":0,"zIndex":11,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f363b0d-750c-3bed-b0e9-79f5edc73731"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"},{"identifier":"df8b616b-0197-1000-060e-8ce0810a5835","instanceIdentifier":"d4d3e79d-fcb1-328c-b886-8ac207bf0825","name":"fetch_candidate_retailor_withjd","comments":"","position":{"x":-512.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"df8b616e-0197-1000-923a-3623f80d3e5e","instanceIdentifier":"66f44247-1137-3aa0-aac9-ca79c4c479c0","name":"Fetch Resume from Elastic","comments":"","position":{"x":-152.0,"y":200.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"fetch_resume_map.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df8b616b-0197-1000-060e-8ce0810a5835"},{"identifier":"df8b616f-0197-1000-3947-8bccb6637f15","instanceIdentifier":"25239dee-12fa-3669-da6b-da8beda75322","name":"Log Resume Output","comments":"","position":{"x":544.0,"y":192.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df8b616b-0197-1000-060e-8ce0810a5835"},{"identifier":"df8b616c-0197-1000-bd36-c970d226b659","instanceIdentifier":"31e7acc1-232b-3edd-b981-0539ed76b9a7","name":"Retailor Resume","comments":"","position":{"x":400.0,"y":400.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/shtlp_0020/Documents/MCP_HR_BOT","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"retailor_resume_jd.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df8b616b-0197-1000-060e-8ce0810a5835"}],"inputPorts":[{"identifier":"df8e499e-0197-1000-97ac-53091fae76d4","instanceIdentifier":"d3f4d6eb-4d99-3803-de73-e0edf169e2dc","name":"Keywords Input","position":{"x":-168.0,"y":520.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"df8b616b-0197-1000-060e-8ce0810a5835"}],"outputPorts":[],"connections":[{"identifier":"fd11fe8a-5f46-324b-8d37-27e1b7761683","instanceIdentifier":"df9181e4-0197-1000-2687-d74915994bbe","name":"","source":{"id":"df8e499e-0197-1000-97ac-53091fae76d4","type":"INPUT_PORT","groupId":"df8b616b-0197-1000-060e-8ce0810a5835","name":"Keywords Input","instanceIdentifier":"d3f4d6eb-4d99-3803-de73-e0edf169e2dc"},"destination":{"id":"df8b616e-0197-1000-923a-3623f80d3e5e","type":"PROCESSOR","groupId":"df8b616b-0197-1000-060e-8ce0810a5835","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"66f44247-1137-3aa0-aac9-ca79c4c479c0"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df8b616b-0197-1000-060e-8ce0810a5835"},{"identifier":"df8b6170-0197-1000-81f2-2e7c58a3d04e","instanceIdentifier":"0b096145-99bb-30f0-b9a3-32add0675611","source":{"id":"df8b616e-0197-1000-923a-3623f80d3e5e","type":"PROCESSOR","groupId":"df8b616b-0197-1000-060e-8ce0810a5835","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"66f44247-1137-3aa0-aac9-ca79c4c479c0"},"destination":{"id":"df8b616f-0197-1000-3947-8bccb6637f15","type":"PROCESSOR","groupId":"df8b616b-0197-1000-060e-8ce0810a5835","name":"Log Resume Output","comments":"","instanceIdentifier":"25239dee-12fa-3669-da6b-da8beda75322"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df8b616b-0197-1000-060e-8ce0810a5835"},{"identifier":"df8b6172-0197-1000-d098-b7edd9f143fc","instanceIdentifier":"b05767f8-a23c-3d94-6272-c8d78aa8656e","source":{"id":"df8b616e-0197-1000-923a-3623f80d3e5e","type":"PROCESSOR","groupId":"df8b616b-0197-1000-060e-8ce0810a5835","name":"Fetch Resume from Elastic","comments":"","instanceIdentifier":"66f44247-1137-3aa0-aac9-ca79c4c479c0"},"destination":{"id":"df8b616c-0197-1000-bd36-c970d226b659","type":"PROCESSOR","groupId":"df8b616b-0197-1000-060e-8ce0810a5835","name":"Retailor Resume","comments":"","instanceIdentifier":"31e7acc1-232b-3edd-b981-0539ed76b9a7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df8b616b-0197-1000-060e-8ce0810a5835"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"Azure_OpenAI_Config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"},{"identifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","instanceIdentifier":"918330d1-5786-3852-6b07-819348b68b59","name":"keyword_extractor","comments":"","position":{"x":-1072.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"df8f4bc8-0197-1000-5120-f37debf6a653","instanceIdentifier":"1981b44f-d757-3d18-f279-c773187a1b49","name":"LogAttribute","comments":"","position":{"x":-392.0,"y":-968.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bc7-0197-1000-f6c7-1ba06833af03","instanceIdentifier":"02282e36-33e6-3865-8105-afb4ecf4b11e","name":"ListenHTTP(Post request Recieve)","comments":"","position":{"x":-728.0,"y":-720.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"Request Header Maximum Size":"8 KB","HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"retailorsingle","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8083"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bc6-0197-1000-c4b6-47a62ae3cf11","instanceIdentifier":"55b27d12-00cf-3dfb-ac4b-f6fb20d1f77d","name":"ExecuteGroovyScript","comments":"","position":{"x":-256.0,"y":-488.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.4.0"},"properties":{"groovyx-script-body":"import org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef apiKey = \"\"\ndef apiVersion = \"2024-08-01-preview\"\ndef endpoint = \"https://us-tax-law-rag-demo.openai.azure.com/\"\ndef deployment = \"gpt-4o-mini\"\n\nif (!apiKey || !apiVersion || !endpoint || !deployment) {\n    flowFile = session.putAttribute(flowFile, \"extract_keywords.error\", \"Missing Azure OpenAI environment variables\")\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef systemPrompt = \"\"\"You are an AI assistant that extracts ONLY the most relevant and specific keywords from job descriptions. \nFocus on extracting:\n1. Required technical skills and technologies\n2. Programming languages\n3. Tools and frameworks\n4. Key responsibilities that indicate required skills\n\nImportant rules:\n- Extract ONLY keywords that are explicitly mentioned in the job description\n- DO NOT add any keywords that are not directly stated\n- DO NOT infer or assume additional skills\n- Return a JSON object with a single array field named 'keywords'\n- Keep the list focused and specific\n- Avoid generic terms unless explicitly required\n\"\"\"\n\ntry {\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        def jobDescription = inputStream.getText(StandardCharsets.UTF_8.name())\n\n        def userPrompt = \"\"\"Extract ONLY the explicitly mentioned technical keywords from this job description. \nReturn a JSON object with a 'keywords' array.\n\nJob Description:\n${jobDescription}\n\"\"\"\n\n        // Build HTTP request to Azure OpenAI\n        def url = \"${endpoint}/openai/deployments/${deployment}/chat/completions?api-version=${apiVersion}\"\n        def payload = [\n            \"messages\": [\n                [\"role\": \"system\", \"content\": systemPrompt],\n                [\"role\": \"user\", \"content\": userPrompt]\n            ],\n            \"temperature\": 0.1,\n            \"response_format\": [\"type\": \"json_object\"]\n        ]\n        def conn = new URL(url).openConnection()\n        conn.setRequestMethod(\"POST\")\n        conn.setDoOutput(true)\n        conn.setRequestProperty(\"Content-Type\", \"application/json\")\n        conn.setRequestProperty(\"api-key\", apiKey)\n        conn.getOutputStream().write(JsonOutput.toJson(payload).getBytes(StandardCharsets.UTF_8))\n\n        def responseText = conn.inputStream.getText(StandardCharsets.UTF_8.name())\n        def responseJson = new JsonSlurper().parseText(responseText)\n        def keywordsText = responseJson?.choices?.getAt(0)?.message?.content?.trim() ?: \"{}\"\n\n        def result\n        try {\n            def keywordsObj = new JsonSlurper().parseText(keywordsText)\n            def keywords = keywordsObj.keywords ?: []\n\n            // Get identifier and identifier_type from flow file attributes\n            def identifier = flowFile.getAttribute(\"identifier\") ?: \"\"\n            def identifierType = flowFile.getAttribute(\"identifier_type\") ?: \"\"\n\n            result = [\n                identifier: identifier,\n                identifier_type: identifierType,\n                keywords: keywords\n            ]\n        } catch (Exception e) {\n            result = [\n                identifier: flowFile.getAttribute(\"identifier\") ?: \"\",\n                identifier_type: flowFile.getAttribute(\"identifier_type\") ?: \"\",\n                error: e.toString(),\n                keywords: []\n            ]\n        }\n\n\n        outputStream.write(JsonOutput.toJson(result).getBytes(StandardCharsets.UTF_8))\n    } as StreamCallback)\n\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    flowFile = session.putAttribute(flowFile, \"extract_keywords.error\", e.toString())\n    session.transfer(flowFile, REL_FAILURE)\n}\n","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bc9-0197-1000-0f3d-63cc27970ed1","instanceIdentifier":"dd331384-fbb6-3e25-5893-3078ee421608","name":"EvaluateJsonPath","comments":"","position":{"x":-192.0,"y":-704.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","identifier":"$.identifier","job_description":"$.job_description","Max String Length":"20 MB","Return Type":"json","identifier_type":"$.identifier_type","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"identifier":{"name":"identifier","displayName":"identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"job_description":{"name":"job_description","displayName":"job_description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"identifier_type":{"name":"identifier_type","displayName":"identifier_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"}],"inputPorts":[],"outputPorts":[{"identifier":"df8f4bca-0197-1000-35fa-f11d9c76be27","instanceIdentifier":"ead23ac2-c7e1-3de5-6053-eb9aae417016","name":"Keywords Output","position":{"x":-32.0,"y":-248.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"}],"connections":[{"identifier":"df8f4bcd-0197-1000-c702-8e350b579840","instanceIdentifier":"17fb6145-c43d-3c8f-ae57-aa4ddbe19da2","name":"","source":{"id":"df8f4bc9-0197-1000-0f3d-63cc27970ed1","type":"PROCESSOR","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"dd331384-fbb6-3e25-5893-3078ee421608"},"destination":{"id":"df8f4bc8-0197-1000-5120-f37debf6a653","type":"PROCESSOR","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"LogAttribute","comments":"","instanceIdentifier":"1981b44f-d757-3d18-f279-c773187a1b49"},"labelIndex":0,"zIndex":15,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bcc-0197-1000-0900-a9c928e19f08","instanceIdentifier":"d3bd98ef-916b-3240-7ae1-14b37ec65754","source":{"id":"df8f4bc6-0197-1000-c4b6-47a62ae3cf11","type":"PROCESSOR","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"55b27d12-00cf-3dfb-ac4b-f6fb20d1f77d"},"destination":{"id":"df8f4bca-0197-1000-35fa-f11d9c76be27","type":"OUTPUT_PORT","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"Keywords Output","instanceIdentifier":"ead23ac2-c7e1-3de5-6053-eb9aae417016"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bce-0197-1000-a4d5-6081f5ef7f14","instanceIdentifier":"cbe0de2a-0d7c-35ae-99d4-6ede9219ae69","name":"","source":{"id":"df8f4bc9-0197-1000-0f3d-63cc27970ed1","type":"PROCESSOR","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"dd331384-fbb6-3e25-5893-3078ee421608"},"destination":{"id":"df8f4bc6-0197-1000-c4b6-47a62ae3cf11","type":"PROCESSOR","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"55b27d12-00cf-3dfb-ac4b-f6fb20d1f77d"},"labelIndex":0,"zIndex":20,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bcb-0197-1000-a3f0-4074d5f5834b","instanceIdentifier":"ab34644e-0082-336e-bdb8-8542a1f0090e","name":"","source":{"id":"df8f4bc7-0197-1000-f6c7-1ba06833af03","type":"PROCESSOR","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"ListenHTTP(Post request Recieve)","comments":"","instanceIdentifier":"02282e36-33e6-3865-8105-afb4ecf4b11e"},"destination":{"id":"df8f4bc9-0197-1000-0f3d-63cc27970ed1","type":"PROCESSOR","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"dd331384-fbb6-3e25-5893-3078ee421608"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"df8f4bc2-0197-1000-8d89-78f56fec5533","instanceIdentifier":"9e33432d-dc65-33f7-5593-4116f094054e","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.4.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb+srv://utkarshsingh:Ns3McTjm3b0kiEsk@clusterforresumes.trfczld.mongodb.net/","Database User":null,"Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bc3-0197-1000-a321-9fb0668a84af","instanceIdentifier":"ed83ae3b-d4d8-3d98-75e6-398d3b948b89","name":"ElasticSearchClientServiceImpl","comments":"","type":"org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-nar","version":"2.4.0"},"properties":{"el-cs-suppress-nulls":"always-suppress","el-cs-strict-deprecation":"false","el-cs-http-hosts":"https://10.99.20.130:9200","el-cs-path-prefix":null,"el-cs-run-as-user":null,"proxy-configuration-service":null,"el-cs-charset":"UTF-8","api-key-id":null,"el-cs-send-meta-header":"true","el-cs-username":"elastic","el-cs-enable-compression":"false","el-cs-sniff-cluster-nodes":"false","el-cs-sniffer-interval":"5 mins","el-cs-sniffer-failure-delay":"1 min","el-cs-node-selector":"ANY","authorization-scheme":"BASIC","el-cs-sniff-failure":"false","el-cs-sniffer-request-timeout":"1 sec","el-cs-connect-timeout":"5000","el-cs-socket-timeout":"60000","el-cs-ssl-context-service":"df8f4bc5-0197-1000-7f4b-353aaaa00730","el-cs-oauth2-token-provider":null},"propertyDescriptors":{"el-cs-suppress-nulls":{"name":"el-cs-suppress-nulls","displayName":"Suppress Null/Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-strict-deprecation":{"name":"el-cs-strict-deprecation","displayName":"Strict Deprecation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-http-hosts":{"name":"el-cs-http-hosts","displayName":"HTTP Hosts","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-run-as-user":{"name":"el-cs-run-as-user","displayName":"Run As User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-charset":{"name":"el-cs-charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jwt-shared-secret":{"name":"jwt-shared-secret","displayName":"JWT Shared Secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-send-meta-header":{"name":"el-cs-send-meta-header","displayName":"Send Meta Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-username":{"name":"el-cs-username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-enable-compression":{"name":"el-cs-enable-compression","displayName":"Enable Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-cluster-nodes":{"name":"el-cs-sniff-cluster-nodes","displayName":"Sniff Cluster Nodes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key":{"name":"api-key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"el-cs-node-selector":{"name":"el-cs-node-selector","displayName":"Node Selector","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniff-failure":{"name":"el-cs-sniff-failure","displayName":"Sniff on Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-request-timeout":{"name":"el-cs-sniffer-request-timeout","displayName":"Sniffer Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-ssl-context-service":{"name":"el-cs-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-oauth2-token-provider":{"name":"el-cs-oauth2-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"el-cs-path-prefix":{"name":"el-cs-path-prefix","displayName":"Path Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-key-id":{"name":"api-key-id","displayName":"API Key ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-interval":{"name":"el-cs-sniffer-interval","displayName":"Sniffer Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-sniffer-failure-delay":{"name":"el-cs-sniffer-failure-delay","displayName":"Sniffer Failure Delay","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-password":{"name":"el-cs-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"authorization-scheme":{"name":"authorization-scheme","displayName":"Authorization Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-connect-timeout":{"name":"el-cs-connect-timeout","displayName":"Connect timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"el-cs-socket-timeout":{"name":"el-cs-socket-timeout","displayName":"Read timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.elasticsearch.ElasticSearchClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-client-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bc4-0197-1000-129e-9c8ae09c8440","instanceIdentifier":"dc2fabcd-2161-3202-8b17-e3a66d9601f0","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Resume\",\n  \"fields\": [\n    { \"name\": \"name\", \"type\": \"string\" },\n    { \"name\": \"email\", \"type\": \"string\" },\n    { \"name\": \"phone\", \"type\": \"string\" },\n    { \"name\": \"location\", \"type\": \"string\" },\n    { \"name\": \"summary\", \"type\": \"string\" },\n    {\n      \"name\": \"education\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"Education\",\n          \"fields\": [\n            { \"name\": \"degree\", \"type\": \"string\" },\n            { \"name\": \"institution\", \"type\": \"string\" },\n            { \"name\": \"year\", \"type\": [\"string\", \"int\"] }\n          ]\n        }\n      }\n    },\n    {\n      \"name\": \"experience\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"Experience\",\n          \"fields\": [\n            { \"name\": \"title\", \"type\": \"string\" },\n            { \"name\": \"company\", \"type\": \"string\" },\n            { \"name\": \"duration\", \"type\": \"string\" },\n            { \"name\": \"location\", \"type\": \"string\" },\n            { \"name\": \"description\", \"type\": \"string\" }\n          ]\n        }\n      }\n    },\n    {\n      \"name\": \"skills\",\n      \"type\": { \"type\": \"array\", \"items\": \"string\" }\n    },\n    {\n      \"name\": \"projects\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"Project\",\n          \"fields\": [\n            { \"name\": \"title\", \"type\": \"string\" },\n            { \"name\": \"description\", \"type\": \"string\" },\n            { \"name\": \"link\", \"type\": \"string\" }\n          ]\n        }\n      }\n    },\n    {\n      \"name\": \"certifications\",\n      \"type\": { \"type\": \"array\", \"items\": \"string\" }\n    },\n    {\n      \"name\": \"languages\",\n      \"type\": { \"type\": \"array\", \"items\": \"string\" }\n    },\n    {\n      \"name\": \"social_profiles\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"SocialProfile\",\n          \"fields\": [\n            { \"name\": \"platform\", \"type\": \"string\" },\n            { \"name\": \"link\", \"type\": \"string\" }\n          ]\n        }\n      }\n    }\n  ]\n}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"},{"identifier":"df8f4bc5-0197-1000-7f4b-353aaaa00730","instanceIdentifier":"b7527853-1fb8-3609-2db6-1470d9005a82","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.4.0"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/home/shtlp_0020/elasticsearch-9.0.0/config/certs/nifi-truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df8f4bc1-0197-1000-ca52-e4cd88ff498f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4a196c6a-8e10-36d6-beb5-190a9a988690","instanceIdentifier":"cfc36478-0197-1000-89b1-fdd1c1318cbe","name":"","source":{"id":"cda720d3-a6c2-3a20-8b6e-7da1a7151670","type":"OUTPUT_PORT","groupId":"95983d3f-cfc0-389a-85e8-698838be5c4d","name":"Keywords Output","instanceIdentifier":"cfbee527-0197-1000-59f1-8186d70de26d"},"destination":{"id":"dfe270fe-78de-3363-87d0-e71918c04259","type":"INPUT_PORT","groupId":"6f363b0d-750c-3bed-b0e9-79f5edc73731","name":"Keywords Input","instanceIdentifier":"cfb88815-0197-1000-1684-943229ab9976"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"},{"identifier":"09240219-5594-3ee7-b7b5-8aed042e4db5","instanceIdentifier":"df8f833a-0197-1000-969c-5961b59b4a62","name":"","source":{"id":"df8f4bca-0197-1000-35fa-f11d9c76be27","type":"OUTPUT_PORT","groupId":"df8f4bc1-0197-1000-ca52-e4cd88ff498f","name":"Keywords Output","instanceIdentifier":"ead23ac2-c7e1-3de5-6053-eb9aae417016"},"destination":{"id":"df8e499e-0197-1000-97ac-53091fae76d4","type":"INPUT_PORT","groupId":"df8b616b-0197-1000-060e-8ce0810a5835","name":"Keywords Input","instanceIdentifier":"d3f4d6eb-4d99-3803-de73-e0edf169e2dc"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"}],"labels":[{"identifier":"95742b5c-da9b-3f6b-91d3-96d212933f1b","instanceIdentifier":"df883c36-0197-1000-4716-c8682bb61215","position":{"x":120.0,"y":-440.0},"label":"Retailoring without JD","zIndex":1,"width":150.0,"height":150.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"},{"identifier":"df8b98ec-0197-1000-3e49-b6da7ad204b7","instanceIdentifier":"b05776f7-ca70-3a1d-b036-9e4430554742","position":{"x":-400.0,"y":-416.0},"label":"Retailoring with JD","zIndex":1,"width":150.0,"height":150.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"75925bf1-5e86-33a3-af77-d694d1b43a5d"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Azure_OpenAI_Config":{"name":"Azure_OpenAI_Config","parameters":[{"name":"azure.openai.api_version","description":"","sensitive":false,"provided":false,"value":"2024-08-01-preview"},{"name":"azure.openai.endpoint","description":"","sensitive":false,"provided":false,"value":"https://us-tax-law-rag-demo.openai.azure.com/"},{"name":"azure.openai.api.key","description":"","sensitive":false,"provided":false,"value":""},{"name":"azure.openai.deployment_name","description":"","sensitive":false,"provided":false,"value":"gpt-4o-mini"},{"name":"gemini.api.key","description":"","sensitive":false,"provided":false,"value":"AIzaSyB34jaO8_eMd0YS2IizlYh-oQG5uY1E_BI"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}