nifi_pipelines/sales_company_research/CRP_Deepresearch.json
{"flowContents":{"identifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","instanceIdentifier":"c483e0be-0197-1000-0000-00007486ee17","name":"CRP_Deepresearch","comments":"","position":{"x":-512.0,"y":-632.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c7c27aa0-5ce6-33a4-0000-000005896684","instanceIdentifier":"9a033708-d1ab-3249-b7cb-912b0dab421c","name":"EvaluateJsonPath","comments":"","position":{"x":-6816.0,"y":2016.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","weburl":"$.webUrl","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"weburl":{"name":"weburl","displayName":"weburl","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"016046ba-067d-30f4-0000-000065236576","instanceIdentifier":"403f457b-1db7-322b-b284-cee9dbb50c73","name":"LogMessage","comments":"","position":{"x":-3112.0,"y":2352.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"aad1d05a-0197-1000-0990-4cf314d96a3a","instanceIdentifier":"0e350ea2-0a58-3bb1-8ff7-aef038c17afc","name":"ListenHTTP","comments":"","position":{"x":-5560.0,"y":1672.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"Request Header Maximum Size":"8 KB","HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"contentListener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"3131"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"e2f370ff-49ba-36d1-0000-000065236576","instanceIdentifier":"481c262b-1d31-3012-bbe2-d6dea75c6f9a","name":"ExecuteScript","comments":"","position":{"x":-3520.0,"y":2360.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonOutput\ncompany= \"defaultcompany\"\ndef flowFile = session.get()\nif (!flowFile) return\ndef text\ndef contentType = flowFile.getAttribute('contentType')\n \nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    if (contentType == 'html'){\n        text = text.replaceAll('<[^>]*>', ' ') // Simple HTML tag removal\n\t\t}\n\tdef extract = { String content, String pattern ->\n        def matcher = content =~ pattern\n        return matcher ? matcher[0][1].trim() : \"\"\n    }\n    company = extract(text, /(?m)Account Name :\\s*(.+)/)\n    def industry = extract(text, /(?m)Industry:\\s*(.+)/)\n    def website = extract(text, /(?m)Website :\\s*(.+)/)\n    def companyLinkedIn = extract(text, /(?m)Company Linkedin Profile :\\s*(https?:\\/\\/[^\\s]+)/)\n    def contactName = extract(text, /(?m)Contact Name :\\s*(.+)/)\n    def title = extract(text, /(?m)Job Title :\\s*(.+)/)\n    def email = extract(text, /(?m)E-mail:\\s*(.+)/)\n\n\tdef contactLinkedIn = extract(text, /(?m)Person Linkedin Profile :\\s*(https?:\\/\\/[^\\s]+)/)\n    def prompt = \"\"\"Act as an expert company research analyst. You have to research on the below company and create a detailed research report on the current business: what they do, what kind of business they are in, what are their products/services, their current business challenges related to Data and AI and transformation, and other related things including their recent AI initiatives.\n \nYou can search through the web, their company website, annual report, CXOs' public forum statements, any news articles or PR statements.\n \nCompany: ${company}  \nIndustry: ${industry}  \nWebsite: ${website}  \nCompany's Linkedin: ${companyLinkedIn}\n \nYou are going to meet them:  \nContact Name: ${contactName}  \nTitle: ${title}  \nE-mail: ${email}  \nContact's Linkedin: ${contactLinkedIn}\n \nBased on the contact's role and work, what kind of Data, AI, and Transformation use cases might be of interest? After the complete research is completed, create a 1-2 pager meeting notes that should be followed by detailed research about the required things. ${company}  \n. You work in Shorthills AI,a company that provides custom Data and GenAI solutions. \nYou are a pre-sales expert at Shorthills AI and you do extensive research about any incoming lead/clients regarding their business challenges, \nrecent investment, any CEO/CIO/CTO public statement and then you customize the offerings and make the meeting notes targeted towards the client, \nand Shorthills. Please also keep in mind that the meeting notes is the last section of the research document, which will be created by you as a standalone markdown document that contains citations,\nand the meeting notes will be relevant and based on the research doc\"\"\"\n \n\n    def outputJson = [\n        model: \"gemini-2.0-flash\",\n\t\tquery: prompt\n    ]\n    outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(outputJson)).getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\nflowFile = session.putAttribute(flowFile, \"filename\", \"llm_input_payload.json\")\nflowFile = session.putAttribute(flowFile, \"company\", company)\nif (!company){session.transfer(flowFile, REL_FAILURE)}\nelse{session.transfer(flowFile, REL_SUCCESS)}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"6422556b-5916-3d27-0000-000065236576","instanceIdentifier":"6ca3428d-05a0-3fca-b7da-c228645ae452","name":"EvaluateJsonPath","comments":"","position":{"x":-3544.0,"y":1920.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"msg":"$.id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","name":"$.from.application.displayName","Null Value Representation":"empty string","body":"$.body.content","contentType":"$.body.contentType","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"msg":{"name":"msg","displayName":"msg","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"body":{"name":"body","displayName":"body","identifiesControllerService":false,"sensitive":false,"dynamic":true},"contentType":{"name":"contentType","displayName":"contentType","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"1da99908-4a62-3130-0000-000065236576","instanceIdentifier":"db53d76e-85fc-3b62-8833-13e6728d3b76","name":"LogAttribute","comments":"","position":{"x":-4048.0,"y":1480.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"f1eeb4a3-d3a7-367c-81d2-43d25d4ee075","instanceIdentifier":"35ced727-0198-1000-ffff-ffffaf119def","name":"RouteOnAttribute","comments":"","position":{"x":-5136.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","is_reauth":"${content:contains('Subscription')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_reauth":{"name":"is_reauth","displayName":"is_reauth","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"8a6f7655-53cb-30f3-ffff-ffffc3e61536","instanceIdentifier":"103db3e3-bd90-3713-9267-d59f3098949d","name":"ReplaceText","comments":"","position":{"x":-6784.0,"y":2232.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"New research doc created under folder presales/${company}_Research","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"c073f689-0197-1000-cd6e-ef0a4ae625f6","instanceIdentifier":"57d966da-b62e-3fb1-a92a-c4daaaf99ba9","name":"LogMessage","comments":"","position":{"x":-7040.0,"y":1496.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"aad23400-0197-1000-23ef-07108dff6d5c","instanceIdentifier":"3645744c-4e9b-3d27-9046-af18339fb896","name":"InvokeHTTP","comments":"","position":{"x":-4544.0,"y":1664.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Prefer":"outlook.body-content-type=\"text\"","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/${content}","Request OAuth2 Access Token Provider":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Content":"application/json","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Prefer":{"name":"Prefer","displayName":"Prefer","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content":{"name":"Content","displayName":"Content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["No Retry","Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"30 secs","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"724ae7da-0e96-3c4c-0000-000065236576","instanceIdentifier":"bde42ed1-25e1-3dbb-b625-c1552c7255ef","name":"DetectDuplicate","comments":"","position":{"x":-3520.0,"y":1648.0},"type":"org.apache.nifi.processors.standard.DetectDuplicate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Cache Entry Identifier":"${content_SHA-256}","Cache The Entry Identifier":"true","Age Off Duration":"1200 secs","FlowFile Description":"","Distributed Cache Service":"a9547bd4-b003-3550-bdc8-c47d65652dc6"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache The Entry Identifier":{"name":"Cache The Entry Identifier","displayName":"Cache The Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Age Off Duration":{"name":"Age Off Duration","displayName":"Age Off Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Description":{"name":"FlowFile Description","displayName":"FlowFile Description","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ab38649e-0197-1000-e865-718e7647258b","instanceIdentifier":"8350ace0-1ee6-3d7f-9474-9ac452606a5f","name":"LogAttribute","comments":"","position":{"x":-4568.0,"y":1480.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"8551431e-5eac-30e3-0000-000065236576","instanceIdentifier":"775492df-3608-3107-bc9b-4295630e0db1","name":"LogMessage","comments":"","position":{"x":-3480.0,"y":2824.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ab9ae84e-0197-1000-0c47-14193bb33168","instanceIdentifier":"b71ab313-24dd-39df-b0bf-d59859d64159","name":"Create Subscription","comments":"","position":{"x":-5048.0,"y":872.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/subscriptions/38f93b9e-1fb6-4212-bd44-5c3f7e2455a1/reauthorize","Request OAuth2 Access Token Provider":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ca878c11-5002-3cdb-0000-000065236576","instanceIdentifier":"34181769-b5f6-3f5d-90c7-4cd23c2cf035","name":"CryptographicHashContent","comments":"","position":{"x":-4048.0,"y":1656.0},"type":"org.apache.nifi.processors.standard.CryptographicHashContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"hash_algorithm":"SHA-256","fail_when_empty":"false"},"propertyDescriptors":{"hash_algorithm":{"name":"hash_algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fail_when_empty":{"name":"fail_when_empty","displayName":"Fail if the content is empty","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"787699d1-71f5-3127-0000-000065236576","instanceIdentifier":"7a7afbc9-7953-390f-b1aa-0ec35c485d5a","name":"ExecuteStreamCommand","comments":"","position":{"x":-5688.0,"y":2256.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":"application/msword","Working Directory":null,"Command Path":"/bin/bash","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-c;\"pandoc -f markdown -t docx -o -\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"56660f8d-b313-37a4-0000-000065236576","instanceIdentifier":"d109d4fb-c40d-3ae6-83e2-5a51f3a1f17d","name":"LogAttribute","comments":"","position":{"x":-3104.0,"y":1920.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"a0a5d70f-f1e1-3b95-0000-000065236576","instanceIdentifier":"170a862a-a55f-3c8b-88d1-f16fc3add9dd","name":"InvokeHTTP","comments":"","position":{"x":-6144.0,"y":2256.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/me/drive/root:/presales/${company}_Research/Research_Gemini.docx:/content","Request OAuth2 Access Token Provider":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"PUT","Request Username":null,"Request Content-Type":"application/msword","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["No Retry","Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"30 secs","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"eb56bc43-d0c9-3b3f-0000-000065236576","instanceIdentifier":"90771769-9048-3dad-a2ea-d490584c6bc4","name":"LogMessage","comments":"","position":{"x":-3104.0,"y":2144.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"89efd20e-e479-3fab-0000-000065236576","instanceIdentifier":"ba99377d-e1a2-36d1-bb0a-4f0b58261590","name":"InvokeHTTP","comments":"","position":{"x":-3496.0,"y":2600.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"160 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"160 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://68.154.32.96:8111/api/research","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"120 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"20 secs","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["No Retry","Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"30 secs","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"7e751706-ab29-39f4-0000-000065236576","instanceIdentifier":"c473b31e-de40-3e6c-ae73-15676c843c4c","name":"LogMessage","comments":"","position":{"x":-6400.0,"y":2472.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"b9fdbb9d-8c00-3bf9-0000-000065236576","instanceIdentifier":"7aa93764-7654-3dc9-ac0c-bd3e265a2c7a","name":"LogMessage","comments":"","position":{"x":-5968.0,"y":1960.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"c3d4cda8-3f2c-3c8a-0000-000065236576","instanceIdentifier":"065b7121-5539-334e-837f-926b81eb1f37","name":"EvaluateJsonPath","comments":"","position":{"x":-5760.0,"y":2592.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","content":"$.result","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content":{"name":"content","displayName":"content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ab9ae84c-0197-1000-1f5c-9c2a2a9c3c88","instanceIdentifier":"90ed345a-8081-396e-a064-834e794b6d01","name":"LogAttribute","comments":"","position":{"x":-4680.6801273359015,"y":1035.111161588783},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"c051d2b7-0197-1000-5545-f3f681975b38","instanceIdentifier":"e16c6034-3ce2-3e53-a38d-379a222cd2f1","name":"ReplaceText","comments":"","position":{"x":-6392.0,"y":1928.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\"body\" : {\n    \"contentType\" : \"html\",\n    \"content\" : \"New research doc created under folder presales/${company}_Research.\\n Click <a href='${weburl}'>here</a> to view the document \"\n}}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"fcd858cd-d553-34ef-0000-000065236576","instanceIdentifier":"b63ef989-6a7d-3bb8-b684-2fdb820a31ae","name":"LogAttribute","comments":"","position":{"x":-3576.0,"y":1272.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"4ead0911-8cb7-39a9-8306-eb0f84f14300","instanceIdentifier":"c5d8dcd3-0197-1000-ffff-ffffc89d356f","name":"HandleHttpResponse","comments":"","position":{"x":-7408.0,"y":2336.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"HTTP Context Map":"b12540e9-b462-3814-bd11-b9b93bc6ec7c","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"488f392e-fdbe-3999-ffff-ffff851d673a","instanceIdentifier":"269abfcb-7b9d-3992-80b8-0819e7aa1bbc","name":"LogMessage","comments":"","position":{"x":-7416.0,"y":1928.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"c047f6c1-0197-1000-b933-d737aa1bd667","instanceIdentifier":"caebc03b-09b6-3bcd-bbb0-f2738dd78f16","name":"InvokeHTTP","comments":"","position":{"x":-6400.0,"y":1536.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/me/${content:substringBeforeLast('/')}/messages\n","Request OAuth2 Access Token Provider":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["No Retry","Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"30 secs","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ab9ae84d-0197-1000-7cbc-70969186b5f4","instanceIdentifier":"1524a5fa-7e58-3911-8fb6-8b5592e0191b","name":"Trigger Subscription Creation","comments":"","position":{"x":-5576.0,"y":680.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n            \"changeType\": \"created\",\n            \"notificationUrl\": \"https://wealthy-ladybug-intensely.ngrok-free.app/api/webhook\",\n            \"resource\": \"chats/19:392a582f83834e82a3f8a4085f6a9dee@thread.v2/messages\", \"clientState\": \"SecretClientState\",\"expirationDateTime\": \"${now():toNumber():plus(172800000):format(\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\")}\",\n            \"lifecycleNotificationUrl\":\"https://wealthy-ladybug-intensely.ngrok-free.app/api/webhook\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"47 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"0ec0dbf1-ff79-3ffa-0000-000065236576","instanceIdentifier":"193f89be-b54b-3ced-9d8b-918b09658bcb","name":"ReplaceText","comments":"","position":{"x":-3528.0,"y":2144.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${body}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"4a96d58e-0ce7-3f25-ffff-ffffa652b3a7","instanceIdentifier":"7c2fc2dd-03ee-3a81-9d1c-84caf582b23a","name":"Trigger Subscription Creation","comments":"","position":{"x":-5584.0,"y":872.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"47 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"92a3cd3e-4147-3aa8-ffff-ffff97bc5889","instanceIdentifier":"16ae4d53-50cd-3710-8a81-157ba0a90710","name":"ReplaceText","comments":"","position":{"x":-5080.0,"y":1104.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n\"expirationDateTime\": \"${now():toNumber():plus(172800000):format(\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\")}\"\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"aad290a5-0197-1000-9563-4c0e2cda85ff","instanceIdentifier":"5294f82e-3898-3625-829b-10628e36d165","name":"EvaluateJsonPath","comments":"","position":{"x":-5072.0,"y":1664.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","content":"$.dataUrl","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content":{"name":"content","displayName":"content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"97c41f10-76e2-33e1-ffff-ffffdbb03007","instanceIdentifier":"3185de62-f70f-311b-9741-16ee99883227","name":"InvokeHTTP","comments":"","position":{"x":-4488.0,"y":1208.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/${content}","Request OAuth2 Access Token Provider":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"PATCH","Content":"application/json","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content":{"name":"Content","displayName":"Content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["No Retry","Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"30 secs","componentType":"PROCESSOR","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"75e70973-09f9-3ecb-89c0-05a3b3816f29","instanceIdentifier":"ca4d2e87-0197-1000-0000-0000744fc284","name":"","source":{"id":"c7c27aa0-5ce6-33a4-0000-000005896684","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a033708-d1ab-3249-b7cb-912b0dab421c"},"destination":{"id":"c051d2b7-0197-1000-5545-f3f681975b38","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"e16c6034-3ce2-3e53-a38d-379a222cd2f1"},"labelIndex":0,"zIndex":70,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"45758add-d504-3226-0000-000065236576","instanceIdentifier":"bab79110-1b55-3f19-9e5a-a135e3e2d202","name":"","source":{"id":"787699d1-71f5-3127-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"7a7afbc9-7953-390f-b1aa-0ec35c485d5a"},"destination":{"id":"b9fdbb9d-8c00-3bf9-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"7aa93764-7654-3dc9-ac0c-bd3e265a2c7a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"7473fb06-0d03-309e-8525-5d361608365d","instanceIdentifier":"cbe71bc0-ee28-3b22-b5fc-66289143bd8d","name":"","source":{"id":"ca878c11-5002-3cdb-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"CryptographicHashContent","comments":"","instanceIdentifier":"34181769-b5f6-3f5d-90c7-4cd23c2cf035"},"destination":{"id":"724ae7da-0e96-3c4c-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"DetectDuplicate","comments":"","instanceIdentifier":"bde42ed1-25e1-3dbb-b625-c1552c7255ef"},"labelIndex":0,"zIndex":25,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"76b00ef0-ff4c-3a7b-0000-000065236576","instanceIdentifier":"b38c9fc6-6201-3304-a373-ce69387ca38c","name":"","source":{"id":"89efd20e-e479-3fab-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"ba99377d-e1a2-36d1-bb0a-4f0b58261590"},"destination":{"id":"8551431e-5eac-30e3-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"775492df-3608-3107-bc9b-4295630e0db1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"53f0f093-a942-3136-aead-8d5194ba446a","instanceIdentifier":"bc1b8dbe-bc38-33d5-85f8-3537ab6e1e05","name":"","source":{"id":"c047f6c1-0197-1000-b933-d737aa1bd667","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"caebc03b-09b6-3bcd-bbb0-f2738dd78f16"},"destination":{"id":"c073f689-0197-1000-cd6e-ef0a4ae625f6","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"57d966da-b62e-3fb1-a92a-c4daaaf99ba9"},"labelIndex":0,"zIndex":64,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"8468adb5-3fb8-3434-b57c-826078ba014a","instanceIdentifier":"c5da1007-0197-1000-0000-00000abf919e","name":"","source":{"id":"4ead0911-8cb7-39a9-8306-eb0f84f14300","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"HandleHttpResponse","comments":"","instanceIdentifier":"c5d8dcd3-0197-1000-ffff-ffffc89d356f"},"destination":{"id":"488f392e-fdbe-3999-ffff-ffff851d673a","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"269abfcb-7b9d-3992-80b8-0819e7aa1bbc"},"labelIndex":0,"zIndex":69,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"2de803f5-a008-3a46-8d37-82f830ce36e0","instanceIdentifier":"1223d9ab-c832-3d69-970f-39abedc1df87","name":"","source":{"id":"c047f6c1-0197-1000-b933-d737aa1bd667","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"caebc03b-09b6-3bcd-bbb0-f2738dd78f16"},"destination":{"id":"c073f689-0197-1000-cd6e-ef0a4ae625f6","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"57d966da-b62e-3fb1-a92a-c4daaaf99ba9"},"labelIndex":0,"zIndex":65,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-6750.0,"y":1960.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"b1c88423-61e0-3a56-9250-ccb3e3828496","instanceIdentifier":"e3ba6695-0197-1000-ffff-ffffbe5e4a74","name":"","source":{"id":"4a96d58e-0ce7-3f25-ffff-ffffa652b3a7","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"Trigger Subscription Creation","comments":"","instanceIdentifier":"7c2fc2dd-03ee-3a81-9d1c-84caf582b23a"},"destination":{"id":"ab9ae84e-0197-1000-0c47-14193bb33168","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"Create Subscription","comments":"","instanceIdentifier":"b71ab313-24dd-39df-b0bf-d59859d64159"},"labelIndex":0,"zIndex":71,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"91dd75bc-6f47-3a91-0000-000065236576","instanceIdentifier":"706f85ba-bef6-3533-8088-5b9c5cdedf51","name":"","source":{"id":"0ec0dbf1-ff79-3ffa-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"193f89be-b54b-3ced-9d8b-918b09658bcb"},"destination":{"id":"e2f370ff-49ba-36d1-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ExecuteScript","comments":"","instanceIdentifier":"481c262b-1d31-3012-bbe2-d6dea75c6f9a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"a84c6f7b-3477-330e-0000-000065236576","instanceIdentifier":"b6d9b7b1-2990-33dd-b13a-bc3e3ff20eeb","name":"","source":{"id":"0ec0dbf1-ff79-3ffa-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"193f89be-b54b-3ced-9d8b-918b09658bcb"},"destination":{"id":"eb56bc43-d0c9-3b3f-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"90771769-9048-3dad-a2ea-d490584c6bc4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"d7e82cd4-0264-3d06-9704-0786e4574876","instanceIdentifier":"3700cacd-0198-1000-0000-0000002eefb9","name":"","source":{"id":"92a3cd3e-4147-3aa8-ffff-ffff97bc5889","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"16ae4d53-50cd-3710-8a81-157ba0a90710"},"destination":{"id":"97c41f10-76e2-33e1-ffff-ffffdbb03007","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"3185de62-f70f-311b-9741-16ee99883227"},"labelIndex":0,"zIndex":79,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"a219d3d8-33ff-3cf0-8305-3baddbc77f23","instanceIdentifier":"369e9d0d-0198-1000-ffff-ffff83e4b423","name":"","source":{"id":"97c41f10-76e2-33e1-ffff-ffffdbb03007","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"3185de62-f70f-311b-9741-16ee99883227"},"destination":{"id":"ab38649e-0197-1000-e865-718e7647258b","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"8350ace0-1ee6-3d7f-9474-9ac452606a5f"},"labelIndex":0,"zIndex":78,"selectedRelationships":["No Retry","Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-4032.0,"y":1424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"59369afb-7e13-3fcf-8a1b-d765fa13ec94","instanceIdentifier":"0daf7a5e-0198-1000-0000-0000670a9c14","name":"","source":{"id":"c047f6c1-0197-1000-b933-d737aa1bd667","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"caebc03b-09b6-3bcd-bbb0-f2738dd78f16"},"destination":{"id":"c073f689-0197-1000-cd6e-ef0a4ae625f6","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"57d966da-b62e-3fb1-a92a-c4daaaf99ba9"},"labelIndex":0,"zIndex":73,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-6544.0,"y":1655.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"64026ddf-10a9-3427-965f-3321c1f776ba","instanceIdentifier":"b69c25fd-b2ce-38d4-8229-18862b0d6b81","name":"","source":{"id":"a0a5d70f-f1e1-3b95-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"170a862a-a55f-3c8b-88d1-f16fc3add9dd"},"destination":{"id":"c7c27aa0-5ce6-33a4-0000-000005896684","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9a033708-d1ab-3249-b7cb-912b0dab421c"},"labelIndex":0,"zIndex":62,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"05c4a1d4-6811-350d-977d-b2e848d7e141","instanceIdentifier":"88096864-8fcc-3587-bae4-0a857f86d23e","name":"","source":{"id":"aad290a5-0197-1000-9563-4c0e2cda85ff","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5294f82e-3898-3625-829b-10628e36d165"},"destination":{"id":"f1eeb4a3-d3a7-367c-81d2-43d25d4ee075","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"35ced727-0198-1000-ffff-ffffaf119def"},"labelIndex":0,"zIndex":56,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"5176d2cf-854f-3c0e-b8cd-faa886e18c5c","instanceIdentifier":"e07d0451-1504-3656-836c-a06ca513c71a","name":"","source":{"id":"aad1d05a-0197-1000-0990-4cf314d96a3a","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ListenHTTP","comments":"","instanceIdentifier":"0e350ea2-0a58-3bb1-8ff7-aef038c17afc"},"destination":{"id":"aad290a5-0197-1000-9563-4c0e2cda85ff","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5294f82e-3898-3625-829b-10628e36d165"},"labelIndex":0,"zIndex":55,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"da1e2daa-d717-3902-b3cf-9ff8409f0333","instanceIdentifier":"5811e252-a20c-3109-bdbe-2efe18d309bf","name":"","source":{"id":"ab9ae84e-0197-1000-0c47-14193bb33168","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"Create Subscription","comments":"","instanceIdentifier":"b71ab313-24dd-39df-b0bf-d59859d64159"},"destination":{"id":"ab9ae84c-0197-1000-1f5c-9c2a2a9c3c88","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"90ed345a-8081-396e-a064-834e794b6d01"},"labelIndex":0,"zIndex":61,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-4688.340063667951,"y":942.5555807943915}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ecc45b12-7666-3688-0000-000065236576","instanceIdentifier":"d228f834-c3d6-3972-b73f-eb4c1c13b91b","name":"","source":{"id":"e2f370ff-49ba-36d1-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ExecuteScript","comments":"","instanceIdentifier":"481c262b-1d31-3012-bbe2-d6dea75c6f9a"},"destination":{"id":"89efd20e-e479-3fab-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"ba99377d-e1a2-36d1-bb0a-4f0b58261590"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"716c730e-72a9-3a28-0000-000065236576","instanceIdentifier":"f4cc7c66-a7e0-3061-8b57-6da5faa562f9","name":"","source":{"id":"a0a5d70f-f1e1-3b95-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"170a862a-a55f-3c8b-88d1-f16fc3add9dd"},"destination":{"id":"7e751706-ab29-39f4-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"c473b31e-de40-3e6c-ae73-15676c843c4c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"69ee602b-728c-3df0-0000-000065236576","instanceIdentifier":"8f20a00a-8406-33b6-b84b-bfd64ab7aab3","name":"","source":{"id":"6422556b-5916-3d27-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6ca3428d-05a0-3fca-b7da-c228645ae452"},"destination":{"id":"56660f8d-b313-37a4-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"d109d4fb-c40d-3ae6-83e2-5a51f3a1f17d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"af0ba8d3-6aee-3dbe-a5e1-020cd01ff1d9","instanceIdentifier":"35d1e7c9-0198-1000-0000-000071782781","name":"","source":{"id":"97c41f10-76e2-33e1-ffff-ffffdbb03007","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"3185de62-f70f-311b-9741-16ee99883227"},"destination":{"id":"ab38649e-0197-1000-e865-718e7647258b","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"8350ace0-1ee6-3d7f-9474-9ac452606a5f"},"labelIndex":0,"zIndex":77,"selectedRelationships":["Response","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"185157a2-fdc7-343b-87ea-0234815798bf","instanceIdentifier":"35d0d202-0198-1000-0000-00007d008965","name":"","source":{"id":"f1eeb4a3-d3a7-367c-81d2-43d25d4ee075","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"35ced727-0198-1000-ffff-ffffaf119def"},"destination":{"id":"aad23400-0197-1000-23ef-07108dff6d5c","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"3645744c-4e9b-3d27-9046-af18339fb896"},"labelIndex":0,"zIndex":75,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"9634da08-ae7d-37f1-9513-655eb17210dc","instanceIdentifier":"35d124a8-0198-1000-0000-00001dd38622","name":"","source":{"id":"f1eeb4a3-d3a7-367c-81d2-43d25d4ee075","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"35ced727-0198-1000-ffff-ffffaf119def"},"destination":{"id":"92a3cd3e-4147-3aa8-ffff-ffff97bc5889","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"16ae4d53-50cd-3710-8a81-157ba0a90710"},"labelIndex":0,"zIndex":76,"selectedRelationships":["is_reauth"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"511759e5-9d1b-3da1-0000-000065236576","instanceIdentifier":"10b1e423-ed50-3cce-89fb-8be79b335f68","name":"","source":{"id":"e2f370ff-49ba-36d1-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ExecuteScript","comments":"","instanceIdentifier":"481c262b-1d31-3012-bbe2-d6dea75c6f9a"},"destination":{"id":"016046ba-067d-30f4-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"403f457b-1db7-322b-b284-cee9dbb50c73"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"63b1c624-4778-34e5-9854-e0aeedb382fa","instanceIdentifier":"5e3f8b92-2f6a-3bee-a220-076f9bf3f12d","name":"","source":{"id":"89efd20e-e479-3fab-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"ba99377d-e1a2-36d1-bb0a-4f0b58261590"},"destination":{"id":"c3d4cda8-3f2c-3c8a-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"065b7121-5539-334e-837f-926b81eb1f37"},"labelIndex":0,"zIndex":44,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"37ad2fd7-d80a-326a-8eeb-79377f627fa7","instanceIdentifier":"140fc4b2-98db-38b1-8667-1fe5cbba1869","name":"","source":{"id":"aad23400-0197-1000-23ef-07108dff6d5c","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"3645744c-4e9b-3d27-9046-af18339fb896"},"destination":{"id":"ab38649e-0197-1000-e865-718e7647258b","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"8350ace0-1ee6-3d7f-9474-9ac452606a5f"},"labelIndex":0,"zIndex":58,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"729c75ee-e4c8-3593-bb68-00f6f8a77006","instanceIdentifier":"9affe92d-49a5-39aa-904c-b49a59d5bfae","name":"","source":{"id":"c051d2b7-0197-1000-5545-f3f681975b38","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"e16c6034-3ce2-3e53-a38d-379a222cd2f1"},"destination":{"id":"c047f6c1-0197-1000-b933-d737aa1bd667","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"caebc03b-09b6-3bcd-bbb0-f2738dd78f16"},"labelIndex":0,"zIndex":63,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"32a919ab-8451-329a-0000-000065236576","instanceIdentifier":"97e71406-e2ef-3610-81d8-8268d142c698","name":"","source":{"id":"724ae7da-0e96-3c4c-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"DetectDuplicate","comments":"","instanceIdentifier":"bde42ed1-25e1-3dbb-b625-c1552c7255ef"},"destination":{"id":"fcd858cd-d553-34ef-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"b63ef989-6a7d-3bb8-b684-2fdb820a31ae"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"59d697ae-473e-34cd-8526-318f2a0ff283","instanceIdentifier":"1d0d1ce2-0198-1000-ffff-ffffd32168f4","name":"","source":{"id":"724ae7da-0e96-3c4c-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"DetectDuplicate","comments":"","instanceIdentifier":"bde42ed1-25e1-3dbb-b625-c1552c7255ef"},"destination":{"id":"6422556b-5916-3d27-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6ca3428d-05a0-3fca-b7da-c228645ae452"},"labelIndex":0,"zIndex":74,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"a92e73e5-020d-39ce-0000-000065236576","instanceIdentifier":"545014b1-d393-385c-9ebe-5fd34fed1d6c","name":"","source":{"id":"ca878c11-5002-3cdb-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"CryptographicHashContent","comments":"","instanceIdentifier":"34181769-b5f6-3f5d-90c7-4cd23c2cf035"},"destination":{"id":"1da99908-4a62-3130-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"db53d76e-85fc-3b62-8833-13e6728d3b76"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"de2d1e5c-8b2c-3bc8-8b71-3fddb2877fcc","instanceIdentifier":"c5d8f894-0197-1000-0000-00000f7165a3","name":"","source":{"id":"8a6f7655-53cb-30f3-ffff-ffffc3e61536","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"103db3e3-bd90-3713-9267-d59f3098949d"},"destination":{"id":"4ead0911-8cb7-39a9-8306-eb0f84f14300","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"HandleHttpResponse","comments":"","instanceIdentifier":"c5d8dcd3-0197-1000-ffff-ffffc89d356f"},"labelIndex":0,"zIndex":68,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"a4ecd6b0-38ce-33d2-0000-000065236576","instanceIdentifier":"d1869a60-6239-3603-87e6-96a62eb2e131","name":"","source":{"id":"6422556b-5916-3d27-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6ca3428d-05a0-3fca-b7da-c228645ae452"},"destination":{"id":"0ec0dbf1-ff79-3ffa-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ReplaceText","comments":"","instanceIdentifier":"193f89be-b54b-3ced-9d8b-918b09658bcb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"a8d901d6-70f5-379a-9b3b-c1af21804ffe","instanceIdentifier":"0daf64c4-0198-1000-ffff-ffffac6c9fcd","name":"","source":{"id":"c047f6c1-0197-1000-b933-d737aa1bd667","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"caebc03b-09b6-3bcd-bbb0-f2738dd78f16"},"destination":{"id":"c073f689-0197-1000-cd6e-ef0a4ae625f6","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogMessage","comments":"","instanceIdentifier":"57d966da-b62e-3fb1-a92a-c4daaaf99ba9"},"labelIndex":0,"zIndex":72,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-6544.0,"y":1505.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"17f20be0-87a0-3a9b-9c8d-950b59aa6c7d","instanceIdentifier":"fed3f81a-28f0-3153-b20f-098796560309","name":"","source":{"id":"aad23400-0197-1000-23ef-07108dff6d5c","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"3645744c-4e9b-3d27-9046-af18339fb896"},"destination":{"id":"ca878c11-5002-3cdb-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"CryptographicHashContent","comments":"","instanceIdentifier":"34181769-b5f6-3f5d-90c7-4cd23c2cf035"},"labelIndex":0,"zIndex":57,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ac302eac-bcd8-3e58-0000-000065236576","instanceIdentifier":"9eb64505-54e8-312f-a23a-cf2131ee1993","name":"","source":{"id":"787699d1-71f5-3127-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"7a7afbc9-7953-390f-b1aa-0ec35c485d5a"},"destination":{"id":"a0a5d70f-f1e1-3b95-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"InvokeHTTP","comments":"","instanceIdentifier":"170a862a-a55f-3c8b-88d1-f16fc3add9dd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"ab9ae850-0197-1000-253d-f8d21ec1bfea","instanceIdentifier":"6ad0b651-944e-35b9-b233-45c0180d06b6","name":"","source":{"id":"ab9ae84e-0197-1000-0c47-14193bb33168","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"Create Subscription","comments":"","instanceIdentifier":"b71ab313-24dd-39df-b0bf-d59859d64159"},"destination":{"id":"ab9ae84c-0197-1000-1f5c-9c2a2a9c3c88","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"LogAttribute","comments":"","instanceIdentifier":"90ed345a-8081-396e-a064-834e794b6d01"},"labelIndex":0,"zIndex":60,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"604e3b5d-e964-3042-0000-000065236576","instanceIdentifier":"ef09c355-609e-32a1-9512-5ec0b657ae40","name":"","source":{"id":"c3d4cda8-3f2c-3c8a-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"065b7121-5539-334e-837f-926b81eb1f37"},"destination":{"id":"787699d1-71f5-3127-0000-000065236576","type":"PROCESSOR","groupId":"4f589dbc-a6ab-3acd-b24b-527e503ba41f","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"7a7afbc9-7953-390f-b1aa-0ec35c485d5a"},"labelIndex":0,"zIndex":9,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"b12540e9-b462-3814-bd11-b9b93bc6ec7c","instanceIdentifier":"c5d78062-0197-1000-ffff-ffffdaa5b970","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.4.0"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"a9547bd4-b003-3550-bdc8-c47d65652dc6","instanceIdentifier":"c41a245e-adc9-3779-8f9e-457aadfcb23d","name":"SimpleRedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.SimpleRedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.4.0"},"properties":{"redis-connection-pool":"21dd52d3-3410-3833-9c55-9e84b3029229","redis-cache-ttl":"0 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"21dd52d3-3410-3833-9c55-9e84b3029229","instanceIdentifier":"b117ac34-4a92-3df2-88c1-0560ee8605ff","name":"RedisConnectionPoolService","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.4.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"68.154.32.96:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Sentinel Username":null,"Pool - Min Idle":"0","Username":null,"Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"4","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Sentinel Username":{"name":"Sentinel Username","displayName":"Sentinel Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Password":{"name":"Sentinel Password","displayName":"Sentinel Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"},{"identifier":"c4367722-dfd0-30c4-b02e-ace0dcf819e1","instanceIdentifier":"6f10564e-5b37-3916-ad15-e1548ca14720","name":"StandardOauth2AccessTokenProvider","comments":"","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"2.4.0"},"properties":{"Refresh Window":"0 s","SSL Context Service":null,"Authorization Server URL":"https://login.microsoftonline.com/85a77b6c-a790-4bcf-8fd6-c1f891dd360b/oauth2/v2.0/token","Client ID":"379beb8f-0b79-433b-be0f-46ebe8227557","Scope":"User.Read Mail.Read offline_access Files.ReadWrite.All","Username":null,"Audience":null,"proxy-configuration-service":null,"Resource":null,"Grant Type":"refresh_token","HTTP Protocols":"H2_HTTP_1_1","Client Authentication Strategy":"REQUEST_BODY"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Audience":{"name":"Audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource":{"name":"Resource","displayName":"Resource","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grant Type":{"name":"Grant Type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Refresh Token":{"name":"Refresh Token","displayName":"Refresh Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Refresh Window":{"name":"Refresh Window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Authorization Server URL":{"name":"Authorization Server URL","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client secret":{"name":"Client secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Scope":{"name":"Scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication Strategy":{"name":"Client Authentication Strategy","displayName":"Client Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f589dbc-a6ab-3acd-b24b-527e503ba41f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}