nifi_pipelines/HRBot_MCP/Resume_ingestion-Dhruv-Gupta/CandidateDataUpdate.json
{"flowContents":{"identifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6","instanceIdentifier":"ceda3b59-0197-1000-ffff-ffff834f8bbd","name":"KnowledgeBase","comments":"","position":{"x":-1320.0,"y":400.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e4309d45-0197-1000-dd15-fb863b3d0743","instanceIdentifier":"932cb276-d076-3b0d-987b-6ac0841e0ad2","name":"LogAttribute","comments":"","position":{"x":5416.0,"y":272.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"19a082d8-4947-3f13-ac11-4cacef6e8d47","instanceIdentifier":"da6cf3c7-0197-1000-ffff-ffff9521ed32","name":"LogAttribute","comments":"","position":{"x":6456.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"aabfee1a-b3e2-3036-8c27-3ce5f6c24dee","instanceIdentifier":"d4b9ee71-0197-1000-0000-00003d223e7a","name":"Exceltojson","comments":"","position":{"x":3848.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/nifi/nifi2/users/dhruv/hrbotingestion","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/dhruv/hrbotingestion/exceltojson.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"e4309d44-0197-1000-f6e4-5e80a406e447","instanceIdentifier":"89ea738a-8dfe-3a24-d5ac-d4f401b9e48f","name":"embedd generation","comments":"","position":{"x":5944.0,"y":240.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"AWS_REGION":"us-west-2","argumentsStrategy":"Command Arguments Property","Working Directory":"/home/nifi/nifi2/users/yogesh/codes","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/yogesh/codes/embedding.py","Max Attribute Length":"256","Output MIME Type":null,"Output Destination Attribute":null,"EMBEDDING_PROVIDER":"azure","EMBEDDING_MODEL":"text-embedding-ada-002","AZURE_OPENAI_EMBEDDING_MODEL":"text-embedding-ada-002"},"propertyDescriptors":{"AWS_REGION":{"name":"AWS_REGION","displayName":"AWS_REGION","identifiesControllerService":false,"sensitive":false,"dynamic":true},"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AZURE_OPENAI_KEY":{"name":"AZURE_OPENAI_KEY","displayName":"AZURE_OPENAI_KEY","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AZURE_OPENAI_ENDPOINT":{"name":"AZURE_OPENAI_ENDPOINT","displayName":"AZURE_OPENAI_ENDPOINT","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"EMBEDDING_PROVIDER":{"name":"EMBEDDING_PROVIDER","displayName":"EMBEDDING_PROVIDER","identifiesControllerService":false,"sensitive":false,"dynamic":true},"EMBEDDING_MODEL":{"name":"EMBEDDING_MODEL","displayName":"EMBEDDING_MODEL","identifiesControllerService":false,"sensitive":false,"dynamic":true},"AZURE_OPENAI_EMBEDDING_MODEL":{"name":"AZURE_OPENAI_EMBEDDING_MODEL","displayName":"AZURE_OPENAI_EMBEDDING_MODEL","identifiesControllerService":false,"sensitive":false,"dynamic":true},"AZURE_OPENAI_API_VERSION":{"name":"AZURE_OPENAI_API_VERSION","displayName":"AZURE_OPENAI_API_VERSION","identifiesControllerService":false,"sensitive":true,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"f5e6f963-8dd5-3077-9bff-444003426937","instanceIdentifier":"d51a6b4a-0197-1000-0000-00003e34047a","name":"SplitJson","comments":"","position":{"x":4472.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"80c68b16-b907-3c07-ffff-ffff9830abe9","instanceIdentifier":"ebfcaf16-d6a6-3c57-92fe-6179934c04c5","name":"exsisting employee data","comments":"","position":{"x":4904.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/nifi/nifi2/users/dhruv/hrbotingestion","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/dhruv/hrbotingestion/elastic_db_fetch.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"22cc9001-c84d-3260-88c8-701f45bc750f","instanceIdentifier":"d418ddc8-0197-1000-ffff-fffffbb60a3c","name":"LogAttribute","comments":"","position":{"x":2000.0,"y":24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"51846de0-0b24-3a56-8daa-8bd62e455f68","instanceIdentifier":"d526acfe-0197-1000-ffff-ffffbaad5f46","name":"LogAttribute","comments":"","position":{"x":4624.0,"y":96.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"e4309d43-0197-1000-edaa-431ea7121b14","instanceIdentifier":"2a608daa-15e8-3d7e-0477-eead50bcb594","name":"insert to elastic","comments":"","position":{"x":5928.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/nifi/nifi2/users/yogesh/codes","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/yogesh/codes/insert.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"d6c9da1e-b52e-33e8-ffff-ffffa8c34717","instanceIdentifier":"cb86e27a-43a6-36f2-bdab-c56fa007c680","name":"Download Excel File","comments":"","position":{"x":2408.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer ${access_token}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://graph.microsoft.com/v1.0/drives/${driveId}/items/${itemId}/content","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"c053d5e1-416a-3009-a6b3-36674e733260","instanceIdentifier":"d3d1cb13-0197-1000-ffff-ffffe58fa49f","name":"Extract Access Token","comments":"","position":{"x":864.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"access_token":"$.access_token","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"access_token":{"name":"access_token","displayName":"access_token","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"8cf1c497-7cd5-32c1-82f6-5309a7f5bba1","instanceIdentifier":"d4be5f8b-0197-1000-ffff-ffffd8f6256a","name":"LogAttribute","comments":"","position":{"x":3488.0,"y":104.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"6c044bbf-2a96-30c3-8b86-624e286b8200","instanceIdentifier":"d4239428-0197-1000-0000-000028e7634c","name":"ExecuteScript","comments":"","position":{"x":1360.0,"y":-304.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.flowfile.FlowFile\nimport org.apache.nifi.processor.io.StreamCallback\nimport org.apache.commons.codec.binary.Base64\nimport java.nio.charset.StandardCharsets\n\nFlowFile flowFile = session.get()\nif (!flowFile) return\n\n// Hardcoded SharePoint link\nString shareLink = \"https://shorthillstech-my.sharepoint.com/:x:/r/personal/yogesh_yadav_shorthills_ai/_layouts/15/Doc.aspx?sourcedoc=%7BD1FC09AE-16FE-4F83-B202-3F87B180360D%7D&file=Employee%20Projects%20Collection%20Form(1-115).xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&ct=1751529317147&wdOrigin=OFFICECOM-WEB.START.EDGEWORTH&cid=e052b3bc-d5fe-4b0f-8ecd-e72a5717fc7c&wdPreviousSessionSrc=HarmonyWeb&wdPreviousSession=4aa2d414-3744-4cca-836a-564ecf4fb6f7\"\n\nString base64Encoded = Base64.encodeBase64String(shareLink.getBytes(StandardCharsets.UTF_8))\nString graphSafe = base64Encoded\n    .replace(\"/\", \"_\")\n    .replace(\"+\", \"-\")\n    .replaceAll(\"=+\\$\", \"\")  // remove trailing '=' safely\n\nflowFile = session.putAttribute(flowFile, \"sharepoint.encoded\", graphSafe)\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"9077001f-5e84-3c54-80f9-50e3e65d3f33","instanceIdentifier":"d4cded7e-0197-1000-ffff-ffff9dff5846","name":"UpdateAttribute","comments":"","position":{"x":2896.0,"y":-240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"CandidateData.xlsx","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"db176ba0-f154-3df2-0000-0000070a26d0","instanceIdentifier":"75c480e7-3ca2-3e6c-8bfa-c8d7bedb55cf","name":"Generate Trigger","comments":"","position":{"x":3552.0,"y":-496.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"67d13a04-02e9-342e-ffff-ffffb4a399fa","instanceIdentifier":"71675d5c-a520-32a9-9198-4d5feaf5b6de","name":"Save Excel File","comments":"","position":{"x":3432.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/nifi2/users/dhruv/hrbotingestion/data","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"2a4d8d92-3c6c-390f-a1ea-5bf38163535f","instanceIdentifier":"d40afb9f-0197-1000-0000-0000634194d4","name":"ExecuteScript","comments":"","position":{"x":280.0,"y":-312.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport java.net.HttpURLConnection\nimport java.net.URL\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef tenantId = \"85a77b6c-a790-4bcf-8fd6-c1f891dd360b\"\ndef clientId = \"\"\ndef clientSecret = \"\"\ndef scope = \"https://graph.microsoft.com/.default\"\ndef url = \"https://login.microsoftonline.com/${tenantId}/oauth2/v2.0/token\"\n\ndef params = [\n    \"client_id\"     : clientId,\n    \"client_secret\" : clientSecret,\n    \"scope\"         : scope,\n    \"grant_type\"    : \"client_credentials\"\n].collect { k, v -> \"${URLEncoder.encode(k, \"UTF-8\")}=${URLEncoder.encode(v, \"UTF-8\")}\" }\n .join(\"&\")\n\ndef conn = (HttpURLConnection) new URL(url).openConnection()\nconn.setRequestMethod(\"POST\")\nconn.setRequestProperty(\"Content-Type\", \"application/x-www-form-urlencoded\")\nconn.setDoOutput(true)\nconn.getOutputStream().write(params.getBytes(\"UTF-8\"))\n\ndef responseCode = conn.getResponseCode()\ndef responseStream = (responseCode == 200) ? conn.getInputStream() : conn.getErrorStream()\ndef responseBody = IOUtils.toString(responseStream, StandardCharsets.UTF_8)\n\nflowFile = session.write(flowFile, { outputStream ->\n    outputStream.write(responseBody.getBytes(StandardCharsets.UTF_8))\n} as OutputStreamCallback)\n\nflowFile = session.putAttribute(flowFile, \"http.status\", responseCode.toString())\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"0309ba70-bebc-3787-0000-00003983913c","instanceIdentifier":"d160a517-29f7-3861-af5d-a81709aa411c","name":"Resume Standardisation","comments":"","position":{"x":5344.0,"y":-240.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Extract employee_id from filename (e.g., \"123456.json\"  \"123456\")\n    def filename = flowFile.getAttribute(\"filename\")\n    def employeeId = filename.replaceFirst(/\\.[^.]+$/, \"\")\n\n    // Azure OpenAI configuration\n    def API_KEY = \"\"\n    def ENDPOINT = \"https://us-tax-law-rag-demo.openai.azure.com\"\n    def DEPLOYMENT = \"gpt-4o-mini\"\n    def API_VERSION = \"2024-08-01-preview\"\n\n    // Read content from FlowFile\n    def contentStream = session.read(flowFile)\n    def inputJson = new JsonSlurper().parseText(IOUtils.toString(contentStream, StandardCharsets.UTF_8))\n    contentStream.close()\n\n    def eid = inputJson.employee_id ?: employeeId\n    def name = inputJson.employee_name ?: \"\"\n    def newSkills = (inputJson.new_data?.skills ?: []).join(\", \")\n    def newProjects = inputJson.new_data?.projects ?: \"\"\n    def oldSkills = (inputJson.existing_data?.skills ?: []).join(\", \")\n    def oldProjects = inputJson.existing_data?.projects ?: \"\"\n\n    // Prompt to LLM\n    def prompt = \"\"\"\nYou are a resume standardization assistant. You are given both new and existing resume data for a candidate.\n\nYour task is to produce a complete, clean, and structured JSON resume in the following strict format:\n\n{\n  \"employee_id\": str,\n  \"name\": str,\n  \"email\": str,\n  \"phone\": str,\n  \"location\": str,\n  \"summary\": str,\n  \"education\": [\n    {\n      \"degree\": str,\n      \"institution\": str,\n      \"year\": int or str\n    }\n  ],\n  \"experience\": [\n    {\n      \"title\": str,\n      \"company\": str,\n      \"duration\": str,\n      \"location\": str (optional),\n      \"description\": str\n    }\n  ],\n  \"skills\": [str],\n  \"projects\": [\n    {\n      \"title\": str,\n      \"description\": str,\n      \"link\": str (optional)\n    }\n  ],\n  \"certifications\": [\n    {\n      \"title\": str,\n      \"issuer\": str (optional),\n      \"year\": str or int (optional),\n      \"link\": str (optional)\n    }\n  ],\n  \"languages\": [str],\n  \"social_profiles\": [\n    {\n      \"platform\": str,\n      \"link\": str\n    }\n  ]\n}\n\n--- INPUT ---\nEmployee ID: ${eid}\nName: ${name}\n\n--- New Skills ---\n${newSkills}\n\n--- New Projects ---\n${newProjects}\n\n--- Existing Skills ---\n${oldSkills}\n\n--- Existing Projects ---\n${oldProjects}\n\n--- INSTRUCTIONS ---\n- Use both new and existing data.\n- Remove duplicates.\n- Normalize structure.\n- Output only a valid JSON object in the exact format above.\n- Do not wrap in markdown or add explanations.\n\"\"\"\n\n    // Build the OpenAI request\n    def requestBody = JsonOutput.toJson([\n        messages: [\n            [role: \"system\", content: \"You are a helpful assistant that formats resumes into structured JSON.\"],\n            [role: \"user\", content: prompt]\n        ],\n        temperature: 0.2,\n        max_tokens: 6000\n    ])\n\n    def conn = new URL(\"${ENDPOINT}/openai/deployments/${DEPLOYMENT}/chat/completions?api-version=${API_VERSION}\")\n        .openConnection()\n    conn.setRequestMethod(\"POST\")\n    conn.setDoOutput(true)\n    conn.setRequestProperty(\"Content-Type\", \"application/json\")\n    conn.setRequestProperty(\"api-key\", API_KEY)\n\n    conn.outputStream.withWriter(\"UTF-8\") { it.write(requestBody) }\n\n    def responseText = conn.inputStream.withReader(\"UTF-8\") { it.text }\n    def parsed = new JsonSlurper().parseText(responseText)\n\n    def rawLLM = parsed.choices[0].message.content?.trim()\n    def cleaned = rawLLM?.replaceAll(/(?s)```(json)?/, \"\")?.trim()\n    def standardized = new JsonSlurper().parseText(cleaned)\n\n    // Inject employee_id (in case it's missing)\n    standardized.employee_id = eid\n\n    def finalJson = JsonOutput.prettyPrint(JsonOutput.toJson(standardized))\n\n    // Write to FlowFile\n    flowFile = session.write(flowFile, { out ->\n        out.write(finalJson.getBytes(StandardCharsets.UTF_8))\n    } as OutputStreamCallback)\n\n    flowFile = session.putAttribute(flowFile, \"employee_id\", eid)\n\n    session.transfer(flowFile, REL_SUCCESS)\n\n} catch (Exception e) {\n    log.error(\" Error during standardization: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"0fb152e1-d9fc-3f62-0000-0000105b7982","instanceIdentifier":"63159771-67e5-39a0-a279-7a718db8f803","name":"ExecuteScript","comments":"","position":{"x":1952.0,"y":-296.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.flowfile.FlowFile\nimport org.apache.nifi.processor.io.StreamCallback\nimport org.apache.nifi.processor.exception.ProcessException\n\nimport groovy.json.JsonSlurper\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef accessToken = flowFile.getAttribute(\"access_token\")\ndef encoded = flowFile.getAttribute(\"sharepoint.encoded\")\n\nif (!accessToken || !encoded) {\n    flowFile = session.putAttribute(flowFile, \"error\", \"Missing access_token or sharepoint.encoded\")\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\n//  Important: prepend \"u!\" to the encoded string\ndef apiUrl = \"https://graph.microsoft.com/v1.0/shares/u!${encoded}/driveItem\"\n\ndef connection = new URL(apiUrl).openConnection()\nconnection.setRequestMethod(\"GET\")\nconnection.setRequestProperty(\"Authorization\", \"Bearer \" + accessToken)\nconnection.setRequestProperty(\"Accept\", \"application/json\")\n\ndef responseCode = connection.getResponseCode()\nif (responseCode != 200) {\n    flowFile = session.putAttribute(flowFile, \"error\", \"Graph API call failed with status ${responseCode}\")\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef json = new JsonSlurper().parse(connection.getInputStream())\n\ndef driveId = json.parentReference?.driveId\ndef itemId = json.id\ndef fileName = json.name\n\nflowFile = session.putAttribute(flowFile, \"driveId\", driveId ?: \"\")\nflowFile = session.putAttribute(flowFile, \"itemId\", itemId ?: \"\")\nflowFile = session.putAttribute(flowFile, \"filename\", fileName ?: \"\")\n\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"e4309d46-0197-1000-17fa-d2a82461c19e","instanceIdentifier":"bc94fb09-6a48-35cd-6ebe-4c488e41d9bd","name":"flatten json","comments":"","position":{"x":5952.0,"y":-24.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.4.0"},"properties":{"groovyx-script-body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport java.io.InputStream\nimport java.io.OutputStream\nimport java.io.IOException\nimport org.apache.nifi.processor.io.InputStreamCallback\nimport org.apache.nifi.processor.io.OutputStreamCallback\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def content = ''\n\n    // Read JSON input from FlowFile content\n    session.read(flowFile, new InputStreamCallback() {\n        @Override\n        void process(InputStream inputStream) throws IOException {\n            content = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        }\n    })\n\n    if (!content?.trim()) throw new IllegalArgumentException(\"FlowFile content is empty\")\n\n    def parsed = new JsonSlurper().parseText(content.trim())\n    if (!(parsed instanceof List)) {\n        parsed = [parsed]  // Convert to list if single JSON object\n    }\n\n    parsed.eachWithIndex { doc, idx ->\n        def name = doc['name']?.toString()?.replaceAll(\"\\\\s+\", \"_\") ?: \"unknown\"\n        def empId = doc['employee_id']?.toString() ?: idx.toString()\n        def filename = \"${empId}_${name}.txt\"\n        def outputJson = JsonOutput.toJson([\n            filename: filename,\n            text: doc.toString()\n        ])\n\n        def ff = session.create(flowFile)\n        session.write(ff, new OutputStreamCallback() {\n            @Override\n            void process(OutputStream out) throws IOException {\n                out.write(JsonOutput.prettyPrint(outputJson).getBytes(StandardCharsets.UTF_8))\n            }\n        })\n\n        session.transfer(ff, REL_SUCCESS)\n    }\n\n    session.remove(flowFile)\n\n} catch (Exception e) {\n    log.error(\"ExecuteScript Error: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}\n","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"3924e831-a92c-39bf-b8c9-5338839ca986","instanceIdentifier":"d3d14512-0197-1000-0000-00000ea74c2e","name":"Generate Trigger","comments":"","position":{"x":-312.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"902f8a17-4ebb-33bf-ffff-fffff38d59d8","instanceIdentifier":"1f0893bc-715b-3f88-83e7-7d9459d0a6e9","name":"Insert to elastic","comments":"","position":{"x":5864.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"4096","Output MIME Type":"application/json","Working Directory":"/home/nifi/nifi2/users/dhruv/hrbotingestion","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Output Destination Attribute":null,"Argument Delimiter":" ","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/dhruv/hrbotingestion/elastic_db_update.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"7f7b1474-be08-35ae-0000-00003a3626d9","instanceIdentifier":"6b062e7f-fa12-3579-a2bd-36b1ac85f788","name":"LogAttribute","comments":"","position":{"x":6432.0,"y":-632.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"480cb647-9e1f-3df0-9295-9dc707c81687","instanceIdentifier":"d40b57ca-0197-1000-0000-000050bb787c","name":"LogAttribute","comments":"","position":{"x":360.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"83fac54f-de3b-319d-a21a-6f63acc92150","instanceIdentifier":"d40b17d3-0197-1000-0000-000047c6dbf7","name":"","source":{"id":"3924e831-a92c-39bf-b8c9-5338839ca986","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Generate Trigger","comments":"","instanceIdentifier":"d3d14512-0197-1000-0000-00000ea74c2e"},"destination":{"id":"2a4d8d92-3c6c-390f-a1ea-5bf38163535f","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"d40afb9f-0197-1000-0000-0000634194d4"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"550a3921-2bb9-3f25-9ddb-a5aa9af15502","instanceIdentifier":"d4367c31-0197-1000-0000-000065131f95","name":"","source":{"id":"0fb152e1-d9fc-3f62-0000-0000105b7982","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"63159771-67e5-39a0-a279-7a718db8f803"},"destination":{"id":"d6c9da1e-b52e-33e8-ffff-ffffa8c34717","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Download Excel File","comments":"","instanceIdentifier":"cb86e27a-43a6-36f2-bdab-c56fa007c680"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"6ff8c0d8-ff49-3450-b6db-11fd1b30f8ab","instanceIdentifier":"d4ce48d9-0197-1000-0000-000024e6a885","name":"","source":{"id":"9077001f-5e84-3c54-80f9-50e3e65d3f33","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"UpdateAttribute","comments":"","instanceIdentifier":"d4cded7e-0197-1000-ffff-ffff9dff5846"},"destination":{"id":"67d13a04-02e9-342e-ffff-ffffb4a399fa","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Save Excel File","comments":"","instanceIdentifier":"71675d5c-a520-32a9-9198-4d5feaf5b6de"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"ee6c1aa0-6de5-3a44-9568-ac5e66be1513","instanceIdentifier":"d423f27c-0197-1000-0000-0000558cfe71","name":"","source":{"id":"c053d5e1-416a-3009-a6b3-36674e733260","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Extract Access Token","comments":"","instanceIdentifier":"d3d1cb13-0197-1000-ffff-ffffe58fa49f"},"destination":{"id":"6c044bbf-2a96-30c3-8b86-624e286b8200","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"d4239428-0197-1000-0000-000028e7634c"},"labelIndex":0,"zIndex":5,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"b73c146a-d219-3de4-ac1d-89f222ed564a","instanceIdentifier":"d4ce2d3f-0197-1000-ffff-ffffb9e0f327","name":"","source":{"id":"d6c9da1e-b52e-33e8-ffff-ffffa8c34717","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Download Excel File","comments":"","instanceIdentifier":"cb86e27a-43a6-36f2-bdab-c56fa007c680"},"destination":{"id":"9077001f-5e84-3c54-80f9-50e3e65d3f33","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"UpdateAttribute","comments":"","instanceIdentifier":"d4cded7e-0197-1000-ffff-ffff9dff5846"},"labelIndex":0,"zIndex":15,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"1af8af25-a09d-3fe5-be10-c4dee09106e6","instanceIdentifier":"d4d36b45-0197-1000-ffff-ffff8ecac40e","name":"","source":{"id":"67d13a04-02e9-342e-ffff-ffffb4a399fa","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Save Excel File","comments":"","instanceIdentifier":"71675d5c-a520-32a9-9198-4d5feaf5b6de"},"destination":{"id":"aabfee1a-b3e2-3036-8c27-3ce5f6c24dee","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Exceltojson","comments":"","instanceIdentifier":"d4b9ee71-0197-1000-0000-00003d223e7a"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"5d9ef37f-6ae0-35e3-aeda-ea49a8fe47e8","instanceIdentifier":"d434fdf3-0197-1000-ffff-ffffb42980d4","name":"","source":{"id":"6c044bbf-2a96-30c3-8b86-624e286b8200","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"d4239428-0197-1000-0000-000028e7634c"},"destination":{"id":"0fb152e1-d9fc-3f62-0000-0000105b7982","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"63159771-67e5-39a0-a279-7a718db8f803"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"e4c6d760-03ce-37a6-9e40-0bc1dd839b78","instanceIdentifier":"d40bb380-0197-1000-0000-0000716eb3ea","name":"","source":{"id":"2a4d8d92-3c6c-390f-a1ea-5bf38163535f","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"d40afb9f-0197-1000-0000-0000634194d4"},"destination":{"id":"c053d5e1-416a-3009-a6b3-36674e733260","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Extract Access Token","comments":"","instanceIdentifier":"d3d1cb13-0197-1000-ffff-ffffe58fa49f"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"ebd897bf-96d8-378e-a354-9ca245eb43f7","instanceIdentifier":"d40b98d0-0197-1000-0000-0000569c3f4a","name":"","source":{"id":"2a4d8d92-3c6c-390f-a1ea-5bf38163535f","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"d40afb9f-0197-1000-0000-0000634194d4"},"destination":{"id":"480cb647-9e1f-3df0-9295-9dc707c81687","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d40b57ca-0197-1000-0000-000050bb787c"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"9e4b7dc6-a844-3050-abbb-a98e1a5f293c","instanceIdentifier":"da0d4126-0197-1000-0000-00000df43822","name":"","source":{"id":"80c68b16-b907-3c07-ffff-ffff9830abe9","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"exsisting employee data","comments":"","instanceIdentifier":"ebfcaf16-d6a6-3c57-92fe-6179934c04c5"},"destination":{"id":"0309ba70-bebc-3787-0000-00003983913c","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Resume Standardisation","comments":"","instanceIdentifier":"d160a517-29f7-3861-af5d-a81709aa411c"},"labelIndex":0,"zIndex":26,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"9c5921e7-59d7-328d-8061-6e7bd5cba704","instanceIdentifier":"d53362e0-0197-1000-0000-000031fd2b05","name":"","source":{"id":"aabfee1a-b3e2-3036-8c27-3ce5f6c24dee","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Exceltojson","comments":"","instanceIdentifier":"d4b9ee71-0197-1000-0000-00003d223e7a"},"destination":{"id":"f5e6f963-8dd5-3077-9bff-444003426937","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"SplitJson","comments":"","instanceIdentifier":"d51a6b4a-0197-1000-0000-00003e34047a"},"labelIndex":0,"zIndex":24,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"a6987ece-5682-374d-97ee-5179ae35933f","instanceIdentifier":"d43693ec-0197-1000-0000-0000798fb073","name":"","source":{"id":"0fb152e1-d9fc-3f62-0000-0000105b7982","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"63159771-67e5-39a0-a279-7a718db8f803"},"destination":{"id":"22cc9001-c84d-3260-88c8-701f45bc750f","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d418ddc8-0197-1000-ffff-fffffbb60a3c"},"labelIndex":0,"zIndex":9,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"b0a714c1-f84d-37cc-b5f4-725a217e4bc0","instanceIdentifier":"da723a33-0197-1000-ffff-ffffeca0553b","name":"","source":{"id":"902f8a17-4ebb-33bf-ffff-fffff38d59d8","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Insert to elastic","comments":"","instanceIdentifier":"1f0893bc-715b-3f88-83e7-7d9459d0a6e9"},"destination":{"id":"7f7b1474-be08-35ae-0000-00003a3626d9","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"6b062e7f-fa12-3579-a2bd-36b1ac85f788"},"labelIndex":0,"zIndex":32,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"d9d7376f-04dd-352d-97de-cd4c348796b8","instanceIdentifier":"d436c93e-0197-1000-0000-00000b39d520","name":"","source":{"id":"d6c9da1e-b52e-33e8-ffff-ffffa8c34717","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Download Excel File","comments":"","instanceIdentifier":"cb86e27a-43a6-36f2-bdab-c56fa007c680"},"destination":{"id":"22cc9001-c84d-3260-88c8-701f45bc750f","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d418ddc8-0197-1000-ffff-fffffbb60a3c"},"labelIndex":0,"zIndex":10,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"7a4ce5eb-dc45-3891-b0fb-d6b57be6a923","instanceIdentifier":"da0ddaed-0197-1000-ffff-ffffe5872768","name":"","source":{"id":"0309ba70-bebc-3787-0000-00003983913c","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Resume Standardisation","comments":"","instanceIdentifier":"d160a517-29f7-3861-af5d-a81709aa411c"},"destination":{"id":"51846de0-0b24-3a56-8daa-8bd62e455f68","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d526acfe-0197-1000-ffff-ffffbaad5f46"},"labelIndex":0,"zIndex":29,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"0ef73ca7-a6f1-3199-a829-178ae19b3a60","instanceIdentifier":"d4bfcf1d-0197-1000-ffff-ffffd88137ec","name":"","source":{"id":"aabfee1a-b3e2-3036-8c27-3ce5f6c24dee","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Exceltojson","comments":"","instanceIdentifier":"d4b9ee71-0197-1000-0000-00003d223e7a"},"destination":{"id":"8cf1c497-7cd5-32c1-82f6-5309a7f5bba1","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d4be5f8b-0197-1000-ffff-ffffd8f6256a"},"labelIndex":0,"zIndex":13,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"c3cf3a3d-ea79-3c63-be45-9e11a20d3a94","instanceIdentifier":"d9fc874e-0197-1000-0000-00000afab0ef","name":"","source":{"id":"f5e6f963-8dd5-3077-9bff-444003426937","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"SplitJson","comments":"","instanceIdentifier":"d51a6b4a-0197-1000-0000-00003e34047a"},"destination":{"id":"80c68b16-b907-3c07-ffff-ffff9830abe9","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"exsisting employee data","comments":"","instanceIdentifier":"ebfcaf16-d6a6-3c57-92fe-6179934c04c5"},"labelIndex":0,"zIndex":25,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"a830b089-e377-32b1-8d59-be5a22d49715","instanceIdentifier":"da0db46c-0197-1000-ffff-ffffcb16274c","name":"","source":{"id":"80c68b16-b907-3c07-ffff-ffff9830abe9","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"exsisting employee data","comments":"","instanceIdentifier":"ebfcaf16-d6a6-3c57-92fe-6179934c04c5"},"destination":{"id":"51846de0-0b24-3a56-8daa-8bd62e455f68","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d526acfe-0197-1000-ffff-ffffbaad5f46"},"labelIndex":0,"zIndex":28,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"88eb9e5b-76f9-332e-80c8-e1253184ac4e","instanceIdentifier":"d526ea5d-0197-1000-0000-00002c49223b","name":"","source":{"id":"f5e6f963-8dd5-3077-9bff-444003426937","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"SplitJson","comments":"","instanceIdentifier":"d51a6b4a-0197-1000-0000-00003e34047a"},"destination":{"id":"51846de0-0b24-3a56-8daa-8bd62e455f68","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d526acfe-0197-1000-ffff-ffffbaad5f46"},"labelIndex":0,"zIndex":23,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"6e9c0aad-7e66-3383-a482-18261a4a189a","instanceIdentifier":"d42419f8-0197-1000-0000-0000799a65f7","name":"","source":{"id":"6c044bbf-2a96-30c3-8b86-624e286b8200","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"ExecuteScript","comments":"","instanceIdentifier":"d4239428-0197-1000-0000-000028e7634c"},"destination":{"id":"22cc9001-c84d-3260-88c8-701f45bc750f","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"d418ddc8-0197-1000-ffff-fffffbb60a3c"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"a7ba473b-9881-3374-8433-fe9650ac0c14","instanceIdentifier":"d514cba6-0197-1000-ffff-ffffe3e5c8ef","name":"","source":{"id":"db176ba0-f154-3df2-0000-0000070a26d0","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Generate Trigger","comments":"","instanceIdentifier":"75c480e7-3ca2-3e6c-8bfa-c8d7bedb55cf"},"destination":{"id":"aabfee1a-b3e2-3036-8c27-3ce5f6c24dee","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Exceltojson","comments":"","instanceIdentifier":"d4b9ee71-0197-1000-0000-00003d223e7a"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"1ce4ecee-cefa-356f-904f-c0f8fe8962c7","instanceIdentifier":"da4b105c-0197-1000-0000-0000564fc53b","name":"","source":{"id":"0309ba70-bebc-3787-0000-00003983913c","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Resume Standardisation","comments":"","instanceIdentifier":"d160a517-29f7-3861-af5d-a81709aa411c"},"destination":{"id":"902f8a17-4ebb-33bf-ffff-fffff38d59d8","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Insert to elastic","comments":"","instanceIdentifier":"1f0893bc-715b-3f88-83e7-7d9459d0a6e9"},"labelIndex":0,"zIndex":30,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"},{"identifier":"44babe83-192d-3129-a14d-039012ca883f","instanceIdentifier":"da6d10f3-0197-1000-0000-00005d6457bd","name":"","source":{"id":"902f8a17-4ebb-33bf-ffff-fffff38d59d8","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"Insert to elastic","comments":"","instanceIdentifier":"1f0893bc-715b-3f88-83e7-7d9459d0a6e9"},"destination":{"id":"19a082d8-4947-3f13-ac11-4cacef6e8d47","type":"PROCESSOR","groupId":"6c8c13e4-b658-3e65-992e-5846b064f2d6","name":"LogAttribute","comments":"","instanceIdentifier":"da6cf3c7-0197-1000-ffff-ffff9521ed32"},"labelIndex":0,"zIndex":31,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c8c13e4-b658-3e65-992e-5846b064f2d6"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}