nifi_pipelines/HRBot_MCP/Resume_ingestion-Dhruv-Gupta/Resume_Ingestion.json
{"flowContents":{"identifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee","instanceIdentifier":"b0af670f-0197-1000-0000-000050d82440","name":"Resume_Ingestion","comments":"","position":{"x":-1320.0,"y":184.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8d0243d7-0197-1000-8aaf-f1bfd1b825ba","instanceIdentifier":"dce9e9f7-4d24-3abe-861a-0b12d03476fb","name":"UpdateAttribute","comments":"","position":{"x":-1928.0,"y":840.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${employee_id}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"86d07270-0197-1000-e51e-ce7eb9039b3c","instanceIdentifier":"b1b74ea4-240a-348f-988b-243a782957b1","name":"LogAttribute","comments":"","position":{"x":-1200.0,"y":368.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"40b442c2-abb0-3ea0-0000-00000ae536e4","instanceIdentifier":"a38adc97-02bb-3c0f-80ea-f461fc2bee31","name":"Insert to elastic","comments":"","position":{"x":-1296.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"4096","Output MIME Type":"application/json","Working Directory":"/home/nifi/nifi2/users/dhruv/hrbotingestion","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Output Destination Attribute":null,"Argument Delimiter":" ","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/dhruv/hrbotingestion/elastic_db_update.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"7d350675-0197-1000-f466-45b4a6b02bac","instanceIdentifier":"ed0fdde8-fd9b-3650-b7d1-cd69cf9e86a5","name":"HandleHttpResponse","comments":"","position":{"x":-1344.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"HTTP Context Map":"7876b4c8-35e3-3a8a-86e0-170bc94da534","Attributes to add to the HTTP Response (Regex)":"uploaded successfully","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"aff70b20-8250-32b4-bade-2253df4cc15b","instanceIdentifier":"c8d77ed3-d3b9-39f1-b283-896343ecf048","name":"UpdateAttribute","comments":"","position":{"x":-1896.0,"y":-448.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${http.multipart.filename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"ce80b050-63eb-3430-ffff-ffffdf1ada70","instanceIdentifier":"b47cf562-ba63-328c-9198-4a44e2f86b7f","name":"embedd generation","comments":"","position":{"x":-1896.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"AWS_REGION":"us-west-2","argumentsStrategy":"Command Arguments Property","Working Directory":"/home/nifi/nifi2/users/yogesh/codes","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/yogesh/codes/embedding.py","Max Attribute Length":"256","Output MIME Type":null,"Output Destination Attribute":null,"EMBEDDING_PROVIDER":"azure","EMBEDDING_MODEL":"text-embedding-ada-002","AZURE_OPENAI_EMBEDDING_MODEL":"text-embedding-ada-002"},"propertyDescriptors":{"AWS_REGION":{"name":"AWS_REGION","displayName":"AWS_REGION","identifiesControllerService":false,"sensitive":false,"dynamic":true},"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AZURE_OPENAI_KEY":{"name":"AZURE_OPENAI_KEY","displayName":"AZURE_OPENAI_KEY","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AZURE_OPENAI_ENDPOINT":{"name":"AZURE_OPENAI_ENDPOINT","displayName":"AZURE_OPENAI_ENDPOINT","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"EMBEDDING_PROVIDER":{"name":"EMBEDDING_PROVIDER","displayName":"EMBEDDING_PROVIDER","identifiesControllerService":false,"sensitive":false,"dynamic":true},"EMBEDDING_MODEL":{"name":"EMBEDDING_MODEL","displayName":"EMBEDDING_MODEL","identifiesControllerService":false,"sensitive":false,"dynamic":true},"AZURE_OPENAI_EMBEDDING_MODEL":{"name":"AZURE_OPENAI_EMBEDDING_MODEL","displayName":"AZURE_OPENAI_EMBEDDING_MODEL","identifiesControllerService":false,"sensitive":false,"dynamic":true},"AZURE_OPENAI_API_VERSION":{"name":"AZURE_OPENAI_API_VERSION","displayName":"AZURE_OPENAI_API_VERSION","identifiesControllerService":false,"sensitive":true,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"84c3a0de-ac32-38dc-896d-a7d559d75030","instanceIdentifier":"aac74e19-0197-1000-ffff-ffffbeac26ba","name":"Remove Uploaded Resume No longer needed","comments":"","position":{"x":-1912.0,"y":136.0},"type":"org.apache.nifi.processors.standard.DeleteFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Filename":"${filename}","Directory Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/data"},"propertyDescriptors":{"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory Path":{"name":"Directory Path","displayName":"Directory Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"2e2273a3-3ab5-3aab-a4e3-7ed3fe425bbe","instanceIdentifier":"4a57a92c-79e2-35cd-94a1-26e5a5e4397f","name":"FetchFile","comments":"","position":{"x":-1912.0,"y":368.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/home/nifi/nifi2/users/dhruv/hrbotingestion/data/${filename:replaceAll('\\\\.[^.]+$', '.json')}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"8290de9b-0197-1000-1083-5ac8597871d7","instanceIdentifier":"afa50d48-9e18-30fd-85af-c62ecc5e6110","name":"LogAttribute","comments":"","position":{"x":-992.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"f7d660d9-cf20-3a12-aedd-388ff1f5a608","instanceIdentifier":"e22eae86-1a02-3972-b346-e683a00032ca","name":"Resume Standardisation","comments":"","position":{"x":-1912.0,"y":688.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Extract employee_id from filename (e.g., \"123456.json\" → \"123456\")\n    def filename = flowFile.getAttribute(\"filename\")\n   \tdef employeeId = filename.replaceFirst(/\\.[^.]+$/, \"\")\n\n\n\n    // Azure OpenAI configuration\n    def API_KEY = \"\"\n    def ENDPOINT = \"https://us-tax-law-rag-demo.openai.azure.com\"\n    def DEPLOYMENT = \"gpt-4o-mini\"\n    def API_VERSION = \"2024-08-01-preview\"\n\n    // Read content from FlowFile\n    def contentStream = session.read(flowFile)\n    def resumeJson = new JsonSlurper().parseText(IOUtils.toString(contentStream, StandardCharsets.UTF_8))\n    contentStream.close()\n\n    def content = resumeJson.content ?: \"\"\n    def links = resumeJson.links ?: []\n\n    if (!content?.trim()) {\n        log.warn(\"⚠️ Empty resume content, skipping.\")\n        session.transfer(flowFile, REL_FAILURE)\n        return\n    }\n\n    // Build the standardizer prompt\n    def prompt = \"\"\"\nYou are an intelligent and robust context-aware resume standardizer. Your task is to convert resume content into a clean, structured, normalized/standardized JSON format suitable for both semantic retrieval and relational database storage.\n\n--- PARSED RESUME CONTENT ---\nThe content has been parsed using *LlamaParse*, so please note:\n- It is formatted in markdown-style text.\n- Section names like Education, Experience, Projects, Skills, etc., are likely to be marked by headings or bullet points.\n- The resume templates can vary significantly. For example, \"Professional Experience\", \"Work History\", or \"Employment\" may all refer to the same section. We need you for Normalizing such variants into the defined structure mentioned below.\n- Some artifacts or repetition may occur due to Llama Parse not being able to understand the text is embedded link.\n\n--- EXTRACTED HYPERLINKS ---\nThe hyperlinks have been extracted using *Fitz*. Please note:\n- The links are mostly accurate, but the anchor texts may be confusing and should not be blindly trusted.\n- Only use a link where the surrounding content makes the intent clear (e.g., GitHub → social, certificate → certifications).\n\n--- RESUME CONTENT ---\n\\\"\\\"\\\"${content}\\\"\\\"\\\"\n\n--- HYPERLINKS (Extracted from PDF) ---\n${JsonOutput.prettyPrint(JsonOutput.toJson(links))}\n\n--- STANDARDIZED STRUCTURE ---\nConvert the resume to a JSON object strictly following this structure:\n\n{\n  \"employee_id\": str,\n  \"name\": str,\n  \"email\": str,\n  \"phone\": str,\n  \"location\": str,\n  \"summary\": str,\n  \"education\": [\n    {\n      \"degree\": str,\n      \"institution\": str,\n      \"year\": int or str\n    }\n  ],\n  \"experience\": [\n    {\n      \"title\": str,\n      \"company\": str,\n      \"duration\": str,\n      \"location\": str (optional),\n      \"description\": str\n    }\n  ],\n  \"skills\": [str],\n  \"projects\": [\n    {\n      \"title\": str,\n      \"description\": str,\n      \"link\": str (optional)\n    }\n  ],\n  \"certifications\": [\n    {\n      \"title\": str,\n      \"issuer\": str (optional),\n      \"year\": str or int (optional),\n      \"link\": str (only if it can be reliably mapped from extracted hyperlinks)\n    }\n  ],\n  \"languages\": [str],\n  \"social_profiles\": [\n    {\n      \"platform\": str,\n      \"link\": str\n    }\n  ]\n}\n\n--- GUIDELINES ---\n- Strictly follow the above structure. Do not introduce or remove fields arbitrarily.\n- Do not change the structure based on data availability. Keep all keys present, with empty arrays if needed.\n- Avoid assumptions. Only use data present in the parsed content or reliably inferred via links.\n- Ensure all meaningful content is preserved — even if duplicated or malformed in parsing.\n- Output only a valid JSON object. Do not wrap in markdown or include any extra commentary.\n\nThe quality of your standardization directly impacts downstream processing. Ensure robustness and consistency in formatting across all resumes.\n\"\"\"\n\n    // Prepare HTTP request to Azure OpenAI\n    def requestBody = JsonOutput.toJson([\n        messages: [\n            [role: \"system\", content: \"You are a helpful assistant that formats resumes into structured JSON.\"],\n            [role: \"user\", content: prompt]\n        ],\n        temperature: 0.2,\n        max_tokens: 6000\n    ])\n\n    def conn = new URL(\"${ENDPOINT}/openai/deployments/${DEPLOYMENT}/chat/completions?api-version=${API_VERSION}\")\n            .openConnection()\n    conn.setRequestMethod(\"POST\")\n    conn.setDoOutput(true)\n    conn.setRequestProperty(\"Content-Type\", \"application/json\")\n    conn.setRequestProperty(\"api-key\", API_KEY)\n\n    conn.outputStream.withWriter(\"UTF-8\") { it.write(requestBody) }\n\n    def responseText = conn.inputStream.withReader(\"UTF-8\") { it.text }\n    def parsed = new JsonSlurper().parseText(responseText)\n\n    def rawLLM = parsed.choices[0].message.content?.trim()\n    def cleaned = rawLLM?.replaceAll(/(?s)```(json)?/, \"\")?.trim()\n    def standardized = new JsonSlurper().parseText(cleaned)\n\n    // Inject employee_id into standardized result\n    standardized.employee_id = employeeId\n\n    def finalJson = JsonOutput.prettyPrint(JsonOutput.toJson(standardized))\n\n    // Write result to FlowFile content\n    flowFile = session.write(flowFile, { out ->\n        out.write(finalJson.getBytes(StandardCharsets.UTF_8))\n    } as OutputStreamCallback)\n\n    // Set employee_id as attribute\n    flowFile = session.putAttribute(flowFile, \"employee_id\", employeeId)\n\n    session.transfer(flowFile, REL_SUCCESS)\n\n} catch (Exception e) {\n    log.error(\"❌ Error during resume standardization: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"87918b12-0197-1000-1f39-6a15da400cfc","instanceIdentifier":"fcbf0ad4-0b98-3a04-a313-28e4d38dc54a","name":"EvaluateJsonPath","comments":"","position":{"x":-1896.0,"y":528.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","filename":"$.file","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","links":"$.links","Character Set":"UTF-8","content":"$.content","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"links":{"name":"links","displayName":"links","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content":{"name":"content","displayName":"content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"7d940907-0197-1000-915a-8544c588a0b5","instanceIdentifier":"91a7c796-c661-331c-ba22-502fc721100e","name":"PutFile","comments":"","position":{"x":-1928.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":"664","Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/nifi2/users/dhruv/hrbotingestion/data","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"24fbb48f-c7d5-3a2d-a381-7c389de7c0da","instanceIdentifier":"b1d363b5-c846-35aa-94ca-414081571c63","name":"Resume Parsing","comments":"","position":{"x":-1912.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"4096","Output MIME Type":"application/json","Working Directory":"/home/nifi/nifi2/users/dhruv/hrbotingestion","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/dhruv/hrbotingestion/resume_parser3.py;/home/nifi/nifi2/users/dhruv/hrbotingestion/data/${filename}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"8c506975-0197-1000-ad62-35d0ed5afb3f","instanceIdentifier":"91f01223-8b5c-3ce0-9f11-905afb5b7281","name":"LogAttribute","comments":"","position":{"x":-1328.0,"y":672.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"d55c7307-f1a9-3362-0000-000048bc75cb","instanceIdentifier":"5d94b508-2e11-30fe-9a3c-13a5c1ccd6a6","name":"LogAttribute","comments":"","position":{"x":-1336.0,"y":520.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"69592d11-5930-38a1-ffff-ffffdf1ada70","instanceIdentifier":"af447391-7a21-3b77-abc4-1588427b4596","name":"insert to elastic","comments":"","position":{"x":-1912.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/nifi/nifi2/users/yogesh/codes","Command Path":"/home/nifi/nifi2/users/dhruv/hrbotingestion/venv/bin/python3","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/nifi/nifi2/users/yogesh/codes/insert.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"8e94176a-d0ec-31cf-ffff-ffffeb0606e5","instanceIdentifier":"59931720-4b0d-37c5-92ec-f4db39d42269","name":"LogAttribute","comments":"","position":{"x":-856.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"3649282c-1c94-3d50-ffff-ffffaa372200","instanceIdentifier":"e3208909-8a07-35c0-bc8f-03e0abfe142b","name":"File Input","comments":"","position":{"x":-1904.0,"y":-824.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"multipart-request-max-size":"10 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":"0.0.0.0","Default URL Character Set":"UTF-8","Allow DELETE":"false","Request Header Maximum Size":"8 KB","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"7876b4c8-35e3-3a8a-86e0-170bc94da534","multipart-read-buffer-size":"2 MB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/upload","Allow GET":"false","Allow HEAD":"false","Listening Port":"8083","Client Authentication":"No Authentication","Allow PUT":"false"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"31626195-4547-3d8c-ffff-ffffdf1ada70","instanceIdentifier":"c4920ca9-dbdd-3ee5-af43-3e6f6f254767","name":"LogAttribute","comments":"","position":{"x":-2424.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"dd1f56a4-192a-360c-0000-0000022e1f3b","instanceIdentifier":"1570d016-e1ae-346e-8fb2-9073c460d2af","name":"LogAttribute","comments":"","position":{"x":-1224.0,"y":104.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"7d350677-0197-1000-90ed-63a043d2f651","instanceIdentifier":"21f6688f-19fc-32a6-866d-54815b7458cc","name":"LogAttribute","comments":"","position":{"x":-1256.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"6abb3cf6-f523-38ce-ffff-ffffd5dda55e","instanceIdentifier":"060abf39-4640-3dbf-832c-3679150ba68d","name":"LogAttribute","comments":"","position":{"x":-648.0,"y":1496.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"c970c780-7c9b-3d7b-ffff-ffffdf1ada70","instanceIdentifier":"b7e956a6-7141-32d3-9318-bef74eca96bf","name":"flatten json","comments":"","position":{"x":-1888.0,"y":1024.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.4.0"},"properties":{"groovyx-script-body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport java.io.InputStream\nimport java.io.OutputStream\nimport java.io.IOException\nimport org.apache.nifi.processor.io.InputStreamCallback\nimport org.apache.nifi.processor.io.OutputStreamCallback\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def content = ''\n\n    // Read JSON input from FlowFile content\n    session.read(flowFile, new InputStreamCallback() {\n        @Override\n        void process(InputStream inputStream) throws IOException {\n            content = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        }\n    })\n\n    if (!content?.trim()) throw new IllegalArgumentException(\"FlowFile content is empty\")\n\n    def parsed = new JsonSlurper().parseText(content.trim())\n    if (!(parsed instanceof List)) {\n        parsed = [parsed]  // Convert to list if single JSON object\n    }\n\n    parsed.eachWithIndex { doc, idx ->\n        def name = doc['name']?.toString()?.replaceAll(\"\\\\s+\", \"_\") ?: \"unknown\"\n        def empId = doc['employee_id']?.toString() ?: idx.toString()\n        def filename = \"${empId}_${name}.txt\"\n        def outputJson = JsonOutput.toJson([\n            filename: filename,\n            text: doc.toString()\n        ])\n\n        def ff = session.create(flowFile)\n        session.write(ff, new OutputStreamCallback() {\n            @Override\n            void process(OutputStream out) throws IOException {\n                out.write(JsonOutput.prettyPrint(outputJson).getBytes(StandardCharsets.UTF_8))\n            }\n        })\n\n        session.transfer(ff, REL_SUCCESS)\n    }\n\n    session.remove(flowFile)\n\n} catch (Exception e) {\n    log.error(\"ExecuteScript Error: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}\n","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f0c9a830-539c-3d80-adc3-9993d8cd74f5","instanceIdentifier":"842c434d-48ef-3626-9e0e-06c75fde98d8","name":"","source":{"id":"2e2273a3-3ab5-3aab-a4e3-7ed3fe425bbe","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"FetchFile","comments":"","instanceIdentifier":"4a57a92c-79e2-35cd-94a1-26e5a5e4397f"},"destination":{"id":"87918b12-0197-1000-1f39-6a15da400cfc","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fcbf0ad4-0b98-3a04-a313-28e4d38dc54a"},"labelIndex":0,"zIndex":36,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"6d55cc05-b659-3745-ad55-d6e9ee8a8436","instanceIdentifier":"994cd73f-2042-3ccb-83e0-0c6f5fbc3ae0","name":"","source":{"id":"f7d660d9-cf20-3a12-aedd-388ff1f5a608","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Resume Standardisation","comments":"","instanceIdentifier":"e22eae86-1a02-3972-b346-e683a00032ca"},"destination":{"id":"8d0243d7-0197-1000-8aaf-f1bfd1b825ba","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"UpdateAttribute","comments":"","instanceIdentifier":"dce9e9f7-4d24-3abe-861a-0b12d03476fb"},"labelIndex":0,"zIndex":42,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"6c284979-b6df-3d09-bdac-a8571e4a7a3e","instanceIdentifier":"aad0c397-0197-1000-0000-0000372faef0","name":"","source":{"id":"24fbb48f-c7d5-3a2d-a381-7c389de7c0da","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Resume Parsing","comments":"","instanceIdentifier":"b1d363b5-c846-35aa-94ca-414081571c63"},"destination":{"id":"84c3a0de-ac32-38dc-896d-a7d559d75030","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Remove Uploaded Resume No longer needed","comments":"","instanceIdentifier":"aac74e19-0197-1000-ffff-ffffbeac26ba"},"labelIndex":0,"zIndex":46,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"c98bcb5a-a7cb-3fcb-98f0-6826dad151f2","instanceIdentifier":"91f1a5fa-eb7b-3c89-a20e-aa9efd54c222","name":"","source":{"id":"7d940907-0197-1000-915a-8544c588a0b5","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"PutFile","comments":"","instanceIdentifier":"91a7c796-c661-331c-ba22-502fc721100e"},"destination":{"id":"24fbb48f-c7d5-3a2d-a381-7c389de7c0da","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Resume Parsing","comments":"","instanceIdentifier":"b1d363b5-c846-35aa-94ca-414081571c63"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"67b7be42-95f7-38be-ffff-ffffdf1ada70","instanceIdentifier":"8d2f78fb-856a-36c6-973e-16de05496cc7","name":"","source":{"id":"69592d11-5930-38a1-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"insert to elastic","comments":"","instanceIdentifier":"af447391-7a21-3b77-abc4-1588427b4596"},"destination":{"id":"31626195-4547-3d8c-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"c4920ca9-dbdd-3ee5-af43-3e6f6f254767"},"labelIndex":0,"zIndex":29,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"822ec8ff-a6a7-347f-ffff-ffffdf1ada70","instanceIdentifier":"aeb2985e-2b65-3d14-a5c7-59383876caf5","name":"","source":{"id":"c970c780-7c9b-3d7b-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"flatten json","comments":"","instanceIdentifier":"b7e956a6-7141-32d3-9318-bef74eca96bf"},"destination":{"id":"31626195-4547-3d8c-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"c4920ca9-dbdd-3ee5-af43-3e6f6f254767"},"labelIndex":0,"zIndex":27,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"a6bc8d46-6029-3f6a-8f4e-d893a4624016","instanceIdentifier":"a6b6e4b7-b167-3638-a079-0077063baf85","name":"","source":{"id":"2e2273a3-3ab5-3aab-a4e3-7ed3fe425bbe","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"FetchFile","comments":"","instanceIdentifier":"4a57a92c-79e2-35cd-94a1-26e5a5e4397f"},"destination":{"id":"86d07270-0197-1000-e51e-ce7eb9039b3c","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"b1b74ea4-240a-348f-988b-243a782957b1"},"labelIndex":0,"zIndex":30,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"7d51cb37-ed5f-36a1-ffff-ffffdf1ada70","instanceIdentifier":"8ad24911-9106-3ddf-af5a-573d62be185a","name":"","source":{"id":"ce80b050-63eb-3430-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"embedd generation","comments":"","instanceIdentifier":"b47cf562-ba63-328c-9198-4a44e2f86b7f"},"destination":{"id":"69592d11-5930-38a1-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"insert to elastic","comments":"","instanceIdentifier":"af447391-7a21-3b77-abc4-1588427b4596"},"labelIndex":0,"zIndex":13,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"d1f75fae-9509-3160-b247-b81a18a9e6f5","instanceIdentifier":"aaefe397-0197-1000-ffff-ffffbba80282","name":"","source":{"id":"87918b12-0197-1000-1f39-6a15da400cfc","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fcbf0ad4-0b98-3a04-a313-28e4d38dc54a"},"destination":{"id":"d55c7307-f1a9-3362-0000-000048bc75cb","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"5d94b508-2e11-30fe-9a3c-13a5c1ccd6a6"},"labelIndex":0,"zIndex":56,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"967957e0-809d-3203-8e18-7e9bc34fd6ce","instanceIdentifier":"aad66556-0197-1000-ffff-ffffd4f04dc3","name":"","source":{"id":"3649282c-1c94-3d50-ffff-ffffaa372200","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"File Input","comments":"","instanceIdentifier":"e3208909-8a07-35c0-bc8f-03e0abfe142b"},"destination":{"id":"aff70b20-8250-32b4-bade-2253df4cc15b","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8d77ed3-d3b9-39f1-b283-896343ecf048"},"labelIndex":0,"zIndex":50,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"e1dd17d2-6dfe-3c71-a33b-7f83b5e10e1d","instanceIdentifier":"f8a1bbef-7440-3788-a210-b86800a87871","name":"","source":{"id":"24fbb48f-c7d5-3a2d-a381-7c389de7c0da","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Resume Parsing","comments":"","instanceIdentifier":"b1d363b5-c846-35aa-94ca-414081571c63"},"destination":{"id":"7d350677-0197-1000-90ed-63a043d2f651","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"21f6688f-19fc-32a6-866d-54815b7458cc"},"labelIndex":0,"zIndex":21,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"0534d276-a5d6-3344-ffff-ffffdf1ada70","instanceIdentifier":"da09be13-1f4f-36df-99b6-a843c59180ca","name":"","source":{"id":"ce80b050-63eb-3430-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"embedd generation","comments":"","instanceIdentifier":"b47cf562-ba63-328c-9198-4a44e2f86b7f"},"destination":{"id":"31626195-4547-3d8c-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"c4920ca9-dbdd-3ee5-af43-3e6f6f254767"},"labelIndex":0,"zIndex":28,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"d059e389-4b1b-3825-8d9c-e9ce249e4f6c","instanceIdentifier":"cbfd7de0-d324-3396-84f2-82e62cf53b20","name":"","source":{"id":"87918b12-0197-1000-1f39-6a15da400cfc","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fcbf0ad4-0b98-3a04-a313-28e4d38dc54a"},"destination":{"id":"f7d660d9-cf20-3a12-aedd-388ff1f5a608","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Resume Standardisation","comments":"","instanceIdentifier":"e22eae86-1a02-3972-b346-e683a00032ca"},"labelIndex":0,"zIndex":37,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"96ad57a7-704f-395e-bb13-ce554efa1967","instanceIdentifier":"aaf06815-0197-1000-ffff-fffffed265bc","name":"","source":{"id":"84c3a0de-ac32-38dc-896d-a7d559d75030","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Remove Uploaded Resume No longer needed","comments":"","instanceIdentifier":"aac74e19-0197-1000-ffff-ffffbeac26ba"},"destination":{"id":"dd1f56a4-192a-360c-0000-0000022e1f3b","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"1570d016-e1ae-346e-8fb2-9073c460d2af"},"labelIndex":0,"zIndex":57,"selectedRelationships":["failure","not found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"2975342e-3e2d-33c7-907b-eab19e412fd5","instanceIdentifier":"ab0ab9f6-0197-1000-ffff-ffffaee706fa","name":"","source":{"id":"8d0243d7-0197-1000-8aaf-f1bfd1b825ba","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"UpdateAttribute","comments":"","instanceIdentifier":"dce9e9f7-4d24-3abe-861a-0b12d03476fb"},"destination":{"id":"c970c780-7c9b-3d7b-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"flatten json","comments":"","instanceIdentifier":"b7e956a6-7141-32d3-9318-bef74eca96bf"},"labelIndex":0,"zIndex":58,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"cc671aa4-cc39-322c-bc9f-ae26c3d401cf","instanceIdentifier":"e388a9fd-0197-1000-0000-000041134e30","name":"","source":{"id":"8d0243d7-0197-1000-8aaf-f1bfd1b825ba","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"UpdateAttribute","comments":"","instanceIdentifier":"dce9e9f7-4d24-3abe-861a-0b12d03476fb"},"destination":{"id":"40b442c2-abb0-3ea0-0000-00000ae536e4","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Insert to elastic","comments":"","instanceIdentifier":"a38adc97-02bb-3c0f-80ea-f461fc2bee31"},"labelIndex":0,"zIndex":59,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"f1f08edf-27fc-3ffa-b1d1-20d825dea30d","instanceIdentifier":"84bcb200-095e-3ea7-b714-c0c61a43fe88","name":"","source":{"id":"f7d660d9-cf20-3a12-aedd-388ff1f5a608","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Resume Standardisation","comments":"","instanceIdentifier":"e22eae86-1a02-3972-b346-e683a00032ca"},"destination":{"id":"8c506975-0197-1000-ad62-35d0ed5afb3f","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"91f01223-8b5c-3ce0-9f11-905afb5b7281"},"labelIndex":0,"zIndex":39,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"27200952-2ada-3f9e-89d5-e00dd0451488","instanceIdentifier":"aaef1de3-0197-1000-0000-000075a7c355","name":"","source":{"id":"7d350675-0197-1000-f466-45b4a6b02bac","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"HandleHttpResponse","comments":"","instanceIdentifier":"ed0fdde8-fd9b-3650-b7d1-cd69cf9e86a5"},"destination":{"id":"6abb3cf6-f523-38ce-ffff-ffffd5dda55e","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"060abf39-4640-3dbf-832c-3679150ba68d"},"labelIndex":0,"zIndex":54,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"ed54bdca-d7ec-3e54-a788-44ccf3417eb2","instanceIdentifier":"aad11fa3-0197-1000-ffff-ffffeea4b8d7","name":"","source":{"id":"84c3a0de-ac32-38dc-896d-a7d559d75030","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Remove Uploaded Resume No longer needed","comments":"","instanceIdentifier":"aac74e19-0197-1000-ffff-ffffbeac26ba"},"destination":{"id":"2e2273a3-3ab5-3aab-a4e3-7ed3fe425bbe","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"FetchFile","comments":"","instanceIdentifier":"4a57a92c-79e2-35cd-94a1-26e5a5e4397f"},"labelIndex":0,"zIndex":47,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"362fafc8-fcc5-35c7-afc7-1466abec734c","instanceIdentifier":"e388cb89-0197-1000-ffff-ffffd957d9be","name":"","source":{"id":"40b442c2-abb0-3ea0-0000-00000ae536e4","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"Insert to elastic","comments":"","instanceIdentifier":"a38adc97-02bb-3c0f-80ea-f461fc2bee31"},"destination":{"id":"7d350675-0197-1000-f466-45b4a6b02bac","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"HandleHttpResponse","comments":"","instanceIdentifier":"ed0fdde8-fd9b-3650-b7d1-cd69cf9e86a5"},"labelIndex":0,"zIndex":60,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"122b5e08-4eb6-35d1-85ee-c0312758ec32","instanceIdentifier":"198ab712-7f73-36ba-8533-b37a02f2adf5","name":"","source":{"id":"7d940907-0197-1000-915a-8544c588a0b5","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"PutFile","comments":"","instanceIdentifier":"91a7c796-c661-331c-ba22-502fc721100e"},"destination":{"id":"8290de9b-0197-1000-1083-5ac8597871d7","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"LogAttribute","comments":"","instanceIdentifier":"afa50d48-9e18-30fd-85af-c62ecc5e6110"},"labelIndex":0,"zIndex":27,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"b7114ad0-5c42-3cfd-a33a-09d5a13cfc4d","instanceIdentifier":"1e6359d9-b083-31b3-a898-eb49a0711886","name":"","source":{"id":"aff70b20-8250-32b4-bade-2253df4cc15b","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8d77ed3-d3b9-39f1-b283-896343ecf048"},"destination":{"id":"7d940907-0197-1000-915a-8544c588a0b5","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"PutFile","comments":"","instanceIdentifier":"91a7c796-c661-331c-ba22-502fc721100e"},"labelIndex":0,"zIndex":24,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"},{"identifier":"fc02eb91-85fe-3ff4-ffff-ffffdf1ada70","instanceIdentifier":"536c6e42-62ce-3c69-aa38-329ab3501825","name":"","source":{"id":"c970c780-7c9b-3d7b-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"flatten json","comments":"","instanceIdentifier":"b7e956a6-7141-32d3-9318-bef74eca96bf"},"destination":{"id":"ce80b050-63eb-3430-ffff-ffffdf1ada70","type":"PROCESSOR","groupId":"daa3b212-d4bc-36f5-9394-03f2331e9aee","name":"embedd generation","comments":"","instanceIdentifier":"b47cf562-ba63-328c-9198-4a44e2f86b7f"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"daa3b212-d4bc-36f5-9394-03f2331e9aee"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7876b4c8-35e3-3a8a-86e0-170bc94da534","instanceIdentifier":"21644149-05eb-3f8a-9161-da9a609fd442","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.4.0"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b0af670f-0197-1000-0000-000050d82440"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}